{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons static %}

{% block content %}
    <h1>{% trans "Remove recipient" %}</h1>

    <form action="" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12 col-xl-6">
                {% bootstrap_form form layout="floating" %}

                <button type="submit" class="btn btn-outline-danger">{% icon "trash-alt" %} {% trans "Remove" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
