{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons static %}

{% block content %}
    <h1>{% trans "Send news" %}</h1>

    <p>{% trans "Number of recipients:" %} {{ num_recipients }}</p>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        <div class="row mb-3">
            <div class="col-12 col-md-6 align-self-center">
                {% bootstrap_field form.language layout="floating" %}
            </div>
            <div class="col-12 col-md-6 align-self-center">
                {% bootstrap_field form.english layout="floating" %}
            </div>
        </div>

        <div class="mb-4">
            {% bootstrap_field form.subject layout="floating"  %}
        </div>

        <div class="code">
            <pre id="englishbelow">{% include "news/mail/newsletter_english.txt" %}</pre>

            {% for lang, name in form.languages %}
                {% language lang %}
                    <pre id="preface_{{ lang }}" class="mail_preface">{% include "news/mail/newsletter_preface.txt" %}</pre>
                {% endlanguage %}
            {% endfor %}

            {% bootstrap_field form.text show_label=False %}

            {% for lang, name in form.languages %}
                {% language lang %}
                    <pre id="end_{{ lang }}" class="mail_end">{% include "news/mail/newsletter_end.txt" %}</pre>
                {% endlanguage %}
            {% endfor %}

            <div id="block_en">
                {% language "en" %}
                    <pre>{% include "news/mail/newsletter_preface.txt" %}</pre>
                {% endlanguage %}
                {% bootstrap_field form.text_en show_label=False %}
                {% language "en" %}
                    <pre>{% include "news/mail/newsletter_end.txt" %}</pre>
                {% endlanguage %}
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary">{% icon "paper-plane" %} {% trans "Send" %}</button>
    </form>

    <script src="{% static "news/js/send.js" %}"></script>
{% endblock %}
