{% extends "helfertool/base.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Subscribe to newsletter" %}</h1>

    <p>{% trans "We will notify you about future events. Thank you!" %}

    <p>
        {% trans "You changed your mind?" %}
        <a href="{% url "news:unsubscribe" person.token %}" class="ms-1">{% icon "arrow-right" %} {% trans "Unsubscribe" %}</a>
    </p>

    <p>
        <a href="{% url "index" %}" class="btn btn-outline-primary ">
            {% icon "list" %} {% trans "Back to all events" %}
        </a>
    </p>
{% endblock %}
