{% extends "helfertool/base.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Unsubscribe from newsletter" %}</h1>

    {% if person %}
        <p>
            {% blocktrans trimmed with email=person.email %}
                Do not send further mails about upcoming events to {{ email }}?
            {% endblocktrans %}
        </p>

        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">{% icon "trash-alt" %} {% trans "Unsubscribe" %}</button>
        </form>
    {% else %}
        <p>
            {% blocktrans trimmed %}
                This mail address was already deleted.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
