# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# python/django
*.pyc
*.pyo
*.log
*.pot

# upload directory
/media/

# static files
/components/
/static/

# sqlite database
/db.sqlite3*

# local config
/helfertool/settings_local.py
