Django>=1.11
django-modeltranslation>=0.12
django-bootstrap3
django-bower
django-multiselectfield
html5lib==0.999999999
django-bleach
django-ckeditor
django-axes
django_ical
celery
amqp
XlsxWriter
Pillow
reportlab
python-magic>=0.4.12
