Django>=1.11
django-modeltranslation>=0.12.2
django-bootstrap3
django-bower
django-multiselectfield
django-bleach
django-ckeditor
django-axes
django_ical
celery
amqp
XlsxWriter
Pillow
reportlab
python-magic>=0.4.12
