{% extends "helfertool/base.html" %}
{% load i18n django_bootstrap5 icons setting %}

{% block content %}
    <div class="errorpage text-center text-muted">
        <i class="far fa-frown-open display-1"></i>

        <h1 class="message">{% trans "Permission denied" %}</h1>

        <p class="code">{% trans "Error 403" %}</p>

        <p class="link">
            <a href="{% url "index" %}" class="btn btn-outline-primary ">
                {% icon "list" %} {% trans "Show events" %}
            </a>
        </p>

        <p class="link">
            <a href="mailto:{% setting "CONTACT_MAIL" %}" class="btn btn-outline-primary">
                {% icon "envelope" %} {% trans "Contact" %}
            </a>
        </p>
    </div>
{% endblock %}
