{% extends "helfertool/base.html" %}
{% load i18n django_bootstrap5 icons toolsettings %}

{% block content %}
    <div class="errorpage text-center text-muted">
        <em class="far fa-frown-open display-1"></em>

        <h1 class="message">{% trans "Page not found" %}</h1>

        <p class="code">{% trans "Error 404" %}</p>

        <p class="link">
            <a href="{% url "index" %}" class="btn btn-outline-primary ">
                {% icon "list" %} {% trans "Show events" %}
            </a>
        </p>

        <p class="link">
            <a href="mailto:{% djangosetting "CONTACT_MAIL" %}" class="btn btn-outline-primary">
                {% icon "envelope" %} {% trans "Contact" %}
            </a>
        </p>
    </div>
{% endblock %}
