{% extends "helfertool/base.html" %}
{% load i18n bootstrap4 icons setting %}

{% block content %}
    <h1>{% trans "Internal server error" %}</h1>

    <p class="text-muted">{% trans "Error 500" %}</p>

    <p>{% trans "The admins were notified already." %}</p>

    <p class="mt-4">
        <a href="{% url "index" %}" class="btn btn-outline-primary">
            {% icon "list" %} {% trans "Show events" %}
        </a>
        &nbsp;
        <a href="mailto:{% setting "CONTACT_MAIL" %}" class="btn btn-outline-primary">
            {% icon "envelope" %} {% trans "Contact" %}
        </a>
    </p>
{% endblock %}
