{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Add as coordinator" %}</h2>

    {% if form.jobs %}
        <form action="" method="post">
            {% csrf_token %}

            {% bootstrap_form form %}

            <input type="submit" value="{% trans "Add" %}" class="btn btn-outline-primary" />
        </form>
    {% else %}
            <p class="text-muted">{% trans "There are no jobs left for which you have the permission to add coordinators." %}</p>
    {% endif %}
{% endblock %}
