{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load setting %}

{% block admincontent %}
    <h2>{% trans "Add user" %}</h2>

    <div class="alert alert-warning">
        <p>{% trans "The accounts from past events are still there, please do not add a new account if there is already an account." %}</p>

        <p>{% trans "If you forgot the password to the old account, please write to:" %}
            <a href="mailto:{% setting "CONTACT_MAIL" %}">{% setting "CONTACT_MAIL" %}</a></p>
    </div>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form form %}

        <input type="submit" value="{% trans "Add" %}" class="btn btn-outline-primary" />
    </form>
{% endblock %}
