{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
    <h1>{% trans "Coordinators" %}</h1>

    {% for job in event.job_set.all %}
        <h2>{{ job.name }}</h2>

        {% if job.coordinators.count == 0 %}
            <p class="text-muted">{% trans "There are no coordinators for this job." %}</p>
        {% else %}
            <ul class="list-group mb-3">
                {% for coordinator in job.coordinators.all %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            {{ coordinator.full_name }}
                        </div>
                        <div class="col-12 col-md-4">
                            {{ coordinator.email }}
                        </div>
                        <div class="col-12 col-md-4">
                            {{ coordinator.phone }}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
