{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Delete job" %}</h1>

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-description="{% trans 'Data of job' %}">
                <tr>
                    <th scope="row">{% trans "Job" %}</th>
                    <td>{{ job.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Description" %}</th>
                    <td>{{ job.description|safe }}</td>
                </tr>
            </table>

            {% if helpers_registered %}
                <div class="alert alert-danger" role="alert">
                    {% trans "There are registered helpers for some of the shifts!" %}
                </div>
            {% elif job.shift_set.count != 0 %}
                <div class="alert alert-danger" role="alert">
                    {% trans "There are shifts for this job." %}
                </div>
            {% endif %}
        </div>
    </div>

    <form action="{% url 'delete_job' event.url_name job.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <button type="submit" class="btn btn-outline-danger">{% icon "trash-alt" %} {% trans "Delete" %}</button>
    </form>
{% endblock %}
