{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Delete link" %}</h1>

    <form action="" method="post">
        {% csrf_token %}

        <h2>{% trans "Shifts" %}</h2>

        <ul>
            {% for shift in link.shifts.all %}
                <li>{{ shift.job.name }}, {{ shift.time_with_day }}</li>
            {% endfor %}
        </ul>

        {% bootstrap_form_errors form %}

        <button type="submit" class="btn btn-outline-danger">{% icon "trash-alt" %} {% trans "Delete" %}</button>
    </form>
{% endblock %}
