{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Delete shift" %}</h1>

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-description="{% trans 'Data of job' %}">
                <tr>
                    <th scope="row">{% trans "Job" %}</th>
                    <td>{{ shift.job.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Begin" %}</th>
                    <td>{{ shift.begin }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "End" %}</th>
                    <td>{{ shift.end }}</td>
                </tr>
            </table>

            {% if shift.helper_set.count != 0 %}
                <div class="alert alert-danger" role="alert">
                    {% trans "There are registered helpers for this shift!" %}
                </div>
            {% endif %}
        </div>
    </div>

    <form action="{% url 'delete_shift' event.url_name job.pk shift.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <button type="submit" class="btn btn-outline-danger">{% icon "trash-alt" %} {% trans "Delete" %}</button>
    </form>
{% endblock %}
