{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2 id="event-description">{% trans "Delete event" %}</h2>

    <form action="{% url 'delete_event' event.url_name %}" method="post">
        {% csrf_token %}

        {% include "registration/admin/overview_event.html" %}

        <div class="alert alert-danger" role="alert">
            {% trans "Do you want to remove this event with all jobs, shifts and helpers?" %}
        </div>

        {% bootstrap_form_errors form %}

        <input type="submit" value="{% trans "Yes, I want to delete the complete event!" %}" class="btn btn-outline-danger" />
    </form>
{% endblock %}
