{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Delete helper" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        <table class="table">
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ helper.full_name }}</td>
            </tr>
            <tr>
                <th>{% trans "Mail" %}</th>
                <td>{{ helper.email }}</td>
            </tr>
            {% if helper.internal_comment %}
            <tr>
                <th>{% trans "Comment" %}</th>
                <td>{{ helper.internal_comment }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% trans "Shifts" %}</th>
                <td>
                    {% bootstrap_field form.shifts show_label=False %}
                </td>
            </tr>
        </table>

        {% if helper.shifts.count > 1 and not show_all_shifts %}
            <p>
                {% trans "There are more shifts for this helper." %}
                <a href="{% url 'delete_helper_all' event.url_name helper.pk shift.pk %}">
                    {% trans "Show" %}</a>.
            </p>
        {% endif %}

        <div class="alert alert-danger" role="alert">{% trans "Remove the helper from all selected shifts?" %}</div>

        <input type="submit" value="{% trans "Delete" %}" class="btn btn-danger" />
    </form>
{% endblock %}
