{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Delete job" %}</h2>

    <form action="{% url 'delete_job' event.url_name job.pk %}" method="post">
        {% csrf_token %}

        <table class="table">
            <tr>
                <th>{% trans "Job" %}</th>
                <td>{{ job.name }}</td>
            </tr>
            <tr>
                <th>{% trans "Description" %}</th>
                <td>{{ job.description|safe }}</td>
            </tr>
        </table>


        {% if helpers_registered %}
            <div class="alert alert-danger" role="alert">
                {% trans "There are registered helpers for some of the shifts!" %}
            </div>
        {% elif job.shift_set.count != 0 %}
            <div class="alert alert-danger" role="alert">
                {% trans "There are shifts for this job." %}
            </div>
        {% endif %}

        {% bootstrap_form_errors form %}

        <input type="submit" value="{% trans "Delete job" %}" class="btn btn-outline-danger" />
    </form>
{% endblock %}
