{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Delete permission" %}</h2>

    <div class="alert alert-warning" role="alert">
        {% blocktrans trimmed %}
            Delete permission for user {{ user }}?
        {% endblocktrans %}
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-critical">{% trans "Delete permission" %}</button>
    </form>
{% endblock %}
