{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Delete event" %}</h1>

    <div class="alert alert-danger" role="alert">
        {% trans "Do you want to remove this event with all jobs, shifts and helpers?" %}
    </div>

    <form action="{% url 'delete_event' event.url_name %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-outline-danger">{% icon "trash-alt" %} {% trans "Yes, I want to delete the complete event!" %}</button>
    </form>
{% endblock %}
