{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Delete coordinator" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        <table class="table">
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ helper.full_name }}</td>
            </tr>
            <tr>
                <th>{% trans "Mail" %}</th>
                <td>{{ helper.email }}</td>
            </tr>
            <tr>
                <th>{% trans "Job" %}</th>
                <td>{{ job.name }}</td>
            </tr>
        </table>

        <input type="submit" value="{% trans "Remove coordinator from this job" %}" class="btn btn-outline-danger" />
    </form>
{% endblock %}
