{% extends "helfertool/admin.html" %}
{% load i18n icons %}

{% block content %}
    <h1>{% trans "Duplicates" %}</h1>

    <div class="alert alert-secondary" role="alert">
        {% trans "For this detection of helpers that are registered multiple times only the mail address is used." %}
    </div>

    {% for mail, list in duplicated_helpers.items %}
        <h3>{{ mail }}</h3>
        <ul>
            {% for helper in list %}
                <li><a href="{% url "view_helper" event.url_name helper.pk %}">{{ helper.full_name }}</a></li>
            {% endfor %}
        </ul>

        <p>
            <a href="{% url "merge" event.url_name mail %}">
                {% icon "compress" %} {% trans "Merge" %}
            </a>
        </p>
    {% endfor %}
{% endblock %}
