{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Duplicate event" %}</h2>

    <div class="alert alert-info" role="alert">
        <ul>
            <li>{% trans "All jobs, shifts and settings will be copied" %}</li>
            <li>{% trans "The registered helpers and coordinators will <strong>not</strong> be copied" %}</li>
            <li>{% trans "The admins for the event and all jobs will <strong>not</strong> be copied" %}</li>
            <li>{% trans "The begin and end of the shifts are moved according to the given event date" %}</li>
            <li>{% trans "If you want to use the same URL as for the last event, you first have to change the URL name of the old event" %}</li>
        </ul>
    </div>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form form %}

        <input type="submit" value="{% trans "Duplicate" %}" class="btn btn-outline-primary" />
    </form>
{% endblock %}
