{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Duplicate event" %}</h1>

    <div class="alert alert-secondary" role="alert">
        <ul class="mb-0">
            <li>{% trans "All jobs, shifts and settings will be copied" %}</li>
            <li>{% trans "The registered helpers and coordinators will <strong>not</strong> be copied" %}</li>
            <li>{% trans "The admins for the event and all jobs will <strong>not</strong> be copied" %}</li>
            <li>{% trans "The begin and end of the shifts are moved according to the given event date" %}</li>
            <li>{% trans "If you want to use the same URL as for the last event, you first have to change the URL name of the old event" %}</li>
        </ul>
    </div>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form form layout="floating" %}

        <button type="submit" class="btn btn-outline-primary">{% icon "copy" %} {% trans "Duplicate" %}</button>
    </form>
{% endblock %}
