{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    {% if helper %}
        <h1>{{ helper.full_name }}</h1>
    {% else %}
        <h1>{% trans "Add new coordinator" %}</h1>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% include "registration/partials/helper_edit_data.html" with form=form %}

        {% if form.validated %}
            {% bootstrap_field form.validated layout="floating" %}
        {% endif %}

        {% if helper %}
            <div class="alert alert-info" role="alert">
                {% trans "Note: If you change the mail address a confirmation mail will be sent to the new address." %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                {% trans "Note: After saving an e-mail will be sent to the given address." %}

                {% if event.ask_full_age %}
                    <br/><br/><strong>{% trans "Make sure that the coordinator is full age!" %}</strong>
                {% endif %}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-outline-primary">{% icon "save" %} {% trans "Save" %}</button>
    </form>
{% endblock %}
