{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 translation %}

{% block admincontent %}
    <h2>{% trans "Event permissions" %}</h2>

    <div class="alert alert-info">
        <h4 class="alert-heading">{% trans "Role descriptions" %}
            <a class="btn btn-sm btn-outline-primary ml-2 align-top" data-toggle="collapse" href="#roles-collapse" role="button" aria-expanded="false" aria-controls="roles-collapse">
                {% trans "Show" %}
            </a>
        </h4>

        <div id="roles-collapse" class="collapse">
            <h5 class="alert-heading">{% trans "For the whole event" %}</h4>

            <p><b>{% trans "Administrator" %}</b><br />
            {% trans "Can do everything with the event, including deletion and permissions changes." %}</p>

            <p><b>{% trans "Restricted administrator" %}</b><br />
            {% trans "Can manage helpers and all related features, but not change the event settings. The user can not:" %}</p>
            <ul>
                <li>{% trans "Edit or delete the event itself" %}</li>
                <li>{% trans "Create or change links" %}</li>
                <li>{% trans "Change jobs or shifts" %}</li>
                <li>{% trans "Change inventory, badges, gifts or prerequisite settings" %}</li>
            </ul>
            
            <p><b>{% trans "Front desk" %}</b><br />
            {% trans "Can read all helper data, resend the confirmation mail, set the presence of the helpers and delivered gifts." %}</p>

            <p><b>{% trans "Inventory" %}</b><br />
            {% trans "Can read all helper data and register or take back inventory items." %}</p>

            <p><b>{% trans "Badges" %}</b><br />
            {% trans "Can print and register badges." %}</p>

            <hr>

            <h5 class="alert-heading">{% trans "For single jobs" %}</h4>

            <p>
                {% url 'jobs_and_shifts' event.url_name as a_job_settings %}
                {% blocktrans trimmed %}
                    Permissions for single jobs are managed in the <a href="{{ a_job_settings }}">job settings</a>.
                {% endblocktrans %}
            </p>

            <hr>

            <p><b>{% trans "To remove a user, deselect all roles and click Save." %}</b></p>
        </div>
    </div>

    <form action="" method="post">
        {% csrf_token %}

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="60%">{% trans "User" %}</th>
                    <th scope="col" width="40%">{% trans "Roles" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for form in forms %}
                <tr>
                    <td>{{ form.instance.user.get_full_name }} ({{ form.instance.user.username }})</td>
                    <td>{% bootstrap_field form.roles show_label=false %}</td>
            {% endfor %}

            <tr>
                <td>{% bootstrap_field add_form.user show_label=false %}</td>
                <td>{% bootstrap_field add_form.roles show_label=false %}</td>
            </tr>
            </tbody>
        </table>

        <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary" />
    </form>
{% endblock %}
