{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons translation %}

{% block content %}
    {# edit/new #}
    {% if event %}
        <h1>{% trans "Edit event" %}</h1>
    {% else %}
        <h1>{% trans "New event" %}</h1>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% trans "Please correct the errors below." %}
            </div>
        {% endif %}

        <h2>{% trans "General" %}</h2>
        <div class="row">
            <div class="col-12 col-md-6">
                {% bootstrap_field form.name layout="floating" %}
            </div>
            <div class="col-12 col-md-6">
                {% bootstrap_field form.url_name layout="floating" %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                {% bootstrap_field form.date layout="floating" %}
            </div>
            <div class="col-12 col-md-6 align-self-center">
                {% bootstrap_field form.days layout="floating" %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                {% bootstrap_field form.email layout="floating" %}
            </div>
        </div>

        <h2>{% trans "Registration" %}</h2>
        {% bootstrap_field form.active %}
        {% bootstrap_field form.show_public_numbers %}

        <div class="row">
            <div class="col-12 col-md-6">
                {% bootstrap_field form.max_overlapping layout="floating" %}
            </div>
            <div class="col-12 col-md-6">
                {% bootstrap_field form.changes_until layout="floating" %}
            </div>
        </div>

        <h2>{% trans "Texts" %}</h2>
        <ul class="nav nav-tabs mb-2" id="texts-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="texts-tabs-registration" data-bs-toggle="tab"data-bs-target="#texts-registration"
                        type="button" role="tab" aria-controls="texts-registration" aria-selected="true">
                    {% trans "Before registration" %}
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="texts-tabs-registered" data-bs-toggle="tab"data-bs-target="#texts-registered"
                        type="button" role="tab" aria-controls="texts-registered" aria-selected="false">
                    {% trans "After registration" %}
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="texts-tabs-imprint" data-bs-toggle="tab"data-bs-target="#texts-imprint"
                        type="button" role="tab" aria-controls="texts-imprint" aria-selected="false">
                    {% trans "Contact" %}
                </button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="texts-registration" role="tabpanel" aria-labelledby="texts-tabs-registration">
                <div class="row">
                    {% get_available_languages as languages %}
                    {% for lang, name in languages %}
                        <div class="col-lg-6">
                            {% translated_field form "text" lang as field %}
                            {% bootstrap_field field %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="texts-registered" role="tabpanel" aria-labelledby="texts-tabs-registered">
                <div class="row">
                    {% get_available_languages as languages %}
                    {% for lang, name in languages %}
                        <div class="col-lg-6">
                            {% translated_field form "registered" lang as field %}
                            {% bootstrap_field field %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="texts-imprint" role="tabpanel" aria-labelledby="texts-tabs-imprint">
                <div class="row">
                    {% get_available_languages as languages %}
                    {% for lang, name in languages %}
                        <div class="col-lg-6">
                            {% translated_field form "imprint" lang as field %}
                            {% bootstrap_field field %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <h2>{% trans "Logos" %}</h2>
        <div class="row mb-3">
            <div class="col-12 col-md-6">
                {{ form.logo.label_tag }} {{ form.logo }}
                <div class="text-muted">{{ form.logo.help_text }}</div>
                {% for text in form.logo.errors %}
                    <div class="text-danger">{{ text }}</div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6">
                {{ form.logo_social.label_tag }} {{ form.logo_social }}
                <div class="text-muted">{{ form.logo_social.help_text }}</div>
                {% for text in form.logo_social.errors %}
                    <div class="text-danger">{{ text }}</div>
                {% endfor %}
            </div>
        </div>

        <h2>{% trans "Requested helper data" %}</h2>
        {% bootstrap_field form.ask_full_age %}
        {% if form.ask_news %}
            {% bootstrap_field form.ask_news %}
        {% endif %}
        {% bootstrap_field form.ask_nutrition %}
        {% bootstrap_field form.ask_phone %}

        {% bootstrap_field form.ask_shirt %}
        <div class="ms-4">
        {% if not event or event.ask_shirt %}
            {% bootstrap_field form.shirt_sizes %}

            {# render errors for this field manually since they do not appear otherwise #}
            {% for text in form.shirt_sizes.errors %}
                <div class="text-danger">{{ text }}</div>
            {% endfor %}
        {% endif %}
        </div>

        {% if form.badges or form.gifts or form.prerequisites or form.inventory or form.corona %}
            <h2>{% trans "Features" %}</h2>
            {% if form.badges %}
                {% bootstrap_field form.badges %}
            {% endif %}

            {% if form.gifts %}
                {% bootstrap_field form.gifts %}
            {% endif %}

            {% if form.prerequisites %}
                {% bootstrap_field form.prerequisites %}
            {% endif %}

            {% if form.inventory %}
                {% bootstrap_field form.inventory %}
            {% endif %}

            {% if form.corona %}
                {% bootstrap_field form.corona %}
            {% endif %}
        {% endif %}

        <button type="submit" class="btn btn-outline-primary">{% icon "save" %} {% trans "Save" %}</button>
    </form>

    {# duplicate and move #}
    {% if event %}
        <h2 class="mt-4">{% trans "Duplicate event" %}</h2>
        <div class="alert alert-dark" role="alert">
            <strong>{% trans "You can duplicate this event." %}</strong>
            <br/>
            {% trans "All settings are copied to the new event, but personal data is not." %}
            <br/>
            <a href="{% url 'duplicate_event' event.url_name %}" class="btn btn-outline-primary mt-3" role="button">
                {% icon "copy" %} {% trans "Duplicate event" %}
            </a>
        </div>
    {% endif %}

    {# move and archive #}
    {% if event and not event.archived %}
        <h2>{% trans "Move event" %}</h2>
        <div class="alert alert-dark" role="alert">
            <strong>{% trans "You can move this event." %}</strong>
            <br/>
            {% trans "The event with all shifts is moved to a new date." %}
            <br/>
            <a href="{% url 'move_event' event.url_name %}" class="btn btn-outline-primary mt-3" role="button">
                {% icon "arrow-right" %} {% trans "Move event" %}
            </a>
        </div>

        <h2>{% trans "Archive event" %}</h2>
        <div class="alert alert-danger" role="alert">
            <strong>{% trans "You can archive this event, this means that all coordinators and helpers are deleted." %}</strong>
            <br/>
            {% blocktrans trimmed %}
                The number of registered helpers per shift and the number of coordinators are saved.
                All personal data will be deleted irrevocably.
            {% endblocktrans %}
            <br/>
            <a href="{% url 'archive_event' event.url_name %}" class="btn btn-outline-danger mt-3" role="button">
                {% icon "archive" %} {% trans "Archive event" %}
            </a>
        </div>
    {% endif %}

    {# delete #}
    {% if event %}
        <h2>{% trans "Delete event" %}</h2>
        <div class="alert alert-danger" role="alert">
            <strong>{% trans "You can delete this event including all jobs, shifts and helpers." %}</strong>
            <br/>
            <a href="{% url 'delete_event' event.url_name %}" class="btn btn-outline-danger mt-3" role="button">
                {% icon "trash-alt" %} {% trans "Delete event" %}
            </a>
        </div>
    {% endif %}
{% endblock %}
