{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 translation %}

{% block admincontent %}
    {# edit/new #}
    {% if event %}
        <h2>{% trans "Edit event" %}</h2>
    {% else %}
        <h2>{% trans "New event" %}</h2>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% trans "Please correct the errors below." %}
            </div>
        {% endif %}

        <h3>{% trans "General" %}</h3>
        {% bootstrap_field form.name %}
        {% bootstrap_field form.url_name %}
        {% bootstrap_field form.date %}
        {% bootstrap_field form.days %}
        {% bootstrap_field form.email %}

        <h3>{% trans "Registration" %}</h3>
        {% bootstrap_field form.active %}
        {% bootstrap_field form.mail_validation %}
        {% bootstrap_field form.show_public_numbers %}
        {% bootstrap_field form.changes_until %}
        {% bootstrap_field form.max_overlapping %}

        <h3>{% trans "Texts" %}</h3>
        {% get_available_languages as languages %}
        <ul class="nav nav-tabs" id="texts" role="tablist">
            {% for lang, name in languages %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}"
                       id="texts-{{ lang }}" href="#{{ lang }}" data-toggle="tab" role="tab"
                       aria-controls="{{ lang }}" aria-selected="true">{{ name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="texts-content">
            {% for lang, name in languages %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ lang }}" role="tabpanel" aria-labelledby="texts-{{ lang }}">
                    {% translated_field form "text" lang as field %}
                    {% bootstrap_field field %}

                    {% translated_field form "imprint" lang as field %}
                    {% bootstrap_field field %}

                    {% translated_field form "registered" lang as field %}
                    {% bootstrap_field field %}
                </div>
            {% endfor %}
        </div>

        <h3>{% trans "Logos" %}</h3>
        {% bootstrap_field form.logo %}
        {% bootstrap_field form.logo_social %}

        <h3>{% trans "Requested helper data" %}</h3>
        {% bootstrap_field form.ask_full_age %}
        {% if form.ask_news %}
            {% bootstrap_field form.ask_news %}
        {% endif %}
        {% bootstrap_field form.ask_vegetarian %}
        {% bootstrap_field form.ask_phone %}
        {% bootstrap_field form.ask_shirt %}

        {% if not event or event.ask_shirt %}
            {% bootstrap_field form.shirt_sizes %}

            {# render errors for this field manually since they do not appear otherwise #}
            {% for text in form.shirt_sizes.errors %}
                <div class="text-danger">{{ text }}</div>
            {% endfor %}
        {% endif %}

        <h3>{% trans "Features" %}</h3>
        {% bootstrap_field form.badges %}
        {% bootstrap_field form.gifts %}
        {% bootstrap_field form.prerequisites %}
        {% bootstrap_field form.inventory %}

        <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary" />
    </form>

    {# duplicate and move #}
    {% if event %}
        <h3>{% trans "Duplicate event" %}</h3>
        <div class="alert alert-info" role="alert">
            <strong>{% trans "You can duplicate this event." %}</strong>

            <br/>

            <a href="{% url 'duplicate_event' event.url_name %}" class="btn btn-outline-primary mt-3" role="button">
                {% trans "Duplicate event" %}
            </a>
        </div>

        <h3>{% trans "Move event" %}</h3>
        <div class="alert alert-info" role="alert">
            <strong>{% trans "You can move this event." %}</strong>

            <br/>

            <a href="{% url 'move_event' event.url_name %}" class="btn btn-outline-primary mt-3" role="button">
                {% trans "Move event" %}
            </a>
        </div>
    {% endif %}

    {# archive #}
    {% if event and not event.archived %}
        <h3>{% trans "Archive event" %}</h3>
        <div class="alert alert-danger" role="alert">
            <strong>{% trans "You can archive this event, this means that all coordinators and helpers are deleted." %}</strong>

            <br/>

            {% trans "Only the number of registered helpers per shift and the number of coordinators are saved. All other data like shirt sizes are deleted irrevocably." %}

            <br/>

            <a href="{% url 'archive_event' event.url_name %}" class="btn btn-outline-danger mt-3" role="button">
                {% trans "Archive event" %}
            </a>
        </div>
    {% endif %}

    {# delete #}
    {% if event %}
        <h3>{% trans "Delete event" %}</h3>
        <div class="alert alert-danger" role="alert">
            <strong>{% trans "You can delete this event including all jobs, shifts and helpers." %}</strong>

            <br/>

            <a href="{% url 'delete_event' event.url_name %}" class="btn btn-outline-danger mt-3" role="button">
                {% trans "Delete event" %}
            </a>
        </div>
    {% endif %}
{% endblock %}
