{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons translation %}

{% block content %}
    <h1>{% trans "Permissions" %}</h1>

    <div class="alert alert-secondary">
        <h4 class="alert-heading">{% trans "Role descriptions" %}
            <a class="btn btn-sm btn-outline-secondary ml-2 align-top" data-bs-toggle="collapse" href="#roles-collapse" role="button" aria-expanded="false" aria-controls="roles-collapse">
                {% trans "Show" %}
            </a>
        </h4>

        <div id="roles-collapse" class="collapse" id="event-admin-description">
            <p><strong>{% trans "Administrator" %}</strong><br />
            {% trans "Can do everything with the event, including deletion and permissions changes." %}</p>

            <p><strong>{% trans "Restricted administrator" %}</strong><br />
            {% trans "Can manage helpers and all related features, but not change the event settings. The user can not:" %}</p>
            <ul>
                <li>{% trans "Edit or delete the event itself" %}</li>
                <li>{% trans "Create or change links" %}</li>
                <li>{% trans "Change jobs or shifts" %}</li>
                <li>{% trans "Change inventory, badges, gifts or prerequisite settings" %}</li>
                <li>{% trans "Access data for COVID-19 contact tracing" %}</li>
                <li>{% trans "View the audit log" %}</li>
            </ul>

            <p><strong>{% trans "Front desk" %}</strong><br />
            {% blocktrans trimmed %}
            Can read all helper data, resend the confirmation mail, edit the internal comment and change the delivered
            gifts of the helpers. The user cannot change the presence or any other data.
            {% endblocktrans %}
            </p>

            <p><strong>{% trans "Inventory" %}</strong><br />
            {% trans "Can read all helper data and register or take back inventory items." %}</p>

            <p><strong>{% trans "Badges" %}</strong><br />
            {% trans "Can print and register badges." %}</p>

            <hr>

            <p>
                {% url 'jobs_and_shifts' event.url_name as a_job_settings %}
                {% blocktrans trimmed %}
                    Permissions for single jobs are managed in the <a href="{{ a_job_settings }}">job settings</a>.
                {% endblocktrans %}
            </p>

            <p><strong>{% trans "To remove a user, deselect all roles and click Save." %}</strong></p>
        </div>
    </div>

    {% include "registration/partials/adminroles_form.html" %}
{% endblock %}
