{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons shifts %}

{% block content %}
    {% if link %}
        <h1>{% trans "Edit link" %}</h1>
    {% else %}
        <h1>{% trans "Create link" %}</h1>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        {% form_shifttable form.shifts %}

        {% bootstrap_field form.usage %}

        <button type="submit" class="btn btn-outline-primary">{% icon "save" %} {% trans "Save" %}</button>
    </form>
{% endblock %}
