{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{{ helper.full_name }}</h2>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12 col-lg-5">
                {% bootstrap_form form %}
            </div>
        </div>

        {% if form.new_coordinator %}
            <div class="alert alert-warning" role="alert">
                <b>{% trans "Note: after saving an e-mail will be sent to the given address." %}</b>
            </div>
        {% endif %}

        <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary" />
    </form>
{% endblock %}
