{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    {% if job %}
        <h2>{% trans "Edit job" %}</h2>

        <form action="{% url 'edit_job' event.url_name job.pk %}" method="post">
    {% else %}
        <h2>{% trans "New job" %}</h2>

        <form action="{% url 'new_job' event.url_name %}" method="post">
    {% endif %}
        {% csrf_token %}

        {% bootstrap_form form %}

        <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary" />
    </form>
{% endblock %}
