{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 icons staticfiles permissions %}

{% block admincontent %}
    <h2>
        {% blocktrans trimmed with jobname=job.name%}
            Helpers for {{ jobname }}
        {% endblocktrans %}
    </h2>

    {% has_access job "ACCESS_EVENT_EXPORT_HELPERS" as user_event_export_helpers %}
    {% has_access job "ACCESS_JOB_EDIT_HELPERS" as user_job_edit_helpers %}
    {% has_access job "ACCESS_HELPER_VIEW" as user_helper_view %}

    {# export #}
    {% if user_event_export_helpers %}
        <p>
            {% icon "file-download" %}
            <strong class="mr-2">{% trans "Export" %}:</strong>
            <a href="{% url 'export_job' event.url_name 'excel' job.pk %}" class="icon mr-2">
                <img src="{% static "helfertool/img/icons/xls.svg" %}" class="icon" alt="Excel" />
            </a>
            <a href="{% url 'export_job' event.url_name 'pdf' job.pk %}" class="icon">
                <img src="{% static "helfertool/img/icons/pdf.svg" %}" class="icon" alt="PDF" />
            </a>
        </p>
    {% endif %}

    {# jump labels #}
    {% if shifts_by_day %}
        <p>
            <em class="fas fa-link"></em>
            {% for day, shifts in shifts_by_day %}
                <a href="#{{ day | date:"Ymd" }}">{{ day }}</a>&nbsp;
            {% endfor %}
        </p>
    {% endif %}

    {# coordinators #}
    <h3>{% trans "Coordinators" %}</h3>
    {% if job.coordinators.count == 0 %}
        <p class="text-muted">{% trans "There are no coordinators for this job." %}</p>
    {% else %}
        {% include "registration/admin/helpers_table.html" with event=event job=job helpers=job.coordinators.all can_view=user_helper_view can_delete=user_job_edit_helpers %}
    {% endif %}

    {% if user_job_edit_helpers %}
    <p>
        <a href="{% url 'add_coordinator' event.url_name job.pk %}">
            {% icon "plus" %}
            {% trans "Add coordinator" %}
        </a>
    </p>
    {% endif %}

    {# iterate over days #}
    {% for day, shifts in shifts_by_day %}
        <h3 id="{{ day | date:"Ymd" }}">{{ day }}</h3>

        {% if user_event_export_helpers %}
        <p>
            {% with day_str=day|date:"Y-m-d" %}
                {% icon "file-download" %}
                <strong class="mr-2">{% blocktrans with day=day %}Export for {{ day }}{% endblocktrans %}:</strong>
                <a href="{% url 'export_job_date' event.url_name 'excel' job.pk day_str %}" class="icon mr-2">
                    <img src="{% static "helfertool/img/icons/xls.svg" %}" class="icon" alt="Excel" />
                </a>
                <a href="{% url 'export_job_date' event.url_name 'pdf' job.pk day_str %}" class="icon">
                    <img src="{% static "helfertool/img/icons/pdf.svg" %}" class="icon" alt="PDF" />
                </a>
            {% endwith %}
        </p>
        {% endif %}

        {# iterate over shifts on this day #}
        {% for shift in shifts %}
            <h4>{{ shift.time_hours }}
                {% blocktrans trimmed with current=shift.num_helpers total=shift.number %}
                    ({{ current }} of {{ total }})
                {% endblocktrans %}
                {% if shift.name %}
                    <br/ >{{ shift.name }}
                {% endif %}
            </h4>

            {% if event.gifts and user_manages_presence %}
            <p>
                <a href="{% url "gifts:set_present" event.url_name shift.pk %}">
                    {% icon "check-square" %} {% trans "Set presence for complete shift" %}
                </a>
            </p>
            {% endif %}

            {% if shift.helper_set.count == 0 %}
                <p class="text-muted">{% trans "Nobody is registered for this shift." %}</p>
            {% else %}
                {% include "registration/admin/helpers_table.html" with event=event job=job shift=shift helpers=shift.helper_set.all can_view=user_helper_view can_delete=user_job_edit_helpers %}
            {% endif %}

            {% if not shift.is_full and user_job_edit_helpers %}
                <p>
                    <a href="{% url 'add_helper' event.url_name shift.pk %}">
                        {% icon "plus" %}
                        {% trans "Add helper" %}
                    </a>
               </p>
           {% endif %}
        {% endfor %}
    {% endfor %}

    <script src="{% static "helfertool/js/helpers_table.js" %}"></script>
{% endblock %}
