{% extends "registration/admin/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ job.name }} - {{ event.name }}{% endblock %}

{% block admincontent %}
    <h2>
        {% blocktrans trimmed with jobname=job.name%}
            Helpers for {{ jobname }}
        {% endblocktrans %}
    </h2>

    {# export #}
    <p>
        {% bootstrap_icon "download-alt" %}
        &nbsp;
        {% trans "Export" %}:
        &nbsp;
        <a href="{% url 'export_job' event.url_name 'excel' job.pk %}" class="icon">
            <img src="{% static "helfertool/img/icon-xls.svg" %}" class="icon" />
        </a>
        &nbsp;
        <a href="{% url 'export_job' event.url_name 'pdf' job.pk %}" class="icon">
            <img src="{% static "helfertool/img/icon-pdf.svg" %}" class="icon" />
        </a>
    </p>

    {# jump labels #}
    {% if shifts_by_day %}
        <p>
            <i class="fas fa-link"></i>
            {% for day, shifts in shifts_by_day %}
                <a href="#{{ day | date:"Ymd" }}">{{ day }}</a>&nbsp;
            {% endfor %}
        </p>
    {% endif %}

    {# coordinators #}
    <h3>{% trans "Coordinators" %}</h3>
    {% if job.coordinators.count == 0 %}
        <p class="text-muted">{% trans "There are no coordinators for this job." %}</p>
    {% else %}
        {% include "registration/admin/helpers_table.html" with event=event job=job helpers=job.coordinators.all %}
    {% endif %}

    <p>
        <a href="{% url 'add_coordinator' event.url_name job.pk %}">
            {% bootstrap_icon "plus" %}
            {% trans "Add coordinator" %}
        </a>
   </p>

    {# iterate over days #}
    {% for day, shifts in shifts_by_day %}
        <h3 id="{{ day | date:"Ymd" }}">{{ day }}</h3>

        <p>
            {% with day_str=day|date:"Y-m-d" %}
                {% bootstrap_icon "download-alt" %}
                &nbsp;
                {% blocktrans with day=day %}Export for {{ day }}{% endblocktrans %}:
                &nbsp;
                <a href="{% url 'export_job_date' event.url_name 'excel' job.pk day_str %}" class="icon">
                    <img src="{% static "helfertool/img/icon-xls.svg" %}" class="icon" />
                </a>
                &nbsp;
                <a href="{% url 'export_job_date' event.url_name 'pdf' job.pk day_str %}" class="icon">
                    <img src="{% static "helfertool/img/icon-pdf.svg" %}" class="icon" />
                </a>
            {% endwith %}
        </p>

        {# iterate over shifts on this day #}
        {% for shift in shifts %}
            <h4>{{ shift.time_hours }}
                {% blocktrans trimmed with current=shift.num_helpers total=shift.number %}
                    ({{ current }} of {{ total }})
                {% endblocktrans %}
                {% if shift.name %}
                    <br/ >{{ shift.name }}
                {% endif %}
            </h4>

            {% if event.gifts and is_admin %}
            <p>
                <a href="{% url "gifts:set_present" event.url_name shift.pk %}">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    {% trans "Set attendance for complete shift" %}
                </a>
            </p>
            {% endif %}

            {% if shift.helper_set.count == 0 %}
                <p class="text-muted">{% trans "Nobody is registered for this shift." %}</p>
            {% else %}
                {% include "registration/admin/helpers_table.html" with event=event job=job shift=shift helpers=shift.helper_set.all %}
            {% endif %}

            {% if not shift.is_full %}
                <p>
                    <a href="{% url 'add_helper' event.url_name shift.pk %}">
                        {% bootstrap_icon "plus" %}
                        {% trans "Add helper" %}
                    </a>
               </p>
           {% endif %}
        {% endfor %}
    {% endfor %}

    <script type="text/javascript">
        $(function () {
            $(".table").DataTable({
                "paging": false,
                "searching": false,
                "info": false,
                "columnDefs": [
                    { "orderable": false, "targets": "nosort" },
                ],
                "sorting": [[2, 'asc'], [1, 'asc']],
            });
        });
    </script>
{% endblock %}
