{% load i18n bootstrap4 icons %}

{% comment %}
required parameters:
    event
    job
    helpers
    can_view
    can_delete

optional:
    shift

If shift is missing this template assumes that the printed helpers are
coordinators. This is only important for the delete_helper view.
{% endcomment %}

<table class="table">
    <caption class="d-none">{% trans "Helper data"%}</div>
    <thead>
        <tr>
            <th class="nosort" data-priority="1" scope="col"></th>

            <th data-priority="1" scope="col">
                {% trans "First name" %}
            </th>

            <th data-priority="1" scope="col">
                {% trans "Surname" %}
            </th>

            {% if event.ask_shirt %}
            <th data-priority="5" scope="col">
                {% trans "T-shirt" %}
            </th>
            {% endif %}

            {% if event.ask_vegetarian %}
            <th data-priority="6" scope="col">
                {% trans "Vegetarian" %}
            </th>
            {% endif %}

            {% if job.infection_instruction %}
            <th data-priority="4" scope="col">
                {% trans "Food handling" %}
            </th>
            {% endif %}

            <th data-priority="2" scope="col">
                {% trans "Comment" %}
            </th>

            <th data-priority="3" scope="col">
                {% trans "Registration time" %}
            </th>

            <th class="nosort" data-priority="1" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for helper in helpers|dictsort:"timestamp" %}
            <tr>
                <td class="datatables-icon"></td>
                <td>{{ helper.firstname }}</td>
                <td>{{ helper.surname }}</td>
                {% if event.ask_shirt %}
                <td>{{ helper.get_shirt_display }}</td>
                {% endif %}
                {% if event.ask_vegetarian %}
                <td>{{ helper.vegetarian | yesno }}</td>
                {% endif %}
                {% if job.infection_instruction %}
                <td>{{ helper.get_infection_instruction_short }}</td>
                {% endif %}
                <td>{{ helper.comment }}</td>
                <td data-order="{{ helper.timestamp|date:"U" }}" >{{ helper.timestamp }}</td>
                <td>
                    {% if can_view %}
                    <a href="{% url 'view_helper' event.url_name helper.pk %}">
                        {% icon "search" %}
                        {% trans "View" %}
                    </a>
                    <br />
                    {% endif %}

                    {% if can_delete %}
                        {% if shift %}
                            <a href="{% url 'delete_helper' event.url_name helper.pk shift.pk %}">
                                {% icon "trash-alt" %}
                                {% trans "Delete" %}
                            </a>
                        {% else %}
                            <a href="{% url 'delete_coordinator' event.url_name helper.pk job.pk %}">
                                {% icon "trash-alt" %}
                                {% trans "Delete" %}
                            </a>
                        {% endif %}
                        <br />
                    {% endif %}


                    {% if helper.mail_failed %}
                        <span class="text-danger">{% icon "times" %} {% trans "Mail not delivered" %}</span><br />
                    {% elif helper.has_to_validate %}
                        <span class="text-warning">{% icon "times" %} {% trans "Not validated" %}</span><br />
                    {% endif %}

                    {% if helper.has_missed_shift %}
                        <span class="text-danger">{% icon "times" %} {% trans "Absent for some of the shifts" %}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
