{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 icons %}

{% block admincontent %}
    <h2>{% trans "Vacant jobs and shifts" %}</h2>
    {% if not days %}
        <div>{% trans "Congratulations! No vacant shifts."</div>
    {% else %}
        {% for day,jobs in days.items %}
            {% with day_str=day|date:"Y-m-d" %}
                <h3>{{ day }}</h3>
                    {% for job,shifts in jobs.items %}
                        <h4>{{ job }}</h4>
                        <table class="table">
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Begin" %}</th>
                                <th>{% trans "End" %}</th>                               
                                <th>{% trans "Vacant helpers" %}</th>
                                <th>{% trans "Needed helpers" %}</th> 
                                <th>{% trans "Percentence missing" %}</th>
                            </tr>
                            {% for shift in shifts %}
                                {% if shift.percent_vacant == 100 %}
                                    <tr class=bg-danger>  
                                {% elif shift.helpers_percent < 50 %}
                                    <tr class=bg-warning>
                                {% else %}
                                    <tr> 
                                {% endif %}      
                                        <td>{{ shift.name }}</td>   
                                        <td>{{ shift.time_begin }}</td>   
                                        <td>{{ shift.time_end }}</td>
                                        <td>{{ shift.num_vacant }}</td>   
                                        <td>{{ shift.number }}</td>
                                        <td>{{ shift.percent_vacant }} %</td>
                                    </tr>
                            {% endfor %}
                        </table>
                    {% endfor %}
            {% endwith %}
        {% endfor %}
    {% endif %}
                        
{% endblock %}