{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 icons %}

{% block admincontent %}
    <h2>{% trans "Links" %}</h2>

    {% if not links %}
        <p class="text-muted">{% trans "There are no links." %}</p>
    {% else %}
        <table class="table">
            <tr>
                <th>{% trans "Shifts" %}</th>
                <th>{% trans "Usage" %}</th>
                <th>{% trans "Creator" %}</th>

                {% if not event.archived %}
                    <th></th>
                {% endif %}
            </tr>

            {% for link in links %}
                <tr>
                    <td>
                        <ul>
                            {% for shift in link.shifts.all %}
                                <li>{{ shift }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ link.usage }}</td>
                    <td>{{ link.creator.get_full_name | default:link.creator.username }}</td>

                    {% if not event.archived %}
                        <td>
                            <a href="{% url "form_for_link" event.url_name link.id %}">{% icon "link" %} Link</a><br />
                            <a href="{% url "edit_link" event.url_name link.id %}">{% icon "pencil" %} Edit</a><br />
                            <a href="{% url "delete_link" event.url_name link.id %}">{% icon "trash-alt" %} Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if not event.archived %}
        <p>
            <a href="{% url 'add_link' event.url_name %}">
                {% icon "plus" %}
                {% trans "Add link" %}
            </a>
       </p>
    {% endif %}

{% endblock %}
