{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Merge duplicates" %}</h2>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {% trans "Cannot merge helpers which have the same shift." %}
        </div>
    {% elif form %}
        <div class="alert alert-info" role="alert">
            {% trans "You have to select one data set, the others are deleted. You can also skip some entries and keep them as duplicates." %}

            <br/><br/>

            {% trans "Overlapping shifts are not checked during merging." %}
        </div>

        <form action="" method="post">
            {% csrf_token %}

            {% bootstrap_form_errors form %}

            {% for helper in form.helpers %}
                {# select this helper as remaining #}
                <input id="helper_selection_{{ forloop.counter0 }}"
                       name="helpers_selection"
                       required="required"
                       type="radio"
                       value="{{ helper.pk }}"
                       class="mt-4"
                />
                <label for="helper_selection_{{ forloop.counter0 }}">
                    {% trans "Keep this data" %}
                </label>

                {# ignore this helper #}
                <input id="helper_ignore_{{ forloop.counter0 }}"
                    name="helpers_ignore"
                    type="checkbox"
                    value="{{ helper.pk }}"
                    class="mt-4 ml-2"
                />
                <label for="helper_ignore_{{ forloop.counter0 }}">
                    {% trans "Ignore this helper" %}
                </label>

                {% include "registration/helper_data.html" with helper=helper show_badge_barcode=True show_internal_comment=True %}
            {% endfor %}

            <input type="submit" value="{% trans "Merge" %}" class="btn btn-outline-primary mt-3" />
        </form>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {% trans "There are not duplicates for this mail address." %}
        </div>
    {% endif %}
{% endblock %}
