{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Move event" %}</h1>

    <div class="alert alert-secondary" role="alert">
        {% trans "The following dates <strong>will be changed</strong>:" %}
        <ul>
            <li>{% trans "Event date" %}</li>
            <li>{% trans "Deregistration and changes possible until date (<em>if set</em>)" %}</li>
            <li>{% trans "Starting date of every shift" %}</li>
            <li>{% trans "Ending date of every shift" %}</li>
        </ul>

        {% trans "The following things will <strong>remain unchanged</strong>:" %}
        <ul class="mb-0">
            <li>{% trans "All settings (jobs, shifts, texts, etc.)" %}</li>
            <li>{% trans "All registered people (helpers, coordinators, etc.)" %}</li>
            <li>{% trans "Sign up date of helpers" %}</li>
        </ul>
    </div>

    <ul class="list-group mb-3">
        <li class="list-group-item">
            {% trans "Old date:" %} {{ event.date }}
        </li>
        <li class="list-group-item">
            {% trans "Weekday:" %} {{ event.date|date:"l" }}
        </li>
    </ul>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form form layout="floating" %}

        <button type="submit" class="btn btn-outline-primary">{% icon "arrow-right" %} {% trans "Move" %}</button>
    </form>
{% endblock %}
