{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Past events" %}</h1>

    <div class="alert alert-secondary" role="alert">
        {% blocktrans trimmed %}
            This page shows events, which are older then the specified time, but not archived yet.
        {% endblocktrans %}
    </div>

    <form action="" method="get">
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_form_errors form %}

        <button type="submit" class="btn btn-outline-primary mb-4">{% icon "sync" %} {% trans "Update" %}</button>
    </form>

    {% if events %}
        <ul class="list-group">
            {% for event in events %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-12 col-md-3 py-1">
                        <a href="{% url 'edit_event' event.url_name %}">{{ event.name }}</a>
                    </div>
                    <div class="col-12 col-md-4 py-1">
                        {{ event.date }}
                        <span class="text-muted">
                        {% blocktrans trimmed with time=event.date|timesince %}
                            ({{ time }} ago)
                        {% endblocktrans %}
                        </span>
                    </div>
                    <div class="col-12 col-md-5 py-1">
                        {% for admin in event.admins.all %}
                            {{ admin.get_full_name }}
                            {% if admin.email %}
                                ({{ admin.email }})
                            {% endif %}
                            <br />
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">{% trans "No events found." %}</p>
    {% endif %}
{% endblock %}
