{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{{ helper.full_name }}</h1>

    <form action="" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-xl-6">
                <div class="alert alert-info">
                    {% trans "Send confirmation mail again?" %}
                </div>

                {% bootstrap_field form.language layout="floating" %}
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary">{% icon "paper-plane" %} {% trans "Send" %}</button>
    </form>
{% endblock %}
