{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Search helper" %}</h2>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        <p class="text-muted">
            {% blocktrans %}You can use first name, surname, email or phone number of the helper.{% endblocktrans %}

            {% if event.badges %}
                {% trans "Additionally, you can also enter/scan a badge barcode." %}
            {% endif %}
        </p>

        <input type="submit" value="{% trans "Search" %}" class="btn btn-outline-primary" />
    </form>

    {% if not new_search %}
        <h3>{% trans "Result" %}</h3>
        {% if result %}
            <ul>
                {% for helper in result %}
                    <li>
                        <a href="{% url 'view_helper' event.url_name helper.pk %}">{{ helper.full_name }}</a>
                        {% if event.badges and event.badge_settings.barcodes and event.inventory %}
                            ({% trans "Barcode" %}: {{ helper.badge.barcode }})
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-danger">{% trans "No results found" %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
