{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Search helper" %}</h1>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}

        <p class="text-muted">
            {% blocktrans %}You can use first name, surname, email or phone number of the helper.{% endblocktrans %}

            {% if event.badges %}
                {% trans "Additionally, you can also enter/scan a badge barcode." %}
            {% endif %}
        </p>

        <button type="submit" class="btn btn-outline-primary">{% icon "search" %} {% trans "Search" %}</button>
    </form>

    {% if not new_search %}
        <h2 class="mt-3">{% trans "Found helpers" %}</h2>
        {% if result %}
            <ul class="list-group">
                {% for helper in result %}
                    <li class="list-group-item">
                        <a href="{% url 'view_helper' event.url_name helper.pk %}">{{ helper.full_name }}</a><br/>

                        {{ helper.all_jobs|join:', ' }}

                        {% if event.badges and event.badge_settings.barcodes and event.inventory %}
                            <span class="text-muted float-end">{% trans "Barcode" %}: {{ helper.badge.barcode }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted">{% trans "No results found" %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
