{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Search helper" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% if event.badges %}
            <p class="text-muted">
                {% trans "You can also enter/scan a badge barcode." %}
            </p>
        {% endif %}

        <input type="submit" value="{% trans "Search" %}" class="btn btn-outline-primary" />
    </form>

    {% if not new_search %}
        {% if result %}
            <h3>{% trans "Result" %}</h3>
            <ul>
                {% for helper in result %}
                    <li>
                        <a href="{% url 'view_helper' event.url_name helper.pk %}">{{ helper.full_name }}</a>
                        {% if event.badges and event.badge_settings.barcodes and event.inventory %}
                            ({% trans "Barcode" %}: {{ helper.badge.barcode }})
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
        {% endif %}
    {% endif %}
{% endblock %}
