{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons shifts %}

{% block content %}
    <h1>{% trans "Vacant shifts" %}</h1>

    {% if no_shifts %}
        <p class="text-muted">{% trans "There are no shifts." %}</p>
    {% elif not vacant_days %}
        <div class="alert alert-info">
            {% trans "Congratulations! No vacant shifts." %}
        </div>
    {% else %}
        <div class="alert alert-secondary">
            {% trans "The vacant shifts are grouped by day here, so it is easier to get an overview." %}
        </div>

        {% for day,jobs in vacant_days.items %}
            {% with day_str=day|date:"Y-m-d" %}
                <h2>{{ day }}</h2>
                {% for job,shifts in jobs.items %}
                    <h3>{{ job }}</h3>
                    <ul class="list-group mb-3">
                        {% for shift in shifts %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-3 text-break">
                                    {{ shift.time_hours }}
                                    {% if shift.name %}
                                        ({{ shift.name }})
                                    {% endif %}
                                </div>
                                <div class="col-3">
                                    {% shift_progress shift highlight_missing=True %}
                                </div>
                                <div class="col-3">
                                    {% blocktrans trimmed count counter=shift.num_vacant with total=shift.number %}
                                    {{ counter }} of {{ total }} missing
                                    {% plural %}
                                    {{ counter }} of {{ total }} missing
                                    {% endblocktrans %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endwith %}
        {% endfor %}
    {% endif %}
{% endblock %}
