{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons permissions %}

{% block content %}
    {% has_access helper "ACCESS_HELPER_EDIT" as user_helper_edit %}
    {% has_access helper "ACCESS_HELPER_RESEND" as user_helper_resend %}
    {% has_access helper "ACCESS_CORONA_VIEW" as user_corona_view %}
    {% has_access_event_or_job event "" "ACCESS_JOB_EDIT_HELPERS" as user_any_job_edit_helpers %}

    <h1>{{ helper.full_name }}</h1>

    {# fist: warnings #}
    {% if helper.has_missed_shift %}
        <p class="text-danger">
            {% icon "exclamation-circle" %} {% trans "Helper was absent for some shifts (see below)" %}
        </p>
    {% endif %}

    {% if helper.mail_failed %}
        <p class="text-danger">
            {% icon "exclamation-circle" %} {% trans "Mail delivery failed" %}
            <a href="" data-bs-toggle="collapse" data-bs-target="#mail_error" class="btn btn-sm btn-outline-danger ms-2">{% trans "Details" %}</a>
        </p>

        <div class="code collapse text-danger border-danger" id="mail_error">
            <pre>{{ helper.mail_failed }}</pre>
        </div>
    {% elif helper.has_to_validate %}
        <p class="text-secondary">
            {% icon "exclamation-circle" %} {% trans "Helper did not validate the mail address." %}
        </p>
    {% endif %}

    {# personal data #}
    <h2>{% trans "Personal data" %}</h2>
    <p>
        {% if user_helper_edit %}
            <a href="{% url 'edit_helper' event.url_name helper.pk %}" class="me-3 text-nowrap">
                {% icon "edit" %}
                {% trans "Edit" %}
            </a>
        {% endif %}

        {% if edit_badge %}
            <a href="{% url 'badges:edit_badge' event.url_name helper.pk %}" class="me-3 text-nowrap">
                {% icon "pencil-alt" %}
                {% trans "Edit badge" %}
            </a>
        {% endif %}

        {% if user_helper_resend %}
            <a href="{% url 'resend_mail' event.url_name helper.pk %}" class="me-3 text-nowrap">
                {% icon "envelope" %}
                {% trans "Resend confirmation mail" %}
            </a>
        {% endif %}

        {% if event.corona and user_corona_view %}
        <a href="{% url 'corona:view_helper' event.url_name helper.pk %}" class="me-3 text-nowrap">
            {% icon "head-side-mask" %}
            {% trans "COVID-19 contact tracing" %}
        </a>
    {% endif %}

    </p>

    {% include "registration/partials/helper_view_data.html" with helper=helper show_badge_barcode=True %}

    {# coordinated jobs #}
    {% if helper.is_coordinator %}
        <h2>{% trans "Coordinator" %}</h2>
        <ul class="list-group mb-3">
            {% for job in helper.coordinated_jobs %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-8 col-lg-9 col-xl-10 text-break">
                            {{ job.name }}
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                            {% has_access job "ACCESS_JOB_EDIT_HELPERS" as user_job_edit_helpers %}
                            {% if user_job_edit_helpers %}
                                <a href="{% url 'delete_coordinator' event.url_name helper.pk job.pk %}">
                                    {% icon "times" %}
                                    {% trans "Remove" %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {# shifts #}
    {% if helper.shifts.count %}
        <h2>{% trans "Shifts" %}</h2>
        <ul class="list-group mb-3">
            {% for shift in helper.shifts.all|dictsort:"begin" %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-8 col-lg-9 col-xl-10 text-break">
                            {{ shift }}
                        </div>
                        <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                            {% has_access shift.job "ACCESS_JOB_EDIT_HELPERS" as user_job_edit_helpers %}
                            {% if user_job_edit_helpers %}
                            <a href="{% url 'delete_helper' event.url_name helper.pk shift.pk %}">
                                {% icon "times" %}
                                {% trans "Remove" %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {# add as coordinator or helper #}
    {% if user_any_job_edit_helpers %}
        <p>
            <a href="{% url 'add_helper_to_shift' event.url_name helper.pk %}" class="me-3 text-nowrap">
                {% icon "plus" %}
                {% trans "Add to shift" %}
            </a>

            <a href="{% url 'add_helper_as_coordinator' event.url_name helper.pk %}" class="me-3 text-nowrap">
                {% icon "plus" %}
                {% trans "Add as coordinator" %}
            </a>
        </p>
    {% endif %}

    {# internal comment - view #}
    {% if view_internal_comment and helper.internal_comment %}
        <h2>{% trans "Internal comment" %}</h2>
        <div class="internal-comment">
            {{ helper.internal_comment | linebreaksbr }}
        </div>
    {% endif %}

    {# form to change things: internal comment, prerequisites, gifts, presence, ... #}
    {% if internal_comment_form or prerequisites_form or gifts_form %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {# internal comment - edit #}
            {% if internal_comment_form %}
                <h2>{% trans "Internal comment" %}</h2>
                {% bootstrap_field internal_comment_form.internal_comment show_label=False %}
            {% endif %}

            {# prerequisites #}
            {% if prerequisites_form.has_items %}
                <h2>{% trans "Prerequisites" %}</h2>
                {% include "prerequisites/helper.html" with form=prerequisites_form helper=helper %}
            {% endif %}

            {# gifts #}
            {% if gifts_form %}
                <h2>{% trans "Gifts" %}</h2>
                {% include "gifts/helper.html" with form=gifts_form helper=helper %}
            {% endif %}

            <button type="submit" class="btn btn-outline-primary mt-2">{% icon "save" %} {% trans "Save" %}</button>
        </form>
    {% endif %}
{% endblock %}
