{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 icons permissions %}

{% block admincontent %}
    {% has_access helper "ACCESS_HELPER_EDIT" as user_helper_edit %}

    <h2>{{ helper.full_name }}</h2>

    {% if helper.has_missed_shift %}
        <div class="alert alert-warning">
            {% blocktrans %}This helper has been marked as absent for some of his shifts in the past at this event (see below).{% endblocktrans %}
        </div>
    {% endif %}

    <h3>{% trans "Personal data" %}</h3>

    {% if user_helper_edit %}
    <a href="{% url 'edit_helper' event.url_name helper.pk %}">
        {% icon "edit" %}
        {% trans "Edit" %}
    </a>
    &nbsp;
    {% endif %}

    {% has_access helper "ACCESS_HELPER_RESEND" as user_helper_resend %}
    {% if user_helper_resend %}
    <a href="{% url 'resend_mail' event.url_name helper.pk %}">
        {% icon "envelope" %}
        {% trans "Resend confirmation mail" %}
    </a>
    {% endif %}

    {% include "registration/helper_data.html" with helper=helper show_badge_barcode=True %}

    {% if helper.mail_failed %}
        <p>
            <span class="text-danger">
                {% icon "times" %} {% trans "Mail delivery failed" %}
            </span>
            (<a href="" data-toggle="collapse" data-target="#mail_error">{% trans "Details" %}</a>)
        </p>
        <pre class="wraptext text-danger collapse" id="mail_error">{{ helper.mail_failed }}</pre>
    {% elif helper.has_to_validate %}
        <p class="text-warning">
            {% icon "times" %} {% trans "Helper did not validate the mail address." %}
        </p>
    {% endif %}

    {# coordinated jobs #}
    {% if helper.is_coordinator %}
        <h3 id="coordinator-header">{% trans "Coordinator" %}</h3>
        <table class="table" aria-describedby="coordinator-header">
            <tr>
                <th scope="col">{% trans "Job" %}</th>
                <th scope="col"></th>
            </tr>
            {% for job in helper.coordinated_jobs %}
                {% has_access job "ACCESS_JOB_EDIT_HELPERS" as user_job_edit_helpers %}
                <tr>
                    <td>{{ job.name }}</td>
                    <td>
                        {% if user_job_edit_helpers %}
                        <a href="{% url 'delete_coordinator' event.url_name helper.pk job.pk %}">
                            {% icon "trash-alt" %}
                            {% trans "Delete" %}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {# shifts #}
    {% if helper.shifts.count %}
        <h3 id="shifts-header">{% trans "Shifts" %}</h3>
        <table class="table" aria-describedby="shifts-header">
            <tr>
                <th scope="col">{% trans "Shift" %}</th>
                <th scope="col"></th>
            </tr>
            {% for shift in helper.shifts.all|dictsort:"begin" %}
                <tr>
                    <td>{{ shift }}</td>
                    <td>
                        {% has_access shift.job "ACCESS_JOB_EDIT_HELPERS" as user_job_edit_helpers %}
                        {% if user_job_edit_helpers %}
                        <a href="{% url 'delete_helper' event.url_name helper.pk shift.pk %}">
                            {% icon "trash-alt" %}
                            {% trans "Delete" %}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {# add as coordinator or helper #}
    <p>
        {% has_access_event_or_job event "" "ACCESS_JOB_EDIT_HELPERS" as user_any_job_edit_helpers %}
        {% if user_any_job_edit_helpers %}
        <a href="{% url 'add_helper_to_shift' event.url_name helper.pk %}">
            {% icon "plus" %}
            {% trans "Add to shift" %}
        </a>
        &nbsp;
        <a href="{% url 'add_helper_as_coordinator' event.url_name helper.pk %}">
            {% icon "plus" %}
            {% trans "Add as coordinator" %}
        </a>
        {% endif %}

        {% if edit_badge %}
            &nbsp;
            <a href="{% url 'badges:edit_badge' event.url_name helper.pk %}">
                {% icon "pencil-alt" %}
                {% trans "Edit badge" %}
            </a>
        {% endif %}
    </p>

    {# internal comment - view #}
    {% if view_internal_comment %}
        <h3>{% trans "Internal comment" %}</h3>
        <div class="internal-comment">
            {{ helper.internal_comment | linebreaksbr }}
        </div>
    {% endif %}

    {% if internal_comment_form or prerequisites_form or gifts_form %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {# internal comment - edit #}
            {% if internal_comment_form %}
                <h3>{% trans "Internal comment" %}</h3>
                {% bootstrap_field internal_comment_form.internal_comment show_label=False %}
            {% endif %}

            {# prerequisites #}
            {% if prerequisites_form.has_items %}
                <h3>{% trans "Prerequisites" %}</h3>

                {% include "prerequisites/helper.html" with form=prerequisites_form helper=helper %}
            {% endif %}

            {# gifts #}
            {% if gifts_form %}
                <h3 id="gifts-header">{% trans "Gifts" %}</h3>

                {% include "gifts/helper.html" with form=gifts_form helper=helper default_deposit=helper.event.gift_settings.default_deposit %}
            {% endif %}

            <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary mt-2" />
        </form>
    {% endif %}

{% endblock %}
