{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 icons %}

{% block admincontent %}
    <h2>{{ helper.full_name }}</h2>

    <h3>{% trans "Personal data" %}</h3>

    <a href="{% url 'edit_helper' event.url_name helper.pk %}">
        {% icon "edit" %}
        {% trans "Edit" %}
    </a>
    &nbsp;
    <a href="{% url 'resend_mail' event.url_name helper.pk %}">
        {% icon "envelope" %}
        {% trans "Resend confirmation mail" %}
    </a>

    {% include "registration/helper_data.html" with helper=helper badge_barcode=helper.badge.barcode %}

    {% if helper.mail_failed %}
        <p>
            <span class="text-danger">
                {% icon "times" %} {% trans "Mail delivery failed" %}
            </span>
            (<a href="" data-toggle="collapse" data-target="#mail_error">{% trans "Details" %}</a>)
        </p>
        <pre class="wraptext text-danger collapse" id="mail_error">{{ helper.mail_failed }}</pre>
    {% elif helper.has_to_validate %}
        <p class="text-warning">
            {% icon "times" %} {% trans "Helper did not validate the mail address." %}
        </p>
    {% endif %}

    {# coordinated jobs #}
    {% if helper.is_coordinator %}
        <h3>{% trans "Coordinator" %}</h3>
        <table class="table">
            {% for job in helper.coordinated_jobs %}
                <tr>
                    <td>{{ job.name }}</td>
                    <td>
                        <a href="{% url 'delete_coordinator' event.url_name helper.pk job.pk %}">
                            {% icon "trash-alt" %}
                            {% trans "Delete" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {# shifts #}
    {% if helper.shifts.count %}
        <h3>{% trans "Shifts" %}</h3>
        <table class="table">
            {% for shift in helper.shifts.all|dictsort:"begin" %}
                <tr>
                    <td>{{ shift }}</td>
                    <td>
                        <a href="{% url 'delete_helper' event.url_name helper.pk shift.pk %}">
                            {% icon "trash-alt" %}
                            {% trans "Delete" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {# add as coordinator or helper #}
    <p>
        <a href="{% url 'add_helper_to_shift' event.url_name helper.pk %}">
            {% icon "plus" %}
            {% trans "Add to shift" %}
        </a>
        &nbsp;
        <a href="{% url 'add_helper_as_coordinator' event.url_name helper.pk %}">
            {% icon "plus" %}
            {% trans "Add as coordinator" %}
        </a>

        {% if edit_badge %}
            &nbsp;
            <a href="{% url 'badges:edit_badge' event.url_name helper.pk %}">
                {% icon "pencil-alt" %}
                {% trans "Edit badge" %}
            </a>
        {% endif %}
    </p>

    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <h3>{% trans "Internal Comment" %}</h3>
        {% bootstrap_field helper_form.internal_comment %}

        {# Prerequisites #}
        {% if prerequisites_form.has_items %}
            <h3>{% trans "Prerequisites" %}</h3>

            {% include "prerequisites/helper.html" with form=prerequisites_form helper=helper %}
        {% endif %}

        {# gifts #}
        {% if gifts_form %}
            <h3>{% trans "Gifts" %}</h3>

            {% include "gifts/helper.html" with form=gifts_form helper=helper %}
        {% endif %}

        <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary mt-2" />
    </form>

{% endblock %}
