{% extends "base.html" %}
{% load i18n bootstrap3 setting %}

{% block content %}
    <h1>{% trans "Page not found" %}</h1>

    <p class="text-muted">{% trans "Error 404" %}</p>

    <p style="margin-top:3em;">
        <a href="{% url "index" %}" class="btn btn-primary">
            {% bootstrap_icon "th-list" %} {% trans "Show events" %}
        </a>
        &nbsp;
        <a href="mailto:{% setting "CONTACT_MAIL" %}" class="btn btn-default">
            <span class="glyphicon glyphicon-envelope"></span> {% trans "Contact" %}
        </a>
    </p>
{% endblock %}
