{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{% block title %}{% trans "Registration for helpers" %}{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static "registration/css/basic.css" %}" rel="stylesheet">
        <link href="{% static "registration/css/admin.css" %}" rel="stylesheet">
    </head>

    <body>
        <div id="page">
            {# language chooser #}
            <div id="language">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}

                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                        </select>
                    <input type="submit" value="{% trans "Switch" %}" />
                </form>
            </div>

            {# login menu #}
            <div id="login">
                {% if user.is_authenticated %}
                    Hallo {{ user.username }}!
                    <a href="{% url "index" %}">{% trans "Events" %}</a> | 
                    {% if user.is_superuser %}
                        <a href="{% url "admin:index" %}">{% trans "Admin" context "Admin interface" %}</a> | 
                    {% endif %}
                    <a href="{% url "logout" %}">{% trans "Logout" %}</a>
                {% else %}
                    <a href="{% url "login" %}">{% trans "Login" %}</a>
                {% endif %}
            </div>

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
