{% load staticfiles %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{% block title %}Helfertool{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static "registration/style.css" %}" rel="stylesheet">
    </head>

    <body>
        <div id="page">
            <div id="login">
                {% if user.is_authenticated %}
                    <p>Hallo {{ user.username }}!
                    <a href="{% url "index" %}">Veranstaltungen</a> | 
                    {% if user.is_superuser %}
                        <a href="{% url "admin:index" %}">Admin</a> | 
                    {% endif %}
                    <a href="{% url "logout" %}">Logout</a></p>
                {% else %}
                    <p><a href="{% url "login" %}">Login</a></p>
                {% endif %}
            </div>

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
