{% load i18n %}
{% load bootstrap3 %}
{% load gifts %}

{# will be included by registration/admin/view_helper.html #}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="col-xs-12 col-lg-5">
            {% bootstrap_field form.deposit %}
            {% bootstrap_field form.deposit_returned %}
            {% bootstrap_field form.got_shirt %}

            {% if helper.shifts.count != 0 %}
                <table class="shifts">
                    {% for shift in helper.shifts.all|dictsort:"begin" %}
                        <tr>
                            <th>{{ shift }}</th>
                            {% gifts_for_shift form shift as deserved_gifts %}
                            {% for deserved_gift in deserved_gifts %}
                                <td>
                                    <ul>
                                        {{ gift_set }}
                                        {% for gift in deserved_gift.gift_set.includedgift_set.all %}
                                            <li>{{ gift.count }} {{ gift.gift.name }}</li>
                                        {% endfor %}
                                    </ul>

                                    {{ form | lookup_deservedgiftset:deserved_gift.pk }}
                                    <label>
                                        {% trans "Delivered" %}
                                    </label>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

                <table class="table">
                    <tr>
                        <th>{% trans "Gift" %}</th>
                        <th>{% trans "Given" %}</th>
                        <th>{% trans "Total" %}</th>
                    </tr>

                    {% for name,numbers in helper.gifts.gifts_sum.items %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ numbers.given }}</td>
                            <td>{{ numbers.total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

    <input type="submit" value="{% trans "Save" %}" class="btn btn-default" />
</form>
