{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2  id="badges-header">{% trans "Delete Badge Role" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        <table class="table" aria-describedby="badges-header">
            <tr>
                <th scope="row">{% trans "Name" %}</th>
                <td>{{ role.name }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "Permissions" %}</th>
                <td>
                    <ul>
                        {% for perm in role.permissions.all %}
                            <li>{{ perm.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>

        <div class="alert alert-danger" role="alert">{% trans "Remove this badge role?" %}</div>

        {% bootstrap_form_errors form %}

        <input type="submit" value="{% trans "Delete" %}" class="btn btn-outline-danger" />
    </form>
{% endblock %}
