{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Delete badge role" %}</h1>

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-description="{% trans 'Data of badge role' %}">
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ role.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Permissions" %}</th>
                    <td>
                        <ul>
                            {% for perm in role.permissions.all %}
                                <li>{{ perm.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-outline-danger">{% icon "trash-alt" %} {% trans "Delete" %}</button>
    </form>
{% endblock %}
