{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    {% if helper %}
        <h2>{% blocktrans with name=helper.full_name %}Badge for {{ name }}{% endblocktrans %}</h2>
    {% else %}
        <h2>{% blocktrans with name=form.instance.firstname %}Special badges for {{ name }}{% endblocktrans %}</h2>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12 col-lg-5">
                {% bootstrap_form form %}
            </div>
        </div>

        <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary" />
    </form>
{% endblock %}
