{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons translation %}

{% block content %}
    {% if form.instance.pk %}
        <h1>{% trans "Edit badge design" %}</h1>
    {% else %}
        <h1>{% trans "New badge design" %}</h1>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        {% get_available_languages as languages %}
        <div class="row">
        {% for lang, name in languages %}
            <div class="col-lg-6">
                {% translated_field form "name" lang as field %}
                {% bootstrap_field field layout="floating" %}
            </div>
        {% endfor %}
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                {% bootstrap_field form.font_color layout="floating" %}
            </div>
            <div class="col-12 col-md-6">
                {% bootstrap_field form.bg_color layout="floating" %}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6">
                {{ form.bg_front.label_tag }} {{ form.bg_front }}
                <div class="text-muted">{{ form.bg_front.help_text }}</div>
                {% for text in form.bg_front.errors %}
                    <div class="text-danger">{{ text }}</div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6">
                {{ form.bg_back.label_tag }} {{ form.bg_back }}
                <div class="text-muted">{{ form.bg_back.help_text }}</div>
                {% for text in form.bg_back.errors %}
                    <div class="text-danger">{{ text }}</div>
                {% endfor %}
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary">{% icon "save" %} {% trans "Save" %}</button>
    </form>
{% endblock %}
