{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
    <h1>{% trans "Generating badges failed" %}</h1>

    {% if latex_output %}
        <div class="code">
            <pre>{{ latex_output }}</pre>
        </div>
    {% elif error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            {% trans "There is no error" %}
        </div>
    {% endif %}
{% endblock %}
