{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block admincontent %}
    <h2>{% trans "Generating badges failed" %}</h2>

    {% if latex_output %}
        <pre>
            {{ latex_output }}
        </pre>
    {% elif error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
        <div class="alert alert-successs" role="alert">
            {% trans "There is no error" %}
        </div>
    {% endif %}
{% endblock %}
