{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 static %}

{% block content %}
    <h1>{% trans "Generate badges" %}</h1>

    {% if not possible %}
        <div class="alert alert-danger" role="alert">
            <p>{% trans "Some settings are missing to generate badges. Check the following settings:" %}</p>
            <ul>
                <li>{% trans "LaTeX template" %}</li>
                <li>{% trans "Default role" %}</li>
                <li>{% trans "Default design" %}</li>
            </ul>
        </div>
    {% else %}
        <div id="tasks" data-url="{% url "badges:tasklist" event.url_name %}"></div>
        <div id="tasks-reload" class="alert alert-info d-none" role="alert">
            {% trans "Please reload the page (due to inactivity)." %}
        </div>

        <ul class="list-group mb-3">
            {% for job in jobs %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8 col-lg-9 col-xl-10">
                        <div class="row">
                            <div class="col-12 col-md-6 py-1 text-break">
                                {{ job.name }}
                            </div>
                            <div class="col-12 col-md-6 py-1">
                                {% if job.num_warnings == 0 %}
                                    {% trans "No warnings" %}
                                {% else %}
                                    <a href="{% url "badges:warnings" event.url_name job.pk %}">
                                        {% blocktrans trimmed count counter=job.num_warnings %}
                                            1 warning
                                        {% plural %}
                                            {{ counter }} warnings
                                        {% endblocktrans %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                        {% if event.badge_settings.barcodes %}
                            <a href="{% url "badges:generate_for_job" event.url_name job.pk %}">
                                {% trans "Unregistered badges" %}
                            </a>
                            <br />
                        {% endif %}
                        <a href="{% url "badges:generate_all_for_job" event.url_name job.pk %}">
                            {% trans "All badges" %}
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}

            <li class="list-group-item">
                <div class="row">
                    <div class="col-8 col-lg-9 col-xl-10">
                        <div class="row">
                            <div class="col-12 col-md-6 py-1 text-break">
                                {% trans "Special badges" %}
                            </div>
                            <div class="col-12 col-md-6 py-1">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                        {% if event.badge_settings.barcodes %}
                            <a href="{% url "badges:generate_special" event.url_name %}">
                                {% trans "Unregistered badges" %}
                            </a>
                            <br />
                        {% endif %}
                        <a href="{% url "badges:generate_all_special" event.url_name %}">
                            {% trans "All badges" %}
                        </a>
                    </div>
                </div>
            </li>
        </ul>

        {% if event.badge_settings.barcodes %}
            <a href="{% url "badges:generate" event.url_name %}">
                {% trans "All unregistered badges" %}
            </a>
            <br />
        {% endif %}
        <a href="{% url "badges:generate_all" event.url_name %}">
            {% trans "Really all badges" %}
        </a>

        <script src="{% static "helfertool/js/badges_tasks.js" %}"></script>
    {% endif %}
{% endblock %}
