{% extends "helfertool/admin.html" %}
{% load i18n icons %}

{% block content %}
    <h2>{% trans "Special badges" %}</h2>

    <div class="alert alert-secondary">
        <p>
        {% blocktrans trimmed %}
            Special badges are badges, which are not associated with helpers and numbered serially, for example:
            Police 1, Police 2, etc.
            This allows to create several similar badges without adding helpers manually.
            Please note, that it is not possible to assign inventory items to these special badges.
        {% endblocktrans %}
        </p>
        
        <p>{% trans "Special badges are not deleted when the event is archived, so they can be reused." %}</p>

        <p class="mb-0 font-italic">{% trans "Please do not enter any personal data like names here!" %}</p>
    </div>

    {% if not event.archived %}
    <p>
        <a href="{% url 'badges:new_specialbadges' event.url_name %}">
            {% icon "plus" %} {% trans "Add special badges" %}
        </a>
    </p>
    {% endif %}

    {% if specialbadges %}
        <ul class="list-group">
            {% for badge in specialbadges %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8 col-lg-9 col-xl-10">
                        <div class="row">
                            <div class="col-12 col-lg-4 py-1 text-break">
                                {{ badge.name }}
                            </div>
                            <div class="col-12 col-lg-5 py-1 text-break">
                                {% trans "Texts: Job" %}: {{ badge.template_badge.job | default:"-" }},
                                {% trans "Shift" %}: {{ badge.template_badge.shift | default:"-" }},
                                {% trans "Role" %}: {{ badge.template_badge.role | default:"-" }} <br/>
                                {% trans "Role" %}: {{ badge.template_badge.custom_role | default:"-" }},
                                {% trans "Design" %}: {{ badge.template_badge.custom_design | default:"-" }} <br/>
                                {% trans "Photo" %}: {{ badge.template_badge.photo | yesno }}
                            </div>
                            <div class="col-12 col-lg-3 py-1">
                                {% blocktrans trimmed count counter=badge.number %}
                                    1 badge
                                {% plural %}
                                    {{ counter }} badges
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                        {% if not event.archived %}
                            <a href="{% url 'badges:edit_specialbadges' event.url_name badge.pk %}">
                                {% icon "pencil-alt" %} {% trans "Edit" %}
                            </a>
                            <br />
                            <a href="{% url 'badges:delete_specialbadges' event.url_name badge.pk %}">
                                {% icon "trash-alt" %} {% trans "Delete" %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">{% trans "There are no special badges." %}</p>
    {% endif %}
{% endblock %}
