{% extends "registration/admin/base.html" %}
{% load i18n bootstrap4 icons badges %}

{% block admincontent %}
    <h2>{% trans "Badge settings" %}</h2>

    <p>
        <a href="{% url 'badges:settings_advanced' event.url_name %}">
            {% trans "Advanced settings" %}
        </a>
    </p>

    <h3>{% trans "Roles" %}</h3>

    {% if roles.count == 0 %}
        <p class="text-muted">{% trans "There are no roles." %}</p>
    {% else %}
        <table class="table">
            <tr>
                <th style="width:30%">{% trans "Name" %}</th>
                <th style="width:20%">{% trans "LaTeX Name" %}</th>
                <th style="width:30%">{% trans "Permissions" %}</th>

                {% if not event.archived %}
                    <th style="width:20%"></th>
                {% endif %}
            </tr>

            {% for role in roles %}
                <tr>
                    <td>{{ role.name }}</td>
                    <td>{{ role.latex_name }}</td>
                    <td>
                        <ul>
                            {% for perm in role.permissions.all %}
                                <li>{{ perm.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    {% if not event.archived %}
                        <td>
                            <a href="{% url 'badges:edit_role' event.url_name role.pk %}">
                                {% icon "pencil" %} {% trans "Edit" %}
                            </a>
                            <br />
                            <a href="{% url 'badges:delete_role' event.url_name role.pk %}">
                                {% icon "trash-alt" %} {% trans "Delete" %}
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if not event.archived %}
        <p>
            <a href="{% url 'badges:new_role' event.url_name %}">
                {% icon "plus" %} {% trans "Add role" %}
            </a>
        </p>
    {% endif %}

    <h3>{% trans "Designs" %}</h3>

    {% if designs.count == 0 %}
        <p class="text-muted">{% trans "There are no designs." %}</p>
    {% else %}
        <table class="table">
            <tr>
                <th style="width:70%">{% trans "Name" %}</th>

                {% if not event.archived %}
                    <th style="width:20%"></th>
                {% endif %}
            </tr>

            {% for design in designs %}
                <tr>
                    <td>{{ design.name }}</td>

                    {% if not event.archived %}
                        <td>
                            <a href="{% url 'badges:edit_design' event.url_name design.pk %}">
                                {% icon "pencil" %} {% trans "Edit" %}
                            </a>
                            <br/>
                            <a href="{% url 'badges:delete_design' event.url_name design.pk %}">
                                {% icon "trash-alt" %} {% trans "Delete" %}
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if not event.archived %}
        <p>
            <a href="{% url 'badges:new_design' event.url_name %}">
                {% icon "plus" %} {% trans "Add design" %}
            </a>
        </p>
    {% endif %}


    <h3>{% trans "Defaults" %}</h3>
    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form defaults_form %}

        <table class="table">
            <tr>
                <th>{% trans "Job" %}</th>
                <th>{% trans "Role" %}</th>
                <th>{% trans "Design" %}</th>
                <th>{% trans "Print no default role" %}</th>
            </tr>

            {% for job in event.job_set.all %}
                <tr>
                    <td>{{ job.name }}</td>
                    <td>
                        {% badge_job_role_field job_defaults_form job.pk as field %}
                        {% bootstrap_field field show_label=False %}
                    </td>
                    <td>
                        {% badge_job_design_field job_defaults_form job.pk as field %}
                        {% bootstrap_field field show_label=False %}
                    </td>
                    <td>
                        {% badge_job_no_def_role_field job_defaults_form job.pk as field %}
                        {% bootstrap_field field show_label=False %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% bootstrap_form_errors job_defaults_form %}
        {% bootstrap_form_errors job_defaults_form %}

        {% if not event.archived %}
            <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary" />
        {% endif %}
    </form>
{% endblock %}
