{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons badges %}

{% block content %}
    <h1>{% trans "Badge settings" %}</h1>

    <p>
        <a href="{% url 'badges:settings_advanced' event.url_name %}">
            {% icon "angle-double-right" %} {% trans "Advanced settings" %}
        </a>
    </p>

    <h2>{% trans "Roles" %}</h2>
    {% if roles.count == 0 %}
        <p class="text-muted">{% trans "There are no roles." %}</p>
    {% else %}
        <ul class="list-group mb-3">
            {% for role in roles %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8 col-lg-9 col-xl-10">
                        <div class="row">
                            <div class="col-12 col-md-4 py-1 text-break">
                                {{ role.name }}
                            </div>
                            <div class="col-12 col-md-4 py-1">
                                <ul class="reset-list">
                                    {% for perm in role.permissions.all %}
                                        <li>{{ perm.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-12 col-md-4 py-1 text-break">
                                <code>{% icon "tag" %} {{ role.latex_name }}</code>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                        {% if not event.archived %}
                            <a href="{% url 'badges:edit_role' event.url_name role.pk %}">
                                {% icon "pencil-alt" %} {% trans "Edit" %}
                            </a>
                            <br />
                            <a href="{% url 'badges:delete_role' event.url_name role.pk %}">
                                {% icon "trash-alt" %} {% trans "Delete" %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if not event.archived %}
        <p>
            <a href="{% url 'badges:new_role' event.url_name %}">
                {% icon "plus" %} {% trans "Add role" %}
            </a>
        </p>
    {% endif %}

    <h2>{% trans "Designs" %}</h2>
    {% if designs.count == 0 %}
        <p class="text-muted">{% trans "There are no designs." %}</p>
    {% else %}
        <ul class="list-group mb-3">
            {% for design in designs %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8 col-lg-9 col-xl-10">
                        {{ design.name }}
                    </div>
                    <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                        {% if not event.archived %}
                            <a href="{% url 'badges:edit_design' event.url_name design.pk %}">
                                {% icon "pencil-alt" %} {% trans "Edit" %}
                            </a>
                            <br/>
                            <a href="{% url 'badges:delete_design' event.url_name design.pk %}">
                                {% icon "trash-alt" %} {% trans "Delete" %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if not event.archived %}
        <p>
            <a href="{% url 'badges:new_design' event.url_name %}">
                {% icon "plus" %} {% trans "Add design" %}
            </a>
        </p>
    {% endif %}

    <h2>{% trans "Defaults" %}</h2>
    <form action="" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-12 col-md-6">
                {% bootstrap_field defaults_form.role layout="floating" %}
            </div>
            <div class="col-12 col-md-6">
                {% bootstrap_field defaults_form.design layout="floating" %}
            </div>
        </div>

        {% if event.job_set %}
            <ul class="list-group mb-3">
                {% for job in event.job_set.all %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 col-md-3 my-1">
                            {{ job.name }}
                        </div>
                        <div class="col-12 col-md-3 my-1">
                            {% badge_job_role_field job_defaults_form job.pk as field %}
                            {% bootstrap_field field layout="floating" %}
                        </div>
                        <div class="col-12 col-md-3 my-1">
                            {% badge_job_design_field job_defaults_form job.pk as field %}
                            {% bootstrap_field field layout="floating" %}
                        </div>
                        <div class="col-12 col-md-3 my-1">
                            {% badge_job_no_def_role_field job_defaults_form job.pk as field %}
                            {% bootstrap_field field layout="floating" %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% bootstrap_form_errors job_defaults_form %}

        {% if not event.archived %}
            <button type="submit" class="btn btn-outline-primary">{% icon "save" %} {% trans "Save" %}</button>
        {% endif %}
    </form>
{% endblock %}
