{% load i18n bootstrap4 icons %}

<table class="table">
    {% if no_login %}
        <p>{% trans "Please login again." %}</p>
    {% else %}
        {% for task in tasks %}
            <tr>
                <td>
                    {% if task.finished %}
                        {% icon "check" %}
                    {% elif task.error %}
                        <span class="text-danger">{% icon "exclamation-triangle" %}</span>
                    {% else %}
                        <i class="fa fa-spinner fa-pulse"></i>
                    {% endif %}

                    &nbsp;

                    {{ task.name }}
                </td>

                <td>
                    {% if task.error %}
                        <a href="{% url "badges:failed" event.url_name task.id %}">
                            {% trans "Show errors" %}
                        </a>
                    {% elif task.finished %}
                        <a href="{% url "badges:download" event.url_name task.id %}">
                            {% trans "Download" %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
