{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
    <h1>{% trans "Warnings for badge generation" %}</h1>

    {% if not helpers %}
        <p class="text-muted">{% trans "There are no warnings." %}</p>
    {% else %}
        <div class="alert alert-secondary">
            <strong>{% trans "Info:" %}</strong>
            {% trans "The listed persons have more than one job, so you have to select the primary job in the badge settings." %}
        </div>

        <ul>
            {% for h in helpers %}
                <li><a href="{% url 'view_helper' event.url_name h.pk %}">{{ h.full_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
