{% extends "helfertool/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load registerform_shifts %}

{% block title %}
    {% blocktrans trimmed with eventname=event.name %}
        Helfertool - {{ eventname }}
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <h1>{{ event }}</h1>

    <div class="alert alert-info" role="alert">
        {% trans "You signed off from all shifts." %}
    </div>

    {% if event.imprint %}
        <div class="contact">
            <p><strong>{% trans "Contact" %}</strong></p>
            {{ event.imprint | safe }}
        </div>
    {% endif %}
{% endblock %}
