{% extends "helfertool/base.html" %}
{% load i18n django_bootstrap5 icons %}

{% block title %}
    {% blocktrans trimmed with eventname=event.name %}
        Helfertool - {{ eventname }}
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <h1>{% trans "Sign off from shift" %}</h1>

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-label="{% trans "Personal data of helper" %}">
                <tr>
                    <th scope="row" class="w-50">{% trans "Name" %}: </th>
                    <td class="w-50">{{ helper.full_name }}</td>
                </tr>
                <tr>
                    <th scope="row" class="w-50">{% trans "Shift" %}: </th>
                    <td class="w-50">{{ shift }}</td>
                </tr>
            </table>
        </div>
    </div>

    <form action="" method="post">
        {% csrf_token %}

        <button type="submit" class="btn btn-outline-danger">{% icon "times" %} {% trans "Sign off" %}</button>
    </form>

    {% include "registration/partials/contact.html" with event=event %}
{% endblock %}
