{% extends "helfertool/base.html" %}
{% load i18n django_bootstrap5 icons globalpermissions %}

{% block title %}
    {% blocktrans trimmed with eventname=event.name %}
        Helfertool - {{ eventname }}
    {% endblocktrans %}
{% endblock %}

{% block socialheader %}
    {% if event.logo_social %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ MEDIA_URL }}{{ event.logo_social }}" />
    {% elif event.logo %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ MEDIA_URL }}{{ event.logo }}" />
    {% endif %}

    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="{% blocktrans trimmed %}Register for {{ event }} as helper{% endblocktrans %}" />
    <meta property="og:description" content="{{ event.text | striptags }}" />
{% endblock %}

{% block content %}
    {% if event.archived %}
        <div class="alert alert-info" role="alert">
            {% trans "This event is archived." %}
        </div>
    {% elif not event.active and not link %}
        <div class="alert alert-info" role="alert">
            {% trans "The public registration is disabled." %}
        </div>
    {% endif %}

    {% bootstrap_form_errors form %}

    <h1>
        {{ event }}

        {% if user_is_involved %}
            <a href="{% url 'helpers' event.url_name %}" class="btn btn-lg shadow-none">
                {% icon "cog" %}
            </a>
        {% endif %}
    </h1>

    {% if event.logo %}
        <img src="{{ MEDIA_URL }}{{ event.logo }}" class="event-logo" alt="{% trans "Event logo" %}" />
    {% endif %}

    {{ event.text | safe }}

    {% include "registration/partials/registerform.html" with event=event form=form corona_form=corona_form %}

    {% include "registration/partials/contact.html" with event=event %}
{% endblock %}
