{% extends "helfertool/base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Events" %}</h1>
    {% if active_events %}
        <ul>
            {% for event in active_events %}
                <li>
                    <a href="{% url 'form' event.url_name %}">{{ event }}</a>

                    {% if event.involved %}
                        (<a href="{% url 'manage_event' event.url_name %}">{% trans "Manage" %}</a>)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "At the moment there is no event you can register for." %}</p>
    {% endif %}

    {% if involved_events %}
        <h2>{% trans "Inactive" %}</h2>

        {% regroup involved_events|dictsortreversed:"date" by date|date:"Y" as involved_events_list %}

        {% for group in involved_events_list %}
            <h3>{{ group.grouper }}</h3>
            <ul>
                {% for event in group.list|dictsort:"name.lower" %}
                    <li>
                        {% if event.archived %}
                            <s>
                        {% endif %}
                        <a href="{% url 'form' event.url_name %}">{{ event }}</a>
                        {% if event.archived %}
                            </s>
                        {% endif %}

                        (<a href="{% url 'manage_event' event.url_name %}">{% trans "Manage" %}</a>)
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
