{% extends "helfertool/base.html" %}
{% load i18n icons %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>{% trans "Events" %}</h1>
        </div>
    </div>

    <div class="row">
        {% if active_events %}
            <div class="col-lg-6 col-xs-12 mb-5">
                <ul class="list-group">
                    {% for event in active_events %}
                        <li class="list-group-item">
                            {% if event.involved %}
                                <a href="{% url 'manage_event' event.url_name %}" class="float-right">
                                    {% icon "cog" %}
                                    {% trans "Manage" %}
                                </a>
                            {% endif %}

                            <a href="{% url 'form' event.url_name %}">{{ event }}</a>

                            <br />

                            <span class="badge badge-outline-dark">
                                {% if event.days > 1 %}
                                    {% blocktrans with date=event.date days=event.days trimmed %}
                                        {{ date }}, {{ days }} days
                                    {% endblocktrans %}
                                {% else %}
                                    {{ event.date }}
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="col-lg-12 mb-3">
                <div class="alert alert-info" role="alert">
                    {% trans "At the moment there is no event you can register for." %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-12">
            <b>{% trans "Stay informed about future events!" %}</b>

            <br />

            <a href="{% url "news:subscribe" %}" class="btn btn-outline-primary mt-1">
                {% icon "envelope" %}
                {% trans "Subscribe to our newsletter" %}
            </a>
        </div>
    </div>

    {% if involved_events %}
        <div class="row">
            <div class="col-lg-12">
                <h2>{% trans "Inactive" %}</h2>
            </div>

            {% regroup involved_events|dictsortreversed:"date" by date|date:"Y" as involved_events_list %}

            {% for group in involved_events_list %}
                <div class="col-lg-6 col-xs-12">
                    <h3>{{ group.grouper }}</h3>
                    <ul class="list-group">
                        {% for event in group.list|dictsort:"name.lower" %}
                            <li class="list-group-item">
                                <a href="{% url 'manage_event' event.url_name %}" class="float-right">
                                    {% icon "cog" %}
                                    {% trans "Manage" %}
                                </a>

                                <a href="{% url 'form' event.url_name %}">{{ event }}</a>

                                <br />

                                <span class="badge badge-outline-dark">
                                    {% if event.days > 1 %}
                                        {% blocktrans with date=event.date days=event.days trimmed %}
                                            {{ date }}, {{ days }} days
                                        {% endblocktrans %}
                                    {% else %}
                                        {{ event.date }}
                                    {% endif %}
                                </span>

                                {% if event.archived %}
                                    <span class="badge badge-dark">{% icon "archive" %} {% trans "archived" %}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if enable_show_more_events %}
        <div class="mt-3">
            <a href="{% url 'index_all_events' %}">{% trans "Display all Events" %}</a>
        </div>
    {% endif %}
{% endblock %}
