{% extends "helfertool/base.html" %}
{% load i18n icons %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>{% trans "Events" %}</h1>
        </div>

        {% if active_events %}
            <div class="col-lg-6 col-xs-12">
                <ul class="list-group">
                    {% for event in active_events %}
                        <li class="list-group-item">
                            <a href="{% url 'form' event.url_name %}">{{ event }}</a>

                            {% if event.involved %}
                                <a href="{% url 'manage_event' event.url_name %}" class="float-right">
                                    {% icon "hammer" %}
                                    {% trans "Manage" %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="col-lg-12">
                <div class="alert alert-info" role="alert">
                    {% trans "At the moment there is no event you can register for." %}
                </div>
            </div>
        {% endif %}
    </div>

    {% if involved_events %}
        <div class="row">
            <div class="col-lg-12">
                <h2>{% trans "Inactive" %}</h2>
            </div>

            {% regroup involved_events|dictsortreversed:"date" by date|date:"Y" as involved_events_list %}

            {% for group in involved_events_list %}
                <div class="col-6">
                    <h3>{{ group.grouper }}</h3>
                    <ul class="list-group">
                        {% for event in group.list|dictsort:"name.lower" %}
                            <li class="list-group-item">
                                <a href="{% url 'form' event.url_name %}">{{ event }}</a>
                                {% if event.archived %}
                                    <span class="badge badge-dark">{% trans "archived" %}</span>
                                {% endif %}

                                <a href="{% url 'manage_event' event.url_name %}" class="float-right">
                                    {% icon "hammer" %}
                                    {% trans "Manage" %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
