{% extends "helfertool/base.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <div class="errorpage text-center text-muted">
        <i class="far fa-frown-open display-1"></i>

        <h1 class="message">{% trans "This link is not valid" %}</h1>

        {% if event.active %}
            <p class="link">
                <a href="{% url "form" event.url_name %}" class="btn btn-outline-primary ">
                    {% icon "external-link-alt" %} {% trans "To the public registration" %}
                </a>
            </p>
        {% endif %}
    </div>
{% endblock %}
