{% extends "helfertool/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
    <h1>{% trans "Login" %}</h1>

    <form action="{% url "login" %}" method="post" accept-charset="utf-8" role="form">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-12">
                {% bootstrap_form_errors form %}
            </div>
            <div class="col-xs-12 col-lg-6">
                {% bootstrap_field form.username required_css_class='' %}
                {% bootstrap_field form.password required_css_class='' %}
            </div>
        </div>

        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="{% trans "Login" %}" class="btn btn-outline-primary" />
    </form>
{% endblock %}
