{% extends "helfertool/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% load registerform_shifts %}

{% block title %}
    {% blocktrans trimmed %}
        Register for {{ event }} as helper
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <h1>{{ event }}</h1>

    <div class="alert alert-info" role="alert">
        {% trans "The registration is not open." %}
    </div>

    {% if event.imprint %}
        <div class="contact">
            <p><b>{% trans "Contact" %}</b></p>
            {{ event.imprint | safe }}
        </div>
    {% endif %}
{% endblock %}
