{% extends "helfertool/base.html" %}
{% load i18n django_bootstrap5 icons %}

{% block title %}
    {% blocktrans trimmed with eventname=event.name %}
        Helfertool - {{ eventname }}
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <h1>{{ event }}</h1>

    {% if data.has_to_validate %}
        <div class="alert alert-info" role="alert">
            {% trans "Please confirm your mail address and registration by clicking on the link we sent to you." %}
        </div>
    {% endif %}

    {{ event.registered | safe }}

    <h2>{% trans "Personal data" %}</h2>

    {% if personal_data_form %}
        <form action="" method="post" accept-charset="utf-8">
            {% csrf_token %}

            {% include "registration/partials/helper_edit_data.html" with form=personal_data_form %}

            <div class="alert alert-primary" role="alert">
                {% trans "If you change your mail address a confirmation mail will be sent to the new address." %}
            </div>

            <button type="submit" class="btn btn-outline-primary">{% icon "save" %} {% trans "Save" %}</button>
        </form>

        <p></p>
    {% else %}
        {% include "registration/partials/helper_view_data.html" with helper=data mask_sensitive=True %}

        {% if event.changes_possible %}
            <p>
                <a href="{% url 'update_personal' event.url_name data.pk %}">
                    {% icon "edit" %} {% trans "Edit" %}
                </a>
            </p>
        {% endif %}

        {% if event.changes_possible %}
            <div class="alert alert-info" role="alert">
                {% blocktrans with date=event.changes_until trimmed %}
                    You can change your selected shifts and personal data until {{ date }} on this page (we have also sent you the link via e-mail).
                    Afterwards, please contact us directly for changes.
                {% endblocktrans %}
            </div>
        {% endif %}
    {% endif %}

    {% if data.is_coordinator %}
        <h2>{% trans "Jobs" %}</h2>
        <ul class="list-group mb-3">
            {% for job in data.coordinated_jobs %}
                <li class="list-group-item">
                    {{ job.name }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if data.shifts.exists %}
        <h2>{% trans "Shifts" %}</h2>

        <ul class="list-group mb-3">
            {% for shift in data.shifts.all %}
                <li class="list-group-item">
                    {{ shift }}

                    {% if event.changes_possible %}
                        <a href="{% url 'deregister' event.url_name data.pk shift.pk %}" class="float-end">
                            {% icon "times" %} {% trans "Sign off" %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% comment %}
        {% if event.changes_possible %}
            <a class="btn btn-primary" href="TODO">
                <em class="fa fa-plus fa-lg"></em> {% trans "Register for more shifts" %}
            </a> &nbsp;
        {% endif %}
        {% endcomment %}

        <p class="mt-4">
            <a class="btn btn-outline-primary" href="{% url 'ical' event.url_name data.pk %}">
                <em class="far fa-calendar-alt fa-lg"></em> {% trans "Add to calendar (iCal)" %}
            </a>
        </p>
    {% endif %}

    {% include "registration/partials/contact.html" with event=event %}
{% endblock %}
