{% load i18n bootstrap4 icons static registerform_shifts toolsettings %}

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" id="max_overlapping" value="{{ event.max_overlapping }}" />

    <h2>{% trans "Jobs" %}</h2>
    {# list of all jobs and shifts #}

    {% get_jobs form as jobs %}
    {% for job in jobs %}
        {% get_shifts form job as shifts %}

        <h3>
            {{ job.name }}
            {% if job.description %}
                <button type="button"
                        class="btn btn-outline-primary btn-sm info-expand"
                        data-toggle="collapse"
                        data-target="#job-{{ job.pk }}">
                    {% icon "info" %}
                </button>
            {% endif %}
        </h3>

        <div id="job-{{ job.pk }}" class="collapse">
            <p>{{ job.description | safe }}</p>
        </div>

        <table class="shifts">
            <tr>
                {% for day, shifts in shifts.items %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for day, shifts in shifts.items %}
                    <td>
                    {% for shift in shifts %}
                        {% if shift.is_full or shift.blocked and not form.displayed_shifts %}
                            <div class="full">
                        {% else %}
                            <div>
                        {% endif %}
                            {# checkbox #}
                            {{ form | lookup_shift:shift.pk }}
                            <label for="id_shift_{{ shift.pk }}">
                                <span class="time">{{ shift.time_hours }}</span>

                                {# number of helpers #}
                                {% if event.show_public_numbers %}
                                    {% if shift.blocked and not form.displayed_shifts %}
                                        <span class="badge badge-outline-dark">
                                            {{ shift.number }}/{{ shift.number }}
                                        </span>
                                    {% else %}
                                        <span class="badge badge-outline-dark">
                                            {{ shift.num_helpers }}/{{ shift.number }}
                                        </span>
                                    {% endif %}
                                {% endif %}

                                {% if shift.name %}
                                    <br /><span class="name">{{ shift.name }}</span>
                                {% endif %}
                            </label>
                        </div>
                    {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endfor %}

    <h2>{% trans "Personal data" %}</h2>

    {# personal data, nothing special... #}
    <div class="row">
        <div class="col-lg-6">
            {% bootstrap_field form.firstname required_css_class='' %}
        </div>
        <div class="col-lg-6">
            {% bootstrap_field form.surname required_css_class='' %}
        </div>
    </div>

    <div class="row">
        {% if event.ask_phone %}
            <div class="col-lg-6">
                {% bootstrap_field form.email required_css_class='' %}
            </div>
            <div class="col-lg-6">
                {% bootstrap_field form.phone required_css_class='' %}
            </div>
	{% else %}
            <div class="col-lg-12">
                {% bootstrap_field form.email required_css_class='' %}
            </div>
	{% endif %}
    </div>

    <div class="row">
        {% if event.ask_shirt %}
            <div class="col-lg-6">
                {% bootstrap_field form.shirt required_css_class='' %}
            </div>
        {% endif %}

        {% if event.ask_vegetarian %}
            <div class="col-lg-6">
                <label>{% trans "Food" %}</label>
                {% bootstrap_field form.vegetarian required_css_class='' %}
            </div>
        {% endif %}
    </div>

    <div class="row">
            <div class="col-lg-12">
            {% bootstrap_field form.infection_instruction required_css_class='' %}

            {% bootstrap_field form.comment required_css_class='' %}

            {% if form.ask_full_age %}
                {% bootstrap_field form.full_age required_css_class='' %}
            {% endif %}
        </div>
    </div>

    {% if not form.internal %}
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.privacy_statement %}

                <div class="card collapse mb-4" id="privacy">
                    <h5 class="card-header">{% trans "Privacy statement" %}</h5>
                    <div class="card-body">
                        {% htmlsetting "privacy" %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if form.ask_news %}
        <div class="row">
            <div class="col-lg-12">
                <p><b>{% trans "We would like to inform you about futher events!" %}</b></p>
                {% bootstrap_field form.news %}

                <div class="card collapse mb-4" id="privacy_newsletter">
                    <h5 class="card-header">{% trans "Privacy statement for newsletter" %}</h5>
                    <div class="card-body">
                        {% htmlsetting "privacy_newsletter" %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">

            {% if form.internal %}
                <div class="alert alert-warning" role="alert">
                    {% trans "Note: after saving an e-mail will be sent to the given address." %}

                    {% if form.internal and event.ask_full_age %}
                        <br/><br/><b>{% trans "Make sure that the helper is full age!" %}</b>
                    {% endif %}
                </div>

                <input type="submit" value="{% trans "Register" %}" class="btn btn-outline-primary" />
            {% else %}
                <input type="submit" value="{% trans "Register" %}" class="btn btn-lg btn-outline-primary mt-2" />
            {% endif %}
        </div>
    </div>

    <script src="{% static "helfertool/js/registration.js" %}"></script>
</form>

