{% extends "helfertool/base.html" %}
{% load i18n icons %}

{% block title %}
    {% blocktrans trimmed with eventname=event.name %}
        Helfertool - {{ eventname }}
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <h1>{{ event }}</h1>

    <div class="alert alert-info mt-3" role="alert">
        {% trans "Thank you! You confirmed your mail address and registration." %}
    </div>

    <p>
        <a class="btn btn-outline-primary mt-3" href="{% url "registered" event.url_name helper.pk %}">
            {% icon "search" %} {% trans "View my data" %}
        </a>
    </p>

    {% include "registration/partials/contact.html" with event=event %}
{% endblock %}
