{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Delete gift" %}</h1>

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-label="{% trans 'Data of gift' %}">
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ gift.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Gift sets that use this gift" %}</th>
                    <td>
                        <ul>
                        {% for gift_set in gift_sets %}
                            <li>{{ gift_set }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <button type="submit" class="btn btn-outline-danger">{% icon "trash-alt" %} {% trans "Delete" %}</button>
    </form>
{% endblock %}
