{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2 id="gifts-header">{% trans "Delete gift" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        <table class="table" aria-describedby="gifts-header">
            <tr>
                <th scope="row">{% trans "Gift" %}</th>
                <td>{{ gift.name }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "Gift sets that use this gift" %}</th>
                <td>
                    {% for gift_set in gift_sets %}
                        {{ gift_set }}<br/>
                    {% endfor %}
                </td>
            </tr>
        </table>

        {% bootstrap_form_errors form %}

        <input type="submit" value="{% trans "Delete" %}" class="btn btn-outline-danger" />
    </form>
{% endblock %}
