{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2 id="gifts-header">{% trans "Delete gift set" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        <table class="table" aria-describedby="gifts-header">
            <tr>
                <th scope="row">{% trans "Gift set" %}</th>
                <td>{{ gift_set.name }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "Included gifts" %}</th>
                <td>
                    {% for gift in gift_set.includedgift_set.all %}
                        {{ gift.count }} {{ gift.gift.name }}<br/>
                    {% endfor %}
                </td>
            </tr>
        </table>

        {% bootstrap_form_errors form %}

        <input type="submit" value="{% trans "Delete" %}" class="btn btn-outline-danger" />
    </form>
{% endblock %}
