{% load i18n bootstrap4 gifts icons staticfiles %}

{# will be included by registration/admin/view_helper.html #}

<div class="row">
    {% if helper.shifts.count != 0 %}
        <div class="col-lg-12">
            <table class="shifts">
                {% for shift in helper.shifts.all|dictsort:"begin" %}
                    <tr>
                        <th class="align-top">
                            {% helper_has_missed_shift helper shift as missed_shift %}

                            {% if missed_shift %}
                                <span class="text-danger">{{ shift }}</span>
                            {% else %}
                                {{ shift }}
                            {% endif %}

                            <br /><br />

                            {{ form | lookup_helpersgifts_present:shift.pk }}
                        </th>

                        {% gifts_for_shift form shift as deserved_gifts %}
                        {% if deserved_gifts %}
                            {% for deserved_gift in deserved_gifts %}
                                <td>
                                    {% helper_shift_requires_deposit helper shift as shift_requires_deposit %}
                                    <div class="align-top delivery{% if not shift_requires_deposit %} nodeposit{%endif%}" data-original="{{ deserved_gift.delivered }}">
                                        {{ form | lookup_helpersgifts_delivered:deserved_gift.pk }}
                                        <label for="id_gifts-delivered_{{ deserved_gift.pk }}">{% trans "Delivered" %}</label>
                                    </div>

                                    <ul>
                                        {% for gift in deserved_gift.gift_set.includedgift_set.all %}
                                            <li>{{ gift.count }} {{ gift.gift.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endfor %}
                        {% else %}
                            <td>
                                <span class="text-muted">{% trans "No gifts" %}</span>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% with gift_sum=helper.gifts.gifts_sum.items %}
            {% if gift_sum %}
                <div>
                    <table class="table">
                        <tr>
                            <th>{% trans "Gift" %}</th>
                            <th>{% trans "Total" %}</th>
                            <th>{% trans "Given" %}</th>
                        <th>{% trans "Pending (with deposit)" %}</th>
                        <th>{% trans "Pending" %}</th>
                        </tr>

                        {% for name,numbers in gift_sum %}
                            <tr>
                                <th>{{ name }}</th>
                                <td>{{ numbers.total }}</td>
                                <td>{{ numbers.given }}</td>
                                <td>
                                    {% if numbers.pending_with_deposit > 0 %}
                                        <span class="text-warning"><b>{{ numbers.pending_with_deposit }}</b></span>
                                    {% else %}
                                        <span class="text-success">{{ numbers.pending_with_deposit }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if numbers.pending > 0 %}
                                        <span class="text-warning"><b>{{ numbers.pending }}</b></span>
                                    {% else %}
                                        <span class="text-success">{{ numbers.pending }}</span>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="checkbox" id="set_all_deposit_pending_gifts" onclick="all_gifts_delivered(this, true);" >
                                <label for ="set_all_deposit_pending_gifts">{% trans "All delivered" %}</label>
                            </td>
                            <td>
                                <input type="checkbox" id="set_all_pending_gifts" onclick="all_gifts_delivered(this, false);" >
                                <label for ="set_all_pending_gifts">{% trans "All delivered" %}</label>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
</div>

<div class="row">
    <div class="col-xs-12 col-lg-5">
        {% bootstrap_field form.deposit layout='horizontal' %}
    </div>
    <div class="col-xs-12 col-lg-5">
        {% if default_deposit %}
            <a class="btn btn-sm btn-outline-primary" onclick="set_default_deposit({{ default_deposit }}); return false;" href="">
                {% trans "Set to default" %}
            </a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-5">
        {% bootstrap_field form.deposit_returned %}

        {% if helper.event.ask_shirt %}
            {% bootstrap_field form.got_shirt %}
            {% bootstrap_field form.buy_shirt %}
        {% endif %}
    </div>
</div>

<script src="{% static "helfertool/js/gifts.js" %}"></script>
