{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Missing T-shirts" %}</h2>

    {% if shirts_not_active %}
        <div class="alert alert-danger" role="alert">
            {% trans "For this event no t-shirt sizes were collected." %}
        </div>
    {% else %}
        {% if helpers %}
            <table class="table">
                <tr>
                    {% for size, num in num_shirts.items %}
                        <th>{{ size }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for size, num in num_shirts.items %}
                        <td>{{ num }}</td>
                    {% endfor %}
                </tr>
            </table>

            <table class="table mt-5">
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Size" %}</th>
                </tr>

                {% for h in helpers %}
                    <tr>
                        <td><a href="{% url "view_helper" event.url_name h.pk %}">{{ h.full_name }}</a></td>
                        <td>{{ h.get_shirt_display }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="text-muted">{% trans "No T-shirts are missing." %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
