{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Collected deposit" %}</h2>

    {% if helpers %}
        <table class="table">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Deposit" %}</th>
            </tr>

            {% for h in helpers %}
                <tr>
                    <td><a href="{% url "view_helper" event.url_name h.pk %}">{{ h.full_name }}</a></td>
                    <td>{{ h.gifts.deposit }} &euro;</td>
                </tr>
            {% endfor %}

            <tr>
                <th>{% trans "Sum" %}</th>
                <th>{{ deposit_sum }} &euro;</th>
            </tr>
        </table>
    {% else %}
        <p class="text-muted">{% trans "No deposit has to be returned." %}</p>
    {% endif %}

{% endblock %}
