{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 staticfiles %}

{% block admincontent %}
    <h2>{% trans "Attendance for shift" %}</h2>
    <h3>{{ shift }}</h3>

    <p>
        <a class="btn btn-sm btn-outline-primary" onclick="set_all(); return false;" href="">
            {% trans "Set all to attendant" %}
        </a>
    </p>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form form %}

        <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary" />
    </form>

    <script src="{% static "helfertool/js/set_present.js" %}"></script>
{% endblock %}
