{% load i18n %}
{% load setting %}

{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == 'de' %}
    <p>Ich bin damit einverstanden, dass meine E-Mail Adresse gespeichert wird, um mich über neue Veranstaltungen zu informieren.
    Des weiteren bin ich damit einverstanden, dass gezielte Helferaufrufe für Veranstaltungen der studentischen Vertretung an diese Adresse gesendet werden.</p>

    <p>Dem Senden weiterer E-Mails kann jederzeit widersprochen werden.</p>
{% else %}
    <p>
    With your permission your email address is collected to inform you about new events.
    Furthermore specific calls for participation as helper for events of the Student Representatives will be sent to this email address.
    </p>

    <p>It is possible to veto the sending of further emails anytime.</p>
{% endif %}
