{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "All mails" %}</h1>

    {% if sent_mails %}
        <ul class="list-group">
            {% for mail in sent_mails %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8 col-lg-9 col-xl-10">
                        <div class="row">
                            <div class="col-12 col-lg-4 py-1 text-break">
                                {% if mail.failed %}
                                    <span class="text-danger me-1">{% icon "exclamation-triangle" %}</span>
                                {% endif %}

                                {{ mail.subject }}
                            </div>
                            <div class="col-12 col-lg-4 py-1">
                                <ul class="reset-list">
                                {% for tmp in mail.receiver_list %}
                                    <li>{{ tmp }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="col-12 col-lg-4 py-1">
                                {% icon "clock" %} {{ mail.date }}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                        <a href="{% url 'mail:show' event.url_name mail.pk %}">
                            {% icon "search" %}
                            {% trans "View" %}
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">{% trans "No mails were sent (or you are not allowed to see these mails)." %}</p>
    {% endif %}
{% endblock %}
