{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 icons %}

{% block admincontent %}
    <h2 id="mails-header">{% trans "All mails" %}</h2>

    {% if sent_mails %}
        <table class="table" aria-describedby="mails-header">
            <tr>
                <th scope="col"></th>
                <th scope="col">{% trans "Subject" %}</th>
                <th scope="col">{% trans "Receiver" %}</th>
                <th scope="col">{% trans "Date" %}</th>
                <th scope="col"></th>
            </tr>
            {% for mail in sent_mails %}
                <tr>
                    <td>
                        {% if mail.failed %}
                            <span class="text-danger">{% icon "exclamation-triangle" %}</span>
                        {% endif %}
                    </td>
                    <td>{{ mail.subject }}</td>
                    <td>
                        <ul>
                            {% for tmp in mail.receiver_list %}
                                <li>{{ tmp }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ mail.date }}</td>
                    <td>
                        <a href="{% url 'mail:show' event.url_name mail.pk %}">
                            {% icon "search" %}
                            {% trans "View" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="text-muted">{% trans "No mails were sent (or you are not allowed to see these mails)." %}</p>
    {% endif %}
{% endblock %}
