{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Send mails" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form form %}

        <input type="submit" value="{% trans "Send" %}" class="btn btn-outline-primary" />
    </form>

    <script type="text/javascript">
        $('.select2').select2();

        function handle_reply_to()
        {
            if($("#id_reply_to").val() == "-")
                $("#id_custom_reply_to").parent().show()
            else
                $("#id_custom_reply_to").parent().hide()
        }

        handle_reply_to();
    </script>
{% endblock %}
