{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons static %}

{% block content %}
    <h1>{% trans "Send mails" %}</h1>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        {% bootstrap_field form.receiver layout="floating" %}

        <div class="row">
            <div class="col-12 col-md-6">
                {% bootstrap_field form.reply_to layout="floating" %}
            </div>
            <div class="col-12 col-md-6">
                {% bootstrap_field form.custom_reply_to layout="floating" %}
            </div>
        </div>

        {% bootstrap_field form.cc layout="floating" %}

        <div class="mt-5">
            {% bootstrap_field form.subject layout="floating" %}
            {% bootstrap_field form.text layout="floating" %}
        </div>

        <button type="submit" class="btn btn-outline-primary">{% icon "paper-plane" %} {% trans "Send" %}</button>
    </form>

    <script src="{% static "mail/js/send_mail.js" %}"></script>
{% endblock %}
