{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Mail:" %} {{ mail.subject }}</h1>

    {% if mail.failed %}
        <div class="alert alert-danger" role="alert">
            {% trans "This mail was not sent successfully." %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-label="{% trans 'Mail meta data' %}">
                <tr>
                    <th scope="row">{% trans "Sent by" %}</th>
                    <td>{{ mail.user.get_full_name | default:"-" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Date" %}</th>
                    <td>{{ mail.date }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Sender address" %}</th>
                    <td>{{ mail.sender }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "CC" %}</th>
                    <td>{{ mail.cc | default:"-" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Reply to" %}</th>
                    <td>{{ mail.reply_to | default:"-" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Receiver" %}</th>
                    <td>
                        <ul>
                            {% for tmp in mail.receiver_list %}
                                <li>{{ tmp }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if not event.archived %}
                <tr>
                    <th scope="row">{% trans "Mail delivery failures" %}</th>
                    <td>
                        {% if mail.failed_deliveries_exist or mail.failed %}
                            <a href="{% url 'mail:show_errors' event.url_name mail.pk %}">
                                {% trans "Show delivery failures" %}
                            </a>
                        {% else %}
                            <span class="text-muted">{% trans "No delivery failures are known for now." %}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <div class="code">
        {{ mail.text | linebreaks }}
    </pre>
{% endblock %}
