{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2 id="mail-header">{% trans "Mail:" %} {{ mail.subject }}</h2>

    {% if mail.failed %}
        <div class="alert alert-danger" role="alert">
            {% trans "This mail was not sent successfully." %}
        </div>
    {% endif %}

    <table class="table" aria-describedby="mail-header">
        <tr>
            <th scope="row">{% trans "Sent by" %}</th>
            <td>{{ mail.user.get_full_name }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Sender" %}</th>
            <td>{{ mail.sender }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Date" %}</th>
            <td>{{ mail.date }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "CC" %}</th>
            <td>{{ mail.cc | default:"-" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Reply to" %}</th>
            <td>{{ mail.reply_to | default:"-" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Receiver" %}</th>
            <td>
                <ul>
                    {% for tmp in mail.receiver_list %}
                        <li>{{ tmp }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

    <div class="wraptext mailbody">
        {{ mail.text | linebreaks }}
    </pre>
{% endblock %}
