@font-face {
    font-family: "Nunito";
    src: url('../font/Nunito-Regular.woff2') format('woff2'),
         url('../font/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Nunito";
    src: url('../font/Nunito-Bold.woff2') format('woff2'),
         url('../font/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
}

$font-family-base: "Nunito", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
