{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with eventname=event.name trimmed %}
Manage {{ eventname }}
{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans with eventname=event.name %}Manage {{ eventname }}{% endblocktrans %}</h1>

    <ul>
        <li><a href="{% url 'form' event.url_name %}">{% trans "Go to registration" %}</a></li>
        <li><a href="{% url 'edit_event' event.url_name %}">{% trans "Edit event" %}</a></li>
        <li><a href="{% url 'helpers' event.url_name %}">{% trans "Registered helpers" %}</a></li>
    </ul>

    {% block admincontent %}
    {% endblock %}
{% endblock %}
