{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
    <h1>{% trans "Register: Scan item" %}</h1>

    <form action="" method="post">
        {% csrf_token %}

        {% if not_available %}
            <div class="alert alert-danger">
                {% trans "This item is already assigned to another helper." %}
            </div>
        {% endif %}

        {% bootstrap_form form show_label=False %}

        {% if not_available %}
            <a href="{% url 'inventory:take_back' event.url_name %}" class="btn btn-outline-danger">{% trans "Take item back" %}</a>
        {% endif %}
    </form>

    {% if last_helper and last_helper_items and last_item_name %}
        <div class="alert alert-info">
            <strong>{{ last_item_name }}</strong><br/>

            {% blocktrans trimmed with name as last_helper.full_name %}
                Assigned to {{ last_helper }}
            {% endblocktrans %}

            <br/><br/>

            {% trans "The helper now has these items:" %}
            <ul>
                {% for used_item in last_helper_items %}
                    <li>{{ used_item.item.name }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
