{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
    <h1>{% trans "Register: Scan badge" %}</h1>

    {% if not form %}
        <div class="alert alert-danger">
            {% trans "You have to scan the item first." %}
        </div>
        <a href="{% url 'inventory:register' event.url_name %}" class="btn btn-outline-primary">{% trans "Scan item" %}</a>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}

            {% if already_assigned %}
                <div class="alert alert-danger">
                    {% trans "This item is already assigned to another helper." %}
                </div>
            {% endif %}

            {% if special_badge %}
            <div class="alert alert-danger">
                {% trans "This is a special badge, which is not associated with a helper. It cannot be used here." %}
            </div>
            {% endif %}

            {% bootstrap_form form show_label=False %}
        </form>

        <a href="{% url 'inventory:register' event.url_name %}" class="btn btn-outline-primary">{% trans "Scan other item" %}</a>
    {% endif %}
{% endblock %}
