{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
    <h1>{% trans "Take back: Scan item" %}</h1>

    <form action="" method="post">
        {% csrf_token %}

        {% if not_in_use %}
            <div class="alert alert-danger">
                {% trans "This item is not in use." %}
            </div>
        {% endif %}

        {% bootstrap_form form show_label=False %}
    </form>

    {% if last_helper %}
        {% if last_helper_items %}
            <div class="alert alert-info">
                <strong>{{ last_helper.full_name }}</strong><br/>

            {% trans "The helper still has these items:" %}
            <ul>
                {% for used_item in last_helper_items %}
                    <li>{{ used_item.item.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-success">
                <strong>{{ last_helper.full_name }}</strong><br/>

            {% trans "Everything returned!" %}
        {% endif %}

            </div>
    {% endif %}
{% endblock %}
