{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Take back: Scan badge" %}</h2>

    {% if not form %}
        <div class="alert alert-danger">
            {% trans "You have to scan the item first." %}
        </div>
        <a href="{% url 'inventory:take_back' event.url_name %}" class="btn btn-outline-primary">{% trans "Scan item" %}</a>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}

            {% if wrong_helper %}
                <div class="alert alert-danger">
                    {% trans "This item is not assigned to this helper, but to another helper." %}
                </div>
            {% endif %}

            {% bootstrap_form form show_label=False %}
        </form>

        <a href="{% url 'inventory:take_back' event.url_name %}" class="btn btn-outline-primary">{% trans "Scan other item" %}</a>

        {% if not item.inventory.multiple_assignments %}
            <a href="{% url 'inventory:take_back_direct' event.url_name item.pk %}" class="btn btn-outline-danger">{% trans "Take back without badge" %}</a>
        {% endif %}

    {% endif %}
{% endblock %}
