{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block admincontent %}
    <h2>{% trans "Mail:" %} {{ mail.subject }}</h2>

    {% if mail.failed %}
        <div class="alert alert-danger" role="alert">
            {% trans "This mail was not sent successfully." %}
        </div>
    {% endif %}

    <table class="table-condensed">
        <tr>
            <th>{% trans "Sent by" %}</th>
            <td>{{ mail.user.get_full_name }}</td>
        </tr>
        <tr>
            <th>{% trans "Sender" %}</th>
            <td>{{ mail.sender }}</td>
        </tr>
        <tr>
            <th>{% trans "Date" %}</th>
            <td>{{ mail.date }}</td>
        </tr>
        <tr>
            <th>{% trans "CC" %}</th>
            <td>{{ mail.cc | default:"-" }}</td>
        </tr>
        <tr>
            <th>{% trans "Reply to" %}</th>
            <td>{{ mail.reply_to | default:"-" }}</td>
        </tr>
        <tr>
            <th>{% trans "Receiver" %}</th>
            <td>
                <ul>
                    {% for tmp in mail.receiver_list %}
                        <li>{{ tmp }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

    <pre style="margin-top:2em;">{{ mail.text | linebreaks }}</pre>
{% endblock %}
