{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block admincontent %}
    <h2>{% trans "Take back: Scan badge" %}</h2>

    {% if not form %}
        <div class="alert alert-danger">
            {% trans "You have to scan the item first." %}
        </div>
        <a href="{% url 'inventory:take_back' event.url_name %}" class="btn btn-lg btn-info">{% trans "Scan item" %}</a>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}

            {% if wrong_helper %}
                <div class="alert alert-danger">
                    {% trans "This item is not assigned to this helper, but to another helper." %}
                </div>
            {% endif %}

            {% bootstrap_form form show_label=False %}
        </form>

        {% if form.errors or wrong_helper %}
            <a href="{% url 'inventory:register' event.url_name %}" class="btn btn-lg btn-info">{% trans "Scan new item" %}</a>
        {% endif %}

        {% if wrong_helper %}
            {# TODO #}
        {% endif %}
    {% endif %}
{% endblock %}
