{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Delete prerequisite" %}</h1>

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-label="{% trans 'Data of prerequisite' %}">
                <tr>
                    <th scope="row">{% trans "Prerequisite" %}</th>
                    <td>{{ prerequisite.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Description" %}</th>
                    <td>{{ prerequisite.description|safe }}</td>
                </tr>
            </table>
        </div>
    </div>

    <form action="{% url 'prerequisites:delete_prerequisite' event.url_name prerequisite.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <button type="submit" class="btn btn-outline-danger">{% icon "trash-alt" %} {% trans "Delete" %}</button>
    </form>
{% endblock %}
