{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons translation %}

{% block content %}
    {% if prerequisite %}
        <h1>{% trans "Edit prerequisite" %}</h1>
    {% else %}
        <h1>{% trans "New prerequisite" %}</h1>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        {% get_available_languages as languages %}
        <div class="row">
        {% for lang, name in languages %}
            <div class="col-lg-6">
                {% translated_field form "name" lang as field %}
                {% bootstrap_field field layout="floating" %}
            </div>
        {% endfor %}
        </div>

        <div class="row">
            {% for lang, name in languages %}
                <div class="col-xl-6">
                    {% translated_field form "description" lang as field %}
                    {% bootstrap_field field %}
                </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-outline-primary">{% icon "save" %} {% trans "Save" %}</button>
    </form>
{% endblock %}
