{% load i18n %}
{% load bootstrap4 %}
{% load prerequisites %}

{# will be included by registration/admin/view_helper.html #}

{#% bootstrap_form form %#}

<div class="list-group">
    {% for field in form %}
        <label for="id_{{ field.name }}"
            {% if not field.value %}
                class="list-group-item list-group-item-action list-group-item-warning"
            {% else %}
                class="list-group-item list-group-item-action"
            {% endif %}>
                {% bootstrap_field field form_group_class="" %}
        </label>
    {% endfor %}
</div>
