{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 icons permissions %}

{% block admincontent %}
    {% has_access event "ACCESS_PREREQUISITES_EDIT" as user_prerequisites_edit %}

    <h2 id="prerequisite-header">{% trans "Prerequisites" %}</h2>

    {% if not event.archived and user_prerequisites_edit %}
    <p><a href="{% url 'prerequisites:new_prerequisite' event.url_name %}">
        {% icon "plus" %}
        {% trans "New prerequisite" %}
    </a></p>
    {% endif %}

    {% if prerequisites %}
        <table class="table" aria-describedby="prerequisite-header">
            <tr>
                <th scope="col" class="width-30">{% trans "Name" %}</th>
                <th scope="col" class="width-50">{% trans "Description" %}</th>
                <th scope="col" class="width-20"></th>
            </tr>
            {% for prerequisite in prerequisites %}
                <tr>
                    <td>{{ prerequisite.name }}</td>
                    <td>{{ prerequisite.description|truncatechars_html:60|safe }}</td>
                    <td>
                        {% if not event.archived %}
                            <a href="{% url "prerequisites:view_helpers_prerequisite" event.url_name prerequisite.pk %}">
                                {% icon "list" %}
                                {% trans "Helpers" %}
                            </a>

                            {% if user_prerequisites_edit %}
                                <br />

                                <a href="{% url "prerequisites:edit_prerequisite" event.url_name prerequisite.pk %}">
                                    {% icon "pencil-alt" %}
                                    {% trans "Edit" %}
                                </a>

                                <br />

                                <a href="{% url "prerequisites:delete_prerequisite" event.url_name prerequisite.pk %}">
                                    {% icon "trash-alt" %}
                                    {% trans "Delete" %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="text-muted">{% trans "There are no prerequisites." %}</p>
    {% endif %}
{% endblock %}
