{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons permissions %}

{% block content %}
    {% has_access event "ACCESS_PREREQUISITES_EDIT" as user_prerequisites_edit %}

    <h1>{% trans "Prerequisites" %}</h1>

    {% if not event.archived and user_prerequisites_edit %}
    <p><a href="{% url 'prerequisites:new_prerequisite' event.url_name %}">
        {% icon "plus" %} {% trans "New prerequisite" %}
    </a></p>
    {% endif %}

    {% if prerequisites %}
        <ul class="list-group">
            {% for prerequisite in prerequisites %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8 col-lg-9 col-xl-10">
                        <div class="row">
                            <div class="col-12 col-md-6 py-1 text-break">
                                {{ prerequisite.name }}
                            </div>
                            <div class="col-12 col-md-6 py-1">
                                {{ prerequisite.description|truncatechars_html:60|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                        {% if not event.archived %}
                            <a href="{% url "prerequisites:view_helpers_prerequisite" event.url_name prerequisite.pk %}">
                                {% icon "list" %}
                                {% trans "Helpers" %}
                            </a>

                            {% if user_prerequisites_edit %}
                                <br />

                                <a href="{% url "prerequisites:edit_prerequisite" event.url_name prerequisite.pk %}">
                                    {% icon "pencil-alt" %}
                                    {% trans "Edit" %}
                                </a>

                                <br />

                                <a href="{% url "prerequisites:delete_prerequisite" event.url_name prerequisite.pk %}">
                                    {% icon "trash-alt" %}
                                    {% trans "Delete" %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">{% trans "There are no prerequisites." %}</p>
    {% endif %}
{% endblock %}
