{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 icons prerequisites staticfiles %}

{% block admincontent %}
    <h2>{% blocktrans with prerequisite=prerequisite.name %}Helpers that need {{ prerequisite }}{% endblocktrans %}  </h2>

    {% if helpers %}
        <table class="table">
            <thead>
                <tr>
                    <th class="nosort" data-priority="1"></th>
                    <th data-priority="1">{% trans "First name" %}</th>
                    <th data-priority="1">{% trans "Surname" %}</th>
                    <th data-priority="3">{% trans "Comment" %}</th>
                    <th data-priority="2">{% trans "Registration time" %}</th>
                    <th data-priority="1">{% trans "Fulfilled" %}</th>
                    <th class="nosort" data-priority="1"></th>
                </tr>
            </thead>
            <tbody>
            {% for helper in helpers|dictsort:"surname" %}
                <tr>
                    <td class="datatables-icon"></td>
                    <td>{{ helper.firstname }}</td>
                    <td>{{ helper.surname }}</td>
                    <td>{{ helper.comment }}</td>
                    <td data-order="{{ helper.timestamp|date:"U" }}" >{{ helper.timestamp }}</td>
                    {% helper_has_fulfilled_prerequisite helper prerequisite as fulfilled %}
                    <td data-order="{{ fulfilled }}" >
                        {% if fulfilled %}
                            <span class="text-success">{% icon "check" %}</span>
                        {% else %}
                            <span class="text-danger">{% icon "times" %}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url "view_helper" event.url_name helper.pk %}">
                            {% icon "eye" %}
                            {% trans "View" %}
                        </a>

                        {% if helper.has_to_validate %}
                        <br/><span class="text-danger">{% icon "times" %} {% trans "Not validated" %}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-muted">{% trans "There are no prerequisites." %}</p>
    {% endif %}

    <script src="{% static "helfertool/js/helpers_table.js" %}"></script>
{% endblock %}