{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if event %}
        {% blocktrans with eventname=event.name trimmed %}
        Manage {{ eventname }}
        {% endblocktrans %}
    {% else %}
        {% trans "Admin" %}
    {% endif %}
{% endblock %}

{% block content %}
    {# heading #}
    {% if event %}
        <h1>{% blocktrans with eventname=event.name %}Manage {{ eventname }}{% endblocktrans %}</h1>
    {% else %}
        <h1>Admin</h1>
    {% endif %}

    {# for event #}
    {% if event %}
        <ul>
            <li><a href="{% url 'form' event.url_name %}">{% trans "Go to registration" %}</a></li>
            <li><a href="{% url 'edit_event' event.url_name %}">{% trans "Edit event" %}</a></li>
            <li><a href="{% url 'helpers' event.url_name %}">{% trans "Registered helpers" %}</a></li>
        </ul>
    {% endif %}

    {# for superusers #}
    {% if user.is_superuser %}
        <ul>
            <li><a href="{% url 'new_event' %}">{% trans "New event" %}</a></li>
            <li><a href="{% url 'admin:index' %}">{% trans "Django Admin Interface" %}</a></li>
        </ul>
    {% endif %}

    {% block admincontent %}
    {% endblock %}
{% endblock %}
