{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load permissions %}

{% block title %}
    {% if event %}
        {% blocktrans with eventname=event.name trimmed %}
        Manage {{ eventname }}
        {% endblocktrans %}
    {% else %}
        {% trans "Admin" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% is_involved event as involved %}
    {% is_admin event as admin %}

    <h1>{% trans "Administration" %}</h1>

    <div class="row">
        <div class="col-md-3">
            {# for event #}
            {% if event and involved %}
                <h2>{{ event.name }}</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="{% url 'form' event.url_name %}" target="_blank">
                            {% bootstrap_icon "share-alt" %}
                            {% trans "Go to registration" %}
                        </a>
                    </li>

                    {% if admin %}
                        <li><a href="{% url 'edit_event' event.url_name %}">{% trans "Edit event" %}</a></li>
                        <li><a href="{% url 'jobs_and_shifts' event.url_name %}">{% trans "Jobs and shifts" %}</a></li>
                    {% endif %}

                    <li><a href="{% url 'helpers' event.url_name %}">{% trans "Registered helpers" %}</a></li>
                    <li><a href="{% url 'coordinators' event.url_name %}">{% trans "Coordinators" %}</a></li>

                    {% if admin and event.ask_shirt %}
                        <li><a href="{% url 'shirts' event.url_name %}">{% trans "T-Shirts" %}</a></li>
                    {% endif %}

                    {% if admin %}
                        <li><a href="{% url 'links' event.url_name %}">{% trans "Links" %}</a></li>
                    {% endif %}

                    {% if admin and event.badges %}
                        <li><a href="{% url 'configure_badges' event.url_name %}">{% trans "Configure badges" %}</a></li>
                        <li><a href="{% url 'badges' event.url_name %}">{% trans "Generate badges" %}</a></li>
                    {% endif %}
                </ul>
            {% endif %}

            {# for superusers #}
            {% if user.is_superuser or user|has_perm_group %}
                <h2>{% trans "Common" %}</h2>
                <ul class="nav nav-pills nav-stacked">
                    {% if user.is_superuser or user|has_addevent_group %}
                        <li><a href="{% url 'new_event' %}">{% trans "New event" %}</a></li>
                    {% endif %}
                    {% if user.is_superuser or user|has_adduser_group %}
                        <li><a href="{% url 'add_user' %}">{% trans "Add user" %}</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li><a href="{% url 'permissions' %}">{% trans "Permissions" %}</a></li>
                        <li><a href="{% url 'admin:index' %}">{% trans "Django Admin Interface" %}</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-9">
            {% block admincontent %}
            {% endblock %}
        </div>
    </div>

    {# JS for dual list box #}
    <script type="text/javascript">
        $(function () {
            // activate DualListbox
            $('.duallistbox').bootstrapDualListbox({
                moveOnSelect: false,
                nonSelectedListLabel: "{% trans "Non-selected" %}",
                selectedListLabel: "{% trans "Selected" %}",
                filterTextClear: "{% trans "Show all" %}",
                filterPlaceHolder: "{% trans "Filter" %}",
                moveSelectedLabel: "{% trans "Move selected" %}",
                moveAllLabel: "{% trans "Move all" %}",
                removeSelectedLabel: "{% trans "Remove selected" %}",
                removeAllLabel: "{% trans "Remove all" %}",
                infoText: "{% trans "Showing all {0}" %}",
                infoTextFiltered: '<span class="label label-warning">{% trans "Filtered {0} from {1}" %}</span>',
                infoTextEmpty: "{% trans "Empty list" %}",
            });

            // remove required option, since it is handled wrong by firefox
            //$('.duallistbox').removeAttr('required');
        });
    </script>
{% endblock %}
