{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load badges %}

{% block admincontent %}
    <h2>{% trans "Configure badges" %}</h2>

    <p>
        <a href="{% url 'badgesettings' event.url_name %}">
            {% trans "Edit template" %}
        </a>
    </p>

    <h3>{% trans "Roles" %}</h3>

    {% if roles.count == 0 %}
        <p class="text-muted">{% trans "There are no roles." %}</p>
    {% else %}
        <table class="table">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "LaTeX Name" %}</th>
                <th>{% trans "Permissions" %}</th>
                <th></th>
            </tr>

            {% for role in roles %}
                <tr>
                    <td>{{ role.name }}</td>
                    <td>{{ role.latex_name }}</td>
                    <td>
                        <ul>
                            {% for perm in role.permissions.all %}
                                <li>{{ perm.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{% url 'edit_badgerole' event.url_name role.pk %}">
                            {% bootstrap_icon "pencil" %} {% trans "Edit" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <p>
        <a href="{% url 'new_badgerole' event.url_name %}">
            {% bootstrap_icon "plus" %} {% trans "Add role" %}
        </a>
    </p>

    <h3>{% trans "Designs" %}</h3>

    {% if designs.count == 0 %}
        <p class="text-muted">{% trans "There are no designs." %}</p>
    {% else %}
        <table class="table">
            <tr>
                <th>{% trans "Name" %}</th>
                <th></th>
            </tr>

            {% for design in designs %}
                <tr>
                    <td>{{ design.name }}</td>
                    <td>
                        <a href="{% url 'edit_badgedesign' event.url_name design.pk %}">
                            {% bootstrap_icon "pencil" %} {% trans "Edit" %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <p>
        <a href="{% url 'new_badgedesign' event.url_name %}">
            {% bootstrap_icon "plus" %} {% trans "Add design" %}
        </a>
    </p>


    <h3>{% trans "Defaults" %}</h3>
    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form defaults_form %}

        <table class="table">
            <tr>
                <th>{% trans "Job" %}</th>
                <th>{% trans "Role" %}</th>
                <th>{% trans "Design" %}</th>
            </tr>

            {% for job in event.job_set.all %}
                <tr>
                    <td>{{ job.name }}</td>
                    <td>
                        {% badge_job_role_field job_defaults_form job.pk as field %}
                        {% bootstrap_field field show_label=False %}
                    </td>
                    <td>
                        {% badge_job_design_field job_defaults_form job.pk as field %}
                        {% bootstrap_field field show_label=False %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% bootstrap_form_errors job_defaults_form %}
        {% bootstrap_form_errors job_defaults_form %}

        <input type="submit" value="{% trans "Save" %}" class="btn btn-default" />
    </form>
{% endblock %}
