{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block admincontent %}
    <h2>{% trans "Delete helper" %}</h2>

    <form action="{% url 'delete_helper' event.url_name helper.pk shift.pk %}" method="post">
        {% csrf_token %}

        {% bootstrap_field form.prename %}
        {% bootstrap_field form.surname %}
        {% bootstrap_field form.email %}

        {% bootstrap_field form.shifts %}

        <div class="alert alert-warning" role="alert">{% trans "Remove the helper from all selected shifts?" %}</div>

        {% bootstrap_form_errors form %}

        <input type="submit" value="{% trans "Delete" %}" class="btn btn-danger" />
    </form>
{% endblock %}
