{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block admincontent %}
    <h2>{% trans "Delete helper" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        {% bootstrap_field form.prename %}
        {% bootstrap_field form.surname %}
        {% bootstrap_field form.email %}

        {% bootstrap_field form.shifts %}

        {% if helper.shifts.count > 1 and not show_all_shifts %}
            <p>
                {% trans "There are more shifts for this helper." %}
                <a href="{% url 'delete_helper_all' event.url_name helper.pk shift.pk %}">
                    {% trans "Show" %}</a>.
            </p>
        {% endif %}

        <div class="alert alert-danger" role="alert">{% trans "Remove the helper from all selected shifts?" %}</div>

        <input type="submit" value="{% trans "Delete" %}" class="btn btn-danger" />
    </form>
{% endblock %}
