{% extends "registration/admin/base.html" %}
{% load i18n %}

{% block admincontent %}
    <h2>{% trans "Duplicates" %}</h2>

    <div class="alert alert-info" role="alert">
        {% trans "For this detection of helpers that are registered multiple times only the mail address is used." %}
    </div>

    {% for name, list in duplicated_helpers.items %}
        <h3>{{ name }}</h3>
        <ul>
            {% for helper in list %}
                <li><a href="{% url "view_helper" event.url_name helper.pk %}">{{ helper.full_name }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
