{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block admincontent %}
    {% if helper %}
        <h2>{% trans "Edit helper" %}</h2>
    {% else %}
        <h2>{% trans "Add coordinator" %}</h2>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12 col-lg-5">
                {% bootstrap_form form %}
            </div>
        </div>

        {% if helper %}
            {# coordinated jobs #}
            {% if helper.is_coordinator %}
                <h2>{% trans "Coordinator" %}</h2>
                <table class="table">
                    {% for job in helper.coordinated_jobs %}
                        <tr>
                            <td>{{ job.name }}</td>
                            <td>
                                <a href="{% url 'delete_coordinator' event.url_name helper.pk job.pk %}">
                                    {% bootstrap_icon "remove" %}
                                    {% trans "Delete" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {# shifts #}
            {% if helper.shifts.count %}
                <h2>{% trans "Shifts" %}</h2>
                <table class="table">
                    {% for shift in helper.shifts.all %}
                        <tr>
                            <td>{{ shift }}</td>
                            <td>
                                <a href="{% url 'delete_helper' event.url_name helper.pk shift.pk %}">
                                    {% bootstrap_icon "remove" %}
                                    {% trans "Delete" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {# add as coordinator or helper #}
            <p>
                <a href="{% url 'add_helper_to_shift' event.url_name helper.pk %}">
                    {% bootstrap_icon "plus" %}
                    {% trans "Add to shift" %}
                </a>
                &nbsp;
                <a href="{% url 'add_helper_as_coordinator' event.url_name helper.pk %}">
                    {% bootstrap_icon "plus" %}
                    {% trans "Add as coordinator" %}
                </a>
            </p>
        {% endif %}

        {% if badge_form %}
            <h2>
                <button type="button"
                        class="btn btn-info info-expand"
                        data-toggle="collapse"
                        data-target="#badge">
                    {% bootstrap_icon "plus-sign" %}
                </button>
                {% trans "Badge" %}
            </h2>

            <div id="badge" class="collapse">
                {% bootstrap_form badge_form %}
            </div>
        {% endif %}

        <input type="submit" value="{% trans "Save" %}" class="btn btn-default" />
    </form>
{% endblock %}
