{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block admincontent %}
    <h2>{% trans "Edit helper" %}</h2>

    <form action="{% url 'edit_helper' event.url_name helper.pk %}" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12 col-lg-5">
                {% bootstrap_form form %}
            </div>
        </div>

        <h2>{% trans "Shifts" %}</h2>
        <ul class="list-group">
        {% for shift in helper.shifts.all %}
            <li class="list-group-item">{{ shift.job.name }}: {{ shift.time }}</li>
        {% endfor %}
        </ul>

        <input type="submit" value="{% trans "Save" %}" class="btn btn-default" />
    </form>
{% endblock %}
