{% extends "registration/admin/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ job.name }} - {{ event.name }}{% endblock %}

{% block admincontent %}
    <h2>{% blocktrans with jobname=job.name%}Helpers: {{ jobname }}{% endblocktrans %}</h2>

    <p>
        {% bootstrap_icon "download-alt" %}
        &nbsp;{% trans "Export" %}:
        &nbsp;<a href="{% url 'jobexcel' event.url_name job.pk %}" class="icon">
            <img src="{% static "registration/img/icon-xls.svg" %}" class="icon" />
        </a>
    </p>

    {# iterate over days #}
    {% for day, shifts in job.shifts_by_day.items %}
        <h3>{{ day }}</h3>
        {# iterate over shifts on this day #}
        {% for shift in shifts %}
            <h4>{{ shift.time_hours }}
                ({{ shift.num_helpers }} von {{ shift.number}})</h4>

            {% if shift.helper_set.count == 0 %}
                <p class="text-muted">{% trans "Nobody is registered for this shift." %}</p>
            {% else %}
                <table class="table">
                    <tr>
                        <th>{% trans "Prename" %}</th>
                        <th>{% trans "Surname" %}</th>
                        <th>{% trans "E-Mail" %}</th>
                        <th>{% trans "Mobile phone" %}</th>
                        {% if event.ask_shirt %}
                        <th>{% trans "T-shirt" %}</th>
                        {% endif %}
                        {% if event.ask_vegetarian %}
                        <th>{% trans "Vegetarian" %}</th>
                        {% endif %}
                        {% if job.infection_instruction %}
                        <th>{% trans "Food handling" %}</th>
                        {% endif %}
                        <th>{% trans "Comment" %}</th>
                        <th>{% trans "Registration time" %}</th>
                        <th></th>
                    </tr>
                    {% for helper in shift.helper_set.all|dictsort:"timestamp" %}
                        <tr>
                            <td>{{ helper.prename }}</td>
                            <td>{{ helper.surname }}</td>
                            <td>{{ helper.email }}</td>
                            <td>{{ helper.phone }}</td>
                            {% if event.ask_shirt %}
                            <td>{{ helper.get_shirt_display }}</td>
                            {% endif %}
                            {% if event.ask_vegetarian %}
                            <td>{{ helper.vegetarian | yesno }}</td>
                            {% endif %}
                            {% if job.infection_instruction %}
                            <td>{{ helper.get_infection_instruction_short }}</td>
                            {% endif %}
                            <td>{{ helper.comment }}</td>
                            <td>{{ helper.timestamp }}</td>
                            <td>
                                <a href="{% url 'edit_helper' event.url_name helper.pk %}">
                                    {% bootstrap_icon "pencil" %}
                                    {% trans "Edit" %}
                                </a>
                                <a href="{% url 'delete_helper' event.url_name helper.pk job.pk %}">
                                    {% bootstrap_icon "remove" %}
                                    {% trans "Delete" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
