{% extends "registration/admin/base.html" %}
{% load i18n %}

{% block admincontent %}
    <h2>{% trans "Jobs and shifts" %}</h2>

    <p><a href="{% url 'new_job' event.url_name %}">{% trans "New job" %}</a></p>

    {% for job in event.job_set.all %}
        <h3>{{ job.name }} (<a href="{% url 'edit_job' event.url_name job.pk %}">{% trans "Edit" %}</a>)</h3>
        <table class="table">
            <tr>
                <th>{% trans "Begin" %}</th>
                <th>{% trans "End" %}</th>
                <th>{% trans "Number of helpers" %}</th>
            </tr>
            {% for shift in job.shift_set.all %}
                <tr>
                    <td>{{ shift.begin }}</td>
                    <td>{{ shift.end }}</td>
                    <td>{{ shift.number }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
