{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block admincontent %}
    <h2>{% trans "Jobs and shifts" %}</h2>

    <p><a href="{% url 'new_job' event.url_name %}">
        {% bootstrap_icon "plus" %}
        {% trans "New job" %}
    </a></p>

    {% for job in event.job_set.all %}
        <h3>{{ job.name }}</h3>

        <p>
            <a href="{% url 'edit_job' event.url_name job.pk %}">
            {% bootstrap_icon "pencil" %}
            {% trans "Edit" %}</a>

            &nbsp;

            <a href="{% url 'new_shift' event.url_name job.pk %}">
            {% bootstrap_icon "plus" %}
            {% trans "New shift" %}</a>
        </p>

        {% if job.shift_set.count == 0 %}
            <p class="text-muted">{% trans "There are no shifts." %}</p>
        {% else %}
            <table class="table">
                <tr>
                    <th>{% trans "Begin" %}</th>
                    <th>{% trans "End" %}</th>
                    <th>{% trans "Number of helpers" %}</th>
                    <th></th>
                </tr>
                {% for shift in job.shift_set.all %}
                    <tr>
                        <td>{{ shift.begin }}</td>
                        <td>{{ shift.end }}</td>
                        <td>{{ shift.number }}</td>
                        <td>
                            <a href="{% url 'edit_shift' event.url_name job.pk shift.pk %}">
                                {% bootstrap_icon "pencil" %}
                                {% trans "Edit" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    {% endfor %}
{% endblock %}
