{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load duration %}

{% block admincontent %}
    <h2>{% trans "Statistics" %}</h2>

    <table class="table">
        <tr>
            <th>{% trans "Number of shift slots" %}</th>
            <td>{{ num_shift_slots }}</td>
        </tr>
        <tr>
            <th>{% trans "Total number of hours (also free slots)" %}</th>
            <td>{{ hours_total | duration_hours }} {% trans "hours" %}</td>
        </tr>
        <tr>
            <th class="col-sm-4">{% trans "Helpers and coordinators" %}</th>
            <td class="col-sm-8">{{ num_helpers }}</td>
        </tr>
        <tr>
            <th>{% trans "Coordinators" %}</th>
            <td>{{ num_coordinators }}</td>
        </tr>
        {% if event.ask_vegetarian %}
            <tr>
                <th>{% trans "Vegetarians" %}</th>
                <td>{{ num_vegetarians }}</td>
            </tr>
        {% endif %}
    </table>

    <h3>{% trans "Chronological development of registrations" %}</h3>

    {% if timeline %}
        <div id="chart"></div>

        <script>
            var chart_data = [
                {% for day,number in timeline.items %}
                    ["{{ day }}", {{ number }}],
                {% endfor %}
            ];

            var chart_settings = {
                axes: {
                    xaxis: {
                        renderer: $.jqplot.DateAxisRenderer,
                        tickOptions: {
                            formatString: '%Y-%m-%d',
                            show: false,
                        },
                    },
                },
                cursor:{
                    show: true,
                    zoom:true,
                    showTooltip:false,
                },
                highlighter: {
                    show: true,
                },
                resetAxes: true,
            };

            var chart = $.jqplot('chart',  [chart_data], chart_settings);

            $(window).resize(function() {
                chart.replot();
            });
        </script>
    {% else %}
        <p class="text-muted">{% trans "No helpers are registered." %}</p>
    {% endif %}
{% endblock %}
