html
{
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

a, a:hover, a:active, a:focus {
    color: #297d84;
}

/* main menu */
.navbar-custom {
    background-color: white;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid;
    border-color: #3aafb9;

    border-radius: 0;
}

.navbar-custom li {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.navbar-custom p {
    color: black;
    text-align: center;
}

.navbar-custom li a {
    color: black;
    text-align: center;
}

.navbar-custom li a:hover, .navbar-custom .active a {
    background-color: #3aafb9;
    color:white;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #3aafb9;
}

/* footer */
.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height:40px;
    background-color: #3aafb9;
    text-align:center;
}

.footer .text-muted {
    margin: 10px 0;
    color: white;
}

.footer a, .footer a:hover, .footer a:active, .footer a:focus {
    color: white;
}

/* table with shifts */
table.shifts
{
    border-collapse: separate;
    border-spacing: 10px;
    margin-left:-10px;
    margin-right:-10px;
}

table.shifts th
{
    color:white;
    background-color: #3aafb9;
    padding:5px;
}

table.shifts td
{
    vertical-align: top;
}

table.shifts span.numbers
{
    font-size:80%;
    color:grey;
    font-weight: normal;
}

table.shifts span.name
{
    font-weight: normal;
}

table.shifts label
{
    display: inline-block;
    vertical-align: top;
}

table.shifts label del
{
    font-weight: normal;
}

/* icons (like xls or pdf) */
a.icon
{
    text-decoration:none;
}

img.icon
{
    width:20px;
    vertical-align: middle;
}

/* info button for job description */
.info-expand
{
    padding:3px 6px 3px 6px;
    vertical-align: top;

    background-color: #3aafb9;
    color: white!important;
}

/* wrap words */
.wrap
{
    word-wrap: break-word;
}

/* logo of event */
img#logo
{
    margin-top: 20px;
    margin-left: 1em;
    margin-bottom: 1em;
    max-width: 200px;
}

@media (min-width: 768px)
{
    img#logo
    {
        float:right;
    }
}

/* logos on about page */
div.logos-about
{
    margin-top: 1em;
}

div.logos-about div
{
    margin-top:2em;
}

@media (max-width: 767px)
{
    div.logos-about
    {
        text-align: center;
    }
}

/* menu in admin area */
.sidebar h2
{
    font-size:110%;
    font-weight: bold;
}

.sidebar li a
{
    padding: 0.5em;
}

.sidebar .nav-nested
{
    padding-left: 1.5em;
}

/* required fields in form */
.form-group.required > label::after
{
    content: "*";
    color: red;
}

/* wrap text in pre */
pre.wraptext
{
    white-space: pre-wrap;
    word-break: keep-all;
}

/* mail body in news app */
div.mailbody
{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 0 1em 0 1em;
    margin-bottom: 2em;
}

div.mailbody pre
{
    background-color: transparent;
    border: 0;
}
