html
{
    position: relative;
    min-height: 100%;

    font-size: 15px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

a, a:hover, a:active, a:focus {
    color: #1ea082;
}

h1, h2, h3, h4 {
    margin-top: 0.5em;
}

/* buttons (copied from bootstrap with adapted colors) */
.btn-outline-primary {
    color: #1ea082;
    border-color: #1ea082;
}

.btn-outline-primary:not(:disabled):not(.disabled):hover {
    background-color: #1ea082;
    border-color: #1ea082;
}

.btn-outline-primary:not(:disabled):not(.disabled):focus, .btn-outline-primary:not(:disabled):not(.disabled).focus {
    box-shadow: 0 0 0 0.2rem rgba(30, 160, 130, 0.5)
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #1ea082;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    background-color: #1ea082;
    border-color: #1ea082;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(30, 160, 130, 0.5)
}

/* alerts (copied from bootstrap with adapted colors */
.alert-info {
    color: #1ea082;
    background-color: #fff;
    border-color: #1ea082;
}

.alert-warning {
    color: #ffc107;
    background-color: #fff;
    border-color: #ffc107;
}

.alert-danger {
    color: #dc3545;
    background-color: #fff;
    border-color: #dc3545;
}

.alert a {
    text-decoration: underline;
}

/* badges (copied from bootstrap with adapted colors */
.badge-outline-dark {
    color: #343a40;
    background-color: #fff;
    border: 1px solid #343a40;
}

/* validated input fields and labels (copied from bootstrap with adapted colors */
.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #1ea082;
}

.form-check-input.is-valid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
    color: #1ea082;
}

/* pagination (copied from bootstrap with adapted colors */
.page-link, .page-link:hover, .page-link:active, .page-link:focus {
    color: #1ea082;
}

.page-item.active .page-link {
    background-color: #1ea082;
    border-color: #1ea082;
}

/* list items */
.list-group-item {
    border: 1px solid #1ea082;
}

/* main menu */
.navbar-custom {
    background-color: white;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid;
    border-color: #1ea082;

    border-radius: 0;
}

.navbar-custom .nav-item {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

.navbar-custom .navbar-nav .nav-link:hover, .navbar-custom .navbar-nav .nav-link:active, .navbar-custom .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-logo {
    margin-bottom: 5px;
}

/* announcement */
.announcement {
    background-color: #1ea082;
    color: white;

    text-align: center;
    padding-bottom: 5px;
}

/* main content container */
.container-main {
    margin-top: 1.5em;
}

/* footer */
.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height:40px;
    background-color: #1ea082;
    text-align:center;
}

.footer .text-muted {
    margin: 8px 0;
    color: white!important;
}

.footer a, .footer a:hover, .footer a:active, .footer a:focus {
    color: white;
}

/* table with shifts */
table.shifts
{
    border-collapse: separate;
    border-spacing: 10px;
    margin-left:-10px;
    margin-right:-10px;
}

table.shifts th
{
    color: #1ea082;

    border: 1px solid #1ea082;
    border-radius: 0.25rem;

    padding:5px;
}

table.shifts td
{
    vertical-align: top;
}

table.shifts span.name
{
    font-weight: normal;
}

table.shifts label
{
    display: inline-block;
    vertical-align: top;
}

table.shifts label del
{
    font-weight: normal;
}

/* icons (like xls or pdf) */
a.icon
{
    text-decoration:none;
}

img.icon
{
    width:2em;
    vertical-align: middle;
}

/* Shift availibility options */
/* *-transition does not work in IE -> no animation for you. */
.shifts .notcolliding {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 1;
}

.shifts .colliding, .shifts .full {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0.4;
}

.shifts .full .time {
    text-decoration: line-through
}

/* Prerequisite hiding and showing */
.prerequisite-required {
}

.prerequisite-hidden {
    display: none;
}

/* info button for job description */
.info-expand
{
    vertical-align: middle;

    width: 30px;
    height: 30px;

    margin-left: 5px;
}

/* contact information below event */
.contact
{
    margin-top: 3em;
}

/* wrap words */
.wrap
{
    word-wrap: break-word;
}

/* logo of event */
img#logo
{
    margin-top: 20px;
    margin-left: 1em;
    margin-bottom: 1em;
    max-width: 200px;
}

@media (min-width: 768px)
{
    img#logo
    {
        float:right;
    }
}

/* logos on about page */
div.logos-about
{
    margin-top: 1em;
}

div.logos-about div
{
    margin-top:2em;
}

@media (max-width: 767px)
{
    div.logos-about
    {
        text-align: center;
    }
}

/* menu in admin area */
.sidebar h2
{
    font-size:110%;
    font-weight: bold;
}

.sidebar li a
{
    padding: 0.5em;
}

.sidebar .nav-nested
{
    padding-left: 1.5em;
}

/* required fields in form */
.form-group.required > label::after
{
    content: "*";
    color: #1ea082;
}

/* wrap text in pre */
pre.wraptext
{
    white-space: pre-wrap;
    word-break: keep-all;
}

/* mail body in news app */
div.mailbody
{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 0 1em 0 1em;
    margin-bottom: 2em;
}

div.mailbody pre
{
    background-color: transparent;
    border: 0;
}

/* internal comment - view */
div.internal-comment
{
    height: 6em;
    overflow-y: scroll;
    word-wrap: break-word;
    white-space: normal;
}

/* datatables */
.datatables-icon::before
{
    background-color: #1ea082!important;
}

tr.child ul.dtr-details
{
    padding-left: 40px!important;
}

/* PresenceField widget: list inline */
ul.presence li {
    display: inline;
    margin-right: 1em;
}

/* table with shirt sizes */
.width-10em
{
    width: 10em;
}

/* table for pdf/excel export of single days */
.width-auto
{
    width: auto;
}

/* progress bar for number of helpers (5% steps, necessary for CSP) */
.percent-0 { width: 0%; }
.percent-1 { width: 5%; }
.percent-2 { width: 10%; }
.percent-3 { width: 15%; }
.percent-4 { width: 20%; }
.percent-5 { width: 25%; }
.percent-6 { width: 30%; }
.percent-7 { width: 35%; }
.percent-8 { width: 40%; }
.percent-9 { width: 45%; }
.percent-10 { width: 50%; }
.percent-11 { width: 55%; }
.percent-12 { width: 60%; }
.percent-13 { width: 65%; }
.percent-14 { width: 70%; }
.percent-15 { width: 75%; }
.percent-16 { width: 80%; }
.percent-17 { width: 85%; }
.percent-18 { width: 90%; }
.percent-19 { width: 95%; }
.percent-20 { width: 100%; }