{% load i18n icons shifts %}

{% for job, shifts in jobs.items %}
    <h2>
        {{ job.name }}
        {% if job.description %}
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#job-{{ job.pk }}">
                {% icon "info" %}
            </button>
        {% endif %}
    </h2>

    <div class="modal fade" id="job-{{ job.pk }}" tabindex="-1" aria-labelledby="job-{{ job.pk }}-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="job-{{ job.pk }}-label">
                        {% icon "info-circle" %} {{ job.name }}
                    </h5>
                </div>
                <div class="modal-body">
                    {{ job.description | safe }}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{% icon "times" %} {% trans "OK" %}</button>
                </div>
            </div>
        </div>
    </div>

    {{ job.important_notes | safe }}

    {% shifttable job shifts %}
        {% form_shifttable_shift_registration widget shift %}
    {% endshifttable %}
{% endfor %}
