{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Delete item" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        <table class="table">
            <tr>
                <th>{% trans "Inventory" %}</th>
                <td>{{ item.inventory.name }}</td>
            </tr>
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>{% trans "Barcode" %}</th>
                <td>{{ item.barcode }}</td>
            </tr>
        </table>

        {% bootstrap_form_errors form %}

        <input type="submit" value="{% trans "Delete item" %}" class="btn btn-outline-danger" />
    </form>
{% endblock %}
