{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Delete item" %}</h1>

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-label="{% trans 'Data of inventory item' %}">
                <tr>
                    <th scope="row">{% trans "Inventory" %}</th>
                    <td>{{ item.inventory.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ item.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Barcode" %}</th>
                    <td>{{ item.barcode }}</td>
                </tr>
            </table>
        </div>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <button type="submit" class="btn btn-outline-danger">{% icon "trash-alt" %} {% trans "Delete" %}</button>
    </form>
{% endblock %}
