{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Delete inventory" %}</h1>

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-description="{% trans 'Data of inventory' %}">
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ inventory.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Admins" %}</th>
                    <td>
                        {% for admin in inventory.admins.all %}
                            {{ admin.get_full_name }}<br/>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <button type="submit" class="btn btn-outline-danger">{% icon "trash-alt" %} {% trans "Delete" %}</button>
    </form>
{% endblock %}
