{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2 id="inventory-header">{% trans "Delete inventory" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        <table class="table" aria-describedby="inventory-header">
            <tr>
                <th scope="row">{% trans "Name" %}</th>
                <td>{{ inventory.name }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "Admins" %}</th>
                <td>
                    {% for admin in inventory.admins.all %}
                        {{ admin.get_full_name }}<br/>
                    {% endfor %}
                </td>
            </tr>
        </table>

        {% bootstrap_form_errors form %}

        <input type="submit" value="{% trans "Delete inventory" %}" class="btn btn-outline-danger" />
    </form>
{% endblock %}
