{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Delete inventory" %}</h2>

    <form action="" method="post">
        {% csrf_token %}

        <table class="table">
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ inventory.name }}</td>
            </tr>
            <tr>
                <th>{% trans "Admins" %}</th>
                <td>
                    {% for admin in inventory.admins.all %}
                        {{ admin.get_full_name }}<br/>
                    {% endfor %}
                </td>
            </tr>
        </table>

        <div class="alert alert-danger" role="alert">
            {% trans "Do you want to remove this inventory?" %}
        </div>

        {% bootstrap_form_errors form %}

        <input type="submit" value="{% trans "Delete" %}" class="btn btn-danger" />
    </form>
{% endblock %}
