{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons inventory %}

{% block content %}
    <h1>{% trans "Inventory" %}: {{ inventory.name }}</h1>

    <p><a href="{% url 'inventory:new_item' inventory.pk %}">
        {% icon "plus" %}
        {% trans "New item" %}
    </a></p>

    {% if items %}
        <ul class="list-group">
            {% for item in items %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8 col-lg-9 col-xl-10">
                        <div class="row">
                            <div class="col-12 col-md-4 py-1 text-break">
                                {{ item.name }}
                            </div>
                            <div class="col-12 col-md-4 py-1">
                                <code>{% icon "barcode" %} {{ item.barcode }}</code>
                            </div>
                            {% if item.comment %}
                            <div class="col-12 col-md-4 py-1 text-break">
                                {{ item.comment|truncatechars:20|linebreaks }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                        <a href="{% url "inventory:edit_item" inventory.pk item.pk %}">
                            {% icon "pencil-alt" %}
                            {% trans "Edit" %}
                        </a>

                        <br />

                        <a href="{% url "inventory:delete_item" inventory.pk item.pk %}">
                            {% icon "trash-alt" %}
                            {% trans "Delete" %}
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">{% trans "There are no items." %}</p>
    {% endif %}
{% endblock %}
