{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons toolsettings setting %}

{% block content %}
    <h1>{% trans "Add user" %}</h1>

    {% htmlsetting "add_user" %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12 col-xl-6">
                {% bootstrap_form form layout="floating" %}

                <button type="submit" class="btn btn-outline-primary">{% icon "plus" %} {% trans "Add" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
