{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    {% if agreement %}
    <h2>{% trans "Edit user agreement" %}</h2>

    <form action="{% url 'account:edit_agreement' agreement.pk %}" method="post">
    {% else %}
    <h2>{% trans "New user agreement" %}</h2>

    <form action="{% url 'account:new_agreement' %}" method="post">
    {% endif %}

        {% csrf_token %}

        {% bootstrap_form form %}

        <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary" />
    </form>
{% endblock %}
