{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load django_bootstrap5 icons translation %}

{% block content %}
    {% if agreement %}
        <h1>{% trans "Edit user agreement" %}</h1>

        <form action="{% url 'account:edit_agreement' agreement.pk %}" method="post">
    {% else %}
        <h1>{% trans "New user agreement" %}</h1>

        <form action="{% url 'account:new_agreement' %}" method="post">
    {% endif %}
        {% csrf_token %}

        {% get_available_languages as languages %}
        <div class="row">
        {% for lang, name in languages %}
            <div class="col-lg-6">
                {% translated_field form "name" lang as field %}
                {% bootstrap_field field layout="floating" %}
            </div>
        {% endfor %}
        </div>

        <div class="row">
        {% for lang, name in languages %}
            <div class="col-xl-6">
                {% translated_field form "text" lang as field %}
                {% bootstrap_field field %}
            </div>
        {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-6">
                {% bootstrap_field form.start layout="floating" %}
            </div>
            <div class="col-lg-6">
                {% bootstrap_field form.end layout="floating" %}
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary">{% icon "save" %} {% trans "Save" %}</button>
    </form>
{% endblock %}
