{% extends "helfertool/base.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{{ form.instance.agreement.name }}</h1>

    <div class="mt-4">
        {{ form.instance.agreement.text|safe }}
    </div>

    <form action="{% url "account:handle_user_agreement" form.instance.agreement.pk %}" method="post">
        {% csrf_token %}

        <button type="submit" class="btn btn-outline-primary mt-3">{% icon "check" %} {% trans "I got it!" %}</button>
    </form>
{% endblock %}
