{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "User agreements" %}</h1>

    <p><a href="{% url 'account:new_agreement' %}">
        {% icon "plus" %}
        {% trans "New user agreement" %}
    </a></p>

    {% if agreements %}
        <ul class="list-group">
            {% for agreement in agreements %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-8 col-lg-9 col-xl-10">
                        <div class="row">
                            <div class="col-12 col-md-6 py-1 text-break">
                                {{ agreement.name }}
                            </div>
                            <div class="col-12 col-md-6 py-1">
                                {% if agreement.end %}
                                    {{ agreement.start }} - {{ agreement.end }}
                                {% else %}
                                    {% blocktrans trimmed with date=agreement.start %}
                                        From {{ date }}
                                    {% endblocktrans %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-3 col-xl-2 text-nowrap">
                        <a href="{% url "account:edit_agreement" agreement.pk %}">
                            {% icon "pencil-alt" %}
                            {% trans "Edit" %}
                        </a>

                        <br />

                        <a href="{% url "account:delete_agreement" agreement.pk %}">
                            {% icon "trash-alt" %}
                            {% trans "Delete" %}
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">{% trans "There are no user agreements." %}</p>
    {% endif %}
{% endblock %}
