{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 icons %}

{% block admincontent %}
    <h2>{% trans "Permissions" %}</h2>

    <h3>{% trans "Can add events" %}</h3>
    {% if users_addevent.count == 0 %}
        <p class="text-muted">{% trans "There are no users, that can add events." %}</p>
    {% else %}
        <table class="table">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Username" %}</th>
                <th></th>
            </tr>
            {% for u in users_addevent %}
                <tr>
                    <td>{{ u.get_full_name }}</td>
                    <td>{{ u.username }}</td>
                    <td>
                        <a href="{% url 'account:delete_event_permission' u.pk %}">
                        {% icon "trash-alt" %}
                        {% trans "Delete permission" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-6">
                {% bootstrap_form form_addevent show_label=False %}
            </div>

            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary">{% trans "Add" %}</button>
            </div>
        </div>
    </form>


    <h3>{% trans "Can add users" %}</h3>
    {% if users_adduser.count == 0 %}
        <p class="text-muted">{% trans "There are no users, that can add users." %}</p>
    {% else %}
        <table class="table">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Username" %}</th>
                <th></th>
            </tr>
            {% for u in users_adduser %}
                <tr>
                    <td>{{ u.get_full_name }}</td>
                    <td>{{ u.username }}</td>
                    <td>
                        <a href="{% url 'account:delete_user_permission' u.pk %}">
                        {% icon "trash-alt" %}
                        {% trans "Delete permission" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-6">
                {% bootstrap_form form_adduser show_label=False %}
            </div>

            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary">{% trans "Add" %}</button>
            </div>
        </div>
    </form>

    <h3>{% trans "Can send news" %}</h3>
    {% if users_sendnews.count == 0 %}
        <p class="text-muted">{% trans "There are no users, that can send news." %}</p>
    {% else %}
        <table class="table">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Username" %}</th>
                <th></th>
            </tr>
            {% for u in users_sendnews %}
                <tr>
                    <td>{{ u.get_full_name }}</td>
                    <td>{{ u.username }}</td>
                    <td>
                        <a href="{% url 'account:delete_news_permission' u.pk %}">
                        {% icon "trash-alt" %}
                        {% trans "Delete permission" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-6">
                {% bootstrap_form form_sendnews show_label=False %}
            </div>

            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary">{% trans "Add" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
