{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons globalpermissions %}

{% block content %}
    {% if is_own_user %}
        <h1>{% trans "My account" %}</h1>
    {% else %}
        <h1>{{ changed_user.get_full_name|default:changed_user.username}} </h1>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-label="{% trans 'Account data' %}">
                <tr>
                    <th scope="row">{% trans "Login" %}</th>
                    <td>{{ changed_user.username }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ changed_user.get_full_name|default:"-" }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Email address" %}</th>
                    <td>{{ changed_user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Details" %}</th>
                    <td>
                        {% include "account/user_permissions.html" with user=changed_user %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% if user.is_superuser %}
        <p>
            <a href="{% url "account:edit_user" changed_user.pk %}" class="me-3 text-nowrap">
                {% icon "pencil-alt" %} {% trans "Edit" %}
            </a>
            <a href="{% url "account:merge_user" changed_user.pk %}" class="me-3 text-nowrap">
                {% icon "compress" %} {% trans "Merge" %}
            </a>
            <a href="{% url "account:delete_user" changed_user.pk %}" class="me-3 text-nowrap">
                {% icon "trash-alt" %} {% trans "Delete" %}
            </a>
        </p>
    {% endif %}

    <h2>{% trans "Change password" %}</h2>

    {% if pw_form %}
        <div class="row">
            <div class="col-xs-12 col-xl-6">
                <form action="" method="post">
                    {% csrf_token %}

                    {% bootstrap_form pw_form layout="floating" %}

                    <button type="submit" class="btn btn-outline-primary">{% icon "save" %} {% trans "Save" %}</button>
                </form>
            </div>
        </div>
    {% else %}
        <p class="text-muted">{% trans "The password cannot be changed here." %}</p>
    {% endif %}
{% endblock %}
