/* admin interface */

/* table with helpers */
table.table
{
    border-collapse:collapse;
}

table.table th, table.table td
{
    border: 1px solid black;
}

/* progress bar */
div.progress-outside
{
    border:0;
    background-color:red;
    width:200px;
    height:10px;
    margin-bottom:10px;
}

div.progress-inside
{
    background-color:green;
    height:10px;
    width:0;
}

/* icons (like xls or pdf) */
img.icon
{
    width:20px;
    vertical-align: middle;
}

/* sidebar */
div.sidebar
{
    float:left;
    width: 14em;
    margin-right: 1em;
}

div.sidebar h2
{
    margin-top:0;
}

div.content
{
    margin-left:15em;
}
