html
{
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

/* footer */
.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
    text-align:center;
}

.footer .text-muted {
      margin: 10px 0;
}

/* table with shifts */
table.shifts
{
    border-collapse: separate;
    border-spacing: 10px;
    margin-left:-10px;
    margin-right:-10px;
}

table.shifts th
{
    color:white;
    background-color: rgb(124, 77, 129);
    padding:5px;
}

table.shifts td
{
    vertical-align: top;
}

table.shifts span.numbers
{
    font-size:80%;
    color:grey;
}

/* icons (like xls or pdf) */
a.icon
{
    text-decoration:none;
}

img.icon
{
    width:20px;
    vertical-align: middle;
}
