{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Check installation" %}</h1>

    <h2>{% trans "Helfertool" %}</h2>
    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-label="{% trans 'Status of Helfertool' %}">
                <tr class="d-flex">
                    <th class="col-6" scope="row">{% trans "Version" %} </th>
                    <td class="col-6 text-break">
                        {{ version }}
                        {% if container_version %}
                            ({% trans "Container:" %} {{ container_version }})
                        {% endif %}
                    </td>
                </tr>
                <tr class="d-flex">
                    <th class="col-6" scope="row">{% trans "Templates" %} </th>
                    <td class="col-6 text-break">
                        {% if templates_ok %}
                            <em class="fas fa-check"></em>
                        {% else %}
                            <em class="fas fa-times text-danger"></em>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <h2>{% trans "External services" %}</h2>
    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-label="{% trans 'Status of external services' %}">
                <tr class="d-flex">
                    <th class="col-6" scope="row">{% trans "Mail (SMTP)" %} </th>
                    <td class="col-6 text-break">
                        {% if mail_smtp_ok %}
                            <em class="fas fa-check"></em>
                        {% else %}
                            <em class="fas fa-times text-danger"></em>
                        {% endif %}
                    </td>
                </tr>

                <tr class="d-flex">
                    <th class="col-6" scope="row">{% trans "Mail (IMAP)" %} </th>
                    <td class="col-6 text-break">
                        {% if mail_imap_configured %}
                            {% if mail_imap_ok %}
                                <em class="fas fa-check"></em>
                            {% else %}
                                <em class="fas fa-times text-danger"></em>
                            {% endif %}
                        {% else %}
                            <em class="fas fa-minus"></em>
                        {% endif %}
                    </td>
                </tr>

                <tr class="d-flex">
                    <th class="col-6" scope="row">{% trans "RabbitMQ" %} </th>
                    <td class="col-6 text-break">
                        {% if celery_broker_ok %}
                            <em class="fas fa-check"></em>
                        {% else %}
                            <em class="fas fa-times text-danger"></em>
                        {% endif %}
                    </td>
                </tr>

                <tr class="d-flex">
                    <th class="col-6" scope="row">{% trans "LDAP" %} </th>
                    <td class="col-6 text-break">
                        {% if ldap_configured %}
                            {% if ldap_ok %}
                                <em class="fas fa-check"></em>
                            {% else %}
                                <em class="fas fa-times text-danger"></em>
                            {% endif %}
                        {% else %}
                            <em class="fas fa-minus"></em>
                        {% endif %}
                    </td>
                </tr>

                <tr class="d-flex">
                    <th class="col-6" scope="row">{% trans "Search for similar names" %} </th>
                    <td class="col-6 text-break">
                        {% if similarity_search %}
                            <em class="fas fa-check"></em>
                        {% else %}
                            <em class="fas fa-minus"></em>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <h2>{% trans "Header" %}</h2>
    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <table class="table" aria-label="{% trans 'Status of HTTP headers' %}">
                <tr class="d-flex">
                    <th class="col-6" scope="row">Host</th>
                    <td class="col-6 text-break">
                        {% if header_host %}
                            {{ header_host }}
                        {% else %}
                            <em class="fas fa-times text-danger"></em>
                        {% endif %}
                    </td>
                </tr>

                <tr class="d-flex">
                    <th class="col-6" scope="row">X-Forwarded-For</th>
                    <td class="col-6 text-break">
                        {% if header_x_forwarded_for %}
                            {{ header_x_forwarded_for }}
                        {% else %}
                            <em class="fas fa-times text-danger"></em>
                        {% endif %}
                    </td>
                </tr>

                <tr class="d-flex">
                    <th class="col-6" scope="row">X-Forwarded-Proto</th>
                    <td class="col-6 text-break">
                        {% if header_x_forwarded_proto %}
                            {{ header_x_forwarded_proto }}
                        {% else %}
                            <em class="fas fa-times text-danger"></em>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
