{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Check installation" %}</h2>

    <h3>{% trans "Helfertool" %}</h3>

    <table class="table">
        <tr class="d-flex">
            <th class="col-3">{% trans "Version" %} </th>
            <td class="col-9">
                {{ version }}
                {% if container_version %}
                    ({% trans "Container:" %} {{ container_version }})
                {% endif %}
            </td>
        </tr>
        <tr class="d-flex">
            <th class="col-3">{% trans "Templates" %} </th>
            <td class="col-9">
                {% if templates_ok %}
                    <i class="fas fa-check"></i>
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </td>
        </tr>
    </table>

    <h3>{% trans "External services" %}</h3>


    <table class="table">
        <tr class="d-flex">
            <th class="col-3">{% trans "Mail" %} </th>
            <td class="col-9">
                {% if mail_ok %}
                    <i class="fas fa-check"></i>
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </td>
        </tr>

        <tr class="d-flex">
            <th class="col-3">{% trans "RabbitMQ" %} </th>
            <td class="col-9">
                {% if celery_broker_ok %}
                    <i class="fas fa-check"></i>
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </td>
        </tr>

        <tr class="d-flex">
            <th class="col-3">{% trans "LDAP" %} </th>
            <td class="col-9">
                {% if ldap_configured %}
                    {% if ldap_ok %}
                        <i class="fas fa-check"></i>
                    {% else %}
                        <i class="fas fa-times text-danger"></i>
                    {% endif %}
                {% else %}
                    <i class="fas fa-minus"></i>
                {% endif %}
            </td>
        </tr>
    </table>

    <h3>{% trans "Header" %}</h3>

    <table class="table">
        <tr class="d-flex">
            <th class="col-3">Host</th>
            <td class="col-9">
                {% if header_host %}
                    {{ header_host }}
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </td>
        </tr>

        <tr class="d-flex">
            <th class="col-3">X-Real-IP</th>
            <td class="col-9">
                {% if header_x_real_ip %}
                    {{ header_x_real_ip }}
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </td>
        </tr>

        <tr class="d-flex">
            <th class="col-3">X-Forwarded-For</th>
            <td class="col-9">
                {% if header_x_forwarded_for %}
                    {{ header_x_forwarded_for }}
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </td>
        </tr>

        <tr class="d-flex">
            <th class="col-3">X-Forwarded-Proto</th>
            <td class="col-9">
                {% if header_x_forwarded_proto %}
                    {{ header_x_forwarded_proto }}
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
