{% extends "helfertool/admin.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "Template: Privacy statements" %}</h2>

    <form action="{% url 'toolsettings:template_privacy' %}" method="post">
        {% csrf_token %}

        <h3>{% trans "Event (HTML)" %}</h3>
        {% bootstrap_form form_privacy %}

        <h3>{% trans "Event (Plaintext for mail)" %}</h3>
        {% bootstrap_form form_privacy_text %}

        {% if form_news %}
            <h3>{% trans "Newsletter (together with event registration)" %}</h3>
            {% bootstrap_form form_news %}
        {% endif %}

        {% if form_news_subscribe %}
            <h3>{% trans "Newsletter (subscription without event registration)" %}</h3>
            {% bootstrap_form form_news_subscribe %}
        {% endif %}

        <input type="submit" value="{% trans "Save" %}" class="btn btn-outline-primary" />
    </form>
{% endblock %}
