django==3.2.*
django_compressor
django_ical
django_select2
django-auth-ldap
django-axes
django-bleach
django-bootstrap5
django-ckeditor
django-countries
django-icons
django-libsass
django-modeltranslation
django-multiselectfield
csscompressor
jmespath
mozilla-django-oidc
pillow
python-dateutil
python-magic
pyyaml
reportlab
xlsxwriter
celery<5.0.0
vine<5.0.0  # added due to celery
amqp<5.0.0  # pinned due to celery
