Django>=1.11,<2.0
django-modeltranslation
django-bootstrap3
django-multiselectfield
django-bleach
django-ckeditor
django-axes
django_ical
django-auth-ldap
celery
amqp
XlsxWriter
Pillow
reportlab
python-magic>=0.4.12
