{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "COVID-19 contact tracing" %}</h1>

    {% if num_missing %}
        <div class="alert alert-danger" role="alert">
            {% icon "exclamation-circle" %}
            {% blocktrans trimmed %}
                Contact tracing data missing for {{ num_missing }} helpers!
            {% endblocktrans %}

            <br/>

            <a href="{% url 'corona:missing' event.url_name %}" class="btn btn-sm btn-outline-danger mt-3">
                {% icon "angle-double-right" %}
                {% trans "Show" %}
            </a>
        </div>
    {% else %}
        <div class="alert alert-success" role="alert">
            {% icon "check-circle" %}
            {% blocktrans trimmed %}
                Contact tracing data is available for all helpers.
            {% endblocktrans %}
        </div>
    {% endif %}
{% endblock %}
