{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% blocktrans with name=helper.full_name %}Contact tracing for {{ name }}{% endblocktrans %}</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        {% include "corona/partials/dataform.html" with form=form %}

        <button type="submit" class="btn btn-outline-primary mt-3">{% icon "save" %} {% trans "Save" %}</button>
    </form>
{% endblock %}
