{% load i18n django_bootstrap5 icons %}

<div class="alert alert-primary">
    <h4 class="alert-heading">{% trans "COVID-19 measures" %} {% icon "head-side-mask" %}</h4>

    {% if event.corona_settings.rules == "2G" %}
        <p>
            {% blocktrans trimmed %}
                At this event the <strong>2G</strong> regulation is applied.
                This means that you must be either vaccinated or recovered to have access.
                The proof will be checked at the entrance and access without it is not possible.
            {% endblocktrans %}
        </p>

        <p><strong>{% trans "A negative test is not sufficient!" %}</strong></p>
    {% elif event.corona_settings.rules == "3G" %}
        <p>
            {% blocktrans trimmed %}
                At this event the <strong>3G</strong> regulation is applied.
                This means that you must be either vaccinated, recovered or provide a negative official test to have access.
                The proof will be checked at the entrance and access without it is not possible.
            {% endblocktrans %}
        </p>
    {% elif event.corona_settings.rules == "3Gplus" %}
        <p>
            {% blocktrans trimmed %}
                At this event the <strong>3G plus</strong> regulation is applied.
                This means that you must be either vaccinated, recovered or provide a negative PCR test to have access.
                The proof will be checked at the entrance and access without it is not possible.
            {% endblocktrans %}
        </p>

        <p>{% trans "A negative antigen rapid test is not sufficient!" %}</p>
    {% endif %}

    <p>{% trans "We are required to collect address and contact information for contact tracking purposes." %}</p>

    {% include "corona/partials/dataform.html" with form=form %}
</div>
