{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% blocktrans with name=helper.full_name %}Contact tracing for {{ name }}{% endblocktrans %}</h1>

    {% if data %}
        <div class="row">
            <div class="col-xs-12 col-xl-6">
                <table class="table" aria-label="{% trans "Personal data of helper" %}">
                    <tr>
                        <th scope="row" class="w-50">{% trans "Name" %}: </th>
                        <td class="w-50 text-break">{{ helper.firstname }} {{ helper.surname }}</td>
                    </tr>

                    <tr>
                        <th scope="row">{% trans "E-Mail" %}: </th>
                        <td class="text-break">{{ helper.email }}</td>
                    </tr>

                    {% if helper.event.ask_phone %}
                        <tr>
                            <th scope="row">{% trans "Mobile phone" %}: </th>
                            <td class="text-break">{{ helper.phone }}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th scope="row">
                            {% trans "Address" %}:<br/>
                            <a href="{% url "corona:edit_helper" event.url_name helper.pk %}" class="text-nowrap fw-normal">
                                {% icon "pencil-alt" %} {% trans "Edit" %}
                            </a>
                        </th>
                        <td class="text-break">
                            {{ data.street }}<br/>
                            {{ data.zip }} {{ data.city }}<br/>
                            {{ data.country.name }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% else %}
        <p>
            <a href="{% url "corona:edit_helper" event.url_name helper.pk %}" class="text-nowrap">
                {% icon "plus" %} {% trans "Add data" %}
            </a>
        </p>

        <div class="alert alert-danger" role="alert">
            {% trans "COVID-19 contact tracing was not enabled while the helper registered." %}
        </div>
    {% endif %}

    <a href="{% url 'view_helper' event.url_name helper.pk %}" class="btn btn-outline-primary">
        {% icon "arrow-left" %}
        {% trans "Back" %}
    </a>
{% endblock %}
