{% extends "registration/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load duration %}

{% block admincontent %}
    <h2>{% trans "Statistics" %}</h2>

    <table class="table">
        <tr>
            <th>{% trans "Number of shift slots" %}</th>
            <td>{{ num_shift_slots | default:"-" }}</td>
        </tr>
        <tr>
            <th>{% trans "Total number of hours (also free slots)" %}</th>
            <td>
                {% if hours_total %}
                    {{ hours_total | duration_hours }} {% trans "hours" %}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="col-sm-4">{% trans "Helpers and coordinators" %}</th>
            <td class="col-sm-8">{{ num_helpers }}</td>
        </tr>
        <tr>
            <th>{% trans "Coordinators" %}</th>
            <td>{{ num_coordinators }}</td>
        </tr>
        {% if event.ask_vegetarian %}
            <tr>
                <th>{% trans "Vegetarians" %}</th>
                <td>{{ num_vegetarians }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>{% trans "Number of empty shift slots" %}</th>
            <td>{{ num_empty_shift_slots | default:"-" }}</td>
        </tr>
    </table>

    <h3>{% trans "Chronological development of registrations" %}</h3>

    {% if timeline %}
        <canvas id="chart" width="400" height="200"></canvas>

        <script>
            var ctx = $("#chart");

            var chart_data = {
                datasets: [{
                    label: "{% trans "Number of helpers" %}",
                    data: [
                        {% for day,number in timeline.items %}
                            {
                                x: "{{ day }}",
                                y: {{ number }},
                            },
                        {% endfor %}
                    ],
                    lineTension: 0.2,
                }]
            };

            var chart = new Chart(ctx, {
                type: 'line',
                data: chart_data,
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                        }],
                    },
                },
            });
        </script>
    {% else %}
        <p class="text-muted">{% trans "No helpers are registered." %}</p>
    {% endif %}
{% endblock %}
