{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 static duration %}

{% block admincontent %}
    <h2 id="statistics-header">{% trans "Statistics" %}</h2>

    <table class="table" aria-describedby="statistics-header">
        <tr>
            <th scope="row">{% trans "Number of shift slots" %}</th>
            <td>{{ num_shift_slots | default:"-" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Total number of hours (also free slots)" %}</th>
            <td>
                {% if hours_total %}
                    {{ hours_total | duration_hours }} {% trans "hours" %}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="col-sm-4" scope="row">{% trans "Helpers and coordinators" %}</th>
            <td class="col-sm-8">{{ num_helpers }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Coordinators" %}</th>
            <td>{{ num_coordinators }}</td>
        </tr>
        {% if event.badges %}
        <tr>
            <th scope="row">{% trans "Special badges" %}</th>
            <td>{{ num_specialbadges }}</td>
        </tr>
        {% endif %}
        {% if event.ask_vegetarian %}
            <tr>
                <th scope="row">{% trans "Vegetarians" %}</th>
                <td>{{ num_vegetarians }}</td>
            </tr>
        {% endif %}
        <tr>
            <th scope="row">{% trans "Number of empty shift slots" %}</th>
            <td>{{ num_empty_shift_slots | default:"-" }}</td>
        </tr>
    </table>

    <h3>{% trans "Chronological development of registrations" %}</h3>

    <canvas class="chart" width="400" height="200" data-url="{% url 'statistic:chart_timeline' event.url_name %}" data-empty="overview_empty"></canvas>
    <p id="overview_empty" class="text-muted d-none">{% trans "No helpers are registered." %}</p>

    <script src="{% static "helfertool/js/chart.js" %}"></script>
{% endblock %}
