{% extends "helfertool/admin.html" %}
{% load i18n bootstrap4 %}

{% block admincontent %}
    <h2>{% trans "T-Shirts" %}</h2>

    {% if total_shirts %}
        <h3>{% trans "Total" %}</h3>

        <table class="table">
            <tr>
                <th class="width-10em"></th>
                {% for size in size_names %}
                    <th>{{ size }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>{% trans "Helpers and coordinators" %}</td>
                {% for size, num in total_shirts.items %}
                    <td>{{ num }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{% trans "Coordinators" %}</td>
                {% for size, num in coordinator_shirts.items %}
                    <td>{{ num }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}

    {% if job_shirts %}
        <h3>{% trans "Helpers (without coordinators)" %}</h3>

        <div class="alert alert-info">
            <strong>{% trans "Info:" %}</strong>
            {% trans "The T-shirt of a helper is counted for the first shift." %}
        </div>

        {% for job,data in job_shirts.items %}
            <h4>{{ job.name }}</h4>

            <table class="table">
                <tr>
                    <th class="width-10em">{% trans "Shift" %}</th>
                    {% for size in size_names %}
                        <th>{{ size }}</th>
                    {% endfor %}
                </tr>

                {% for shift,sizes_for_shift in data.shifts.items %}
                    <tr>
                        <td>{{ shift.time }}{% if shift.name %}, {{ shift.name }}{%endif %}</td>
                        {% for size,num in sizes_for_shift.items %}
                            <td>{{ num }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}

                <tr>
                    <th>{% trans "Total" %}</th>
                    {% for size,num in data.total.items %}
                        <th>{{ num }}</th>
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
