{% load i18n globalpermissions inventory toolsettings %}

{% djangosetting "FEATURES_NEWSLETTER" as features_newsletter %}
{% djangosetting "FEATURES_INVENTORY" as features_inventory %}
<nav id="sidemenu">
    <div class="sidemenu-header">{% trans "Settings" %}</div>

    <ul class="nav flex-column">
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "General" %}</p>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url "account:view_user" %}" class="nav-link">{% trans "My account" %}</a>
                </li>

                {% if user.is_superuser or user|has_addevent_group %}
                <li class="nav-item">
                    <a href="{% url 'new_event' %}" class="nav-link">{% trans "New event" %}</a>
                </li>
                {% endif %}

                {% if user.is_superuser %}
                <li class="nav-item">
                    <a href="{% url 'past_events' %}" class="nav-link">{% trans "Past events" %}</a>
                </li>
                {% endif %}

                {% if features_inventory %}
                {% if user.is_superuser or user|is_inventory_admin_any %}
                    <li class="nav-item">
                        <a href="{% url 'inventory:inventory_list' %}" class="nav-link">{% trans "Inventory" %}</a>
                    </li>
                {% endif %}
                {% endif %}

                <li class="nav-item">
                    <a href="{% url "help:create_issue" %}" class="nav-link">{% trans "Support" %}</a>
                </li>
            </ul>
        </li>

        {% if user.is_superuser or user|has_adduser_group %}
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "Users" %}</p>
            <ul class="nav flex-column">
                {% if user.is_superuser or user|has_adduser_group %}
                <li class="nav-item">
                    <a href="{% url 'account:add_user' %}" class="nav-link">{% trans "Add user" %}</a>
                </li>
                {% endif %}

                {% if user.is_superuser %}
                <li class="nav-item">
                    <a href="{% url 'account:list_users' %}" class="nav-link">{% trans "All users" %}</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'account:list_agreements' %}" class="nav-link">{% trans "User agreements" %}</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}

        {% if features_newsletter %}
        {% if user.is_superuser or user|has_sendnews_group %}
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "Newsletter" %}</p>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url 'news:send' %}" class="nav-link">{% trans "Send news" %}</a>
                </li>

                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'news:remove' %}" class="nav-link">{% trans "Remove recipient" %}</a>
                    </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% endif %}

        {% if user.is_superuser %}
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "Settings" %}</p>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url "toolsettings:templates" %}" class="nav-link">{% trans "Templates" %}</a>
                </li>
        
                <li class="nav-item">
                    <a href="{% url "toolsettings:check" %}" class="nav-link">{% trans "Check installation" %}</a>
                </li>
        
                {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'admin:index' %}" class="nav-link">{% trans "Django Admin Interface" %}</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>
