{% extends "helfertool/base.html" %}
{% load static django_bootstrap5 compress i18n %}

{% block adminheader %}
    {% compress css file admin %}
        <link href="{% static "helfertool/vendor/select2/css/select2.min.css" %}" rel="stylesheet" />
    {% endcompress %}

    {% compress js file admin %}
        <script src="{% static "helfertool/vendor/select2/js/select2.min.js" %}"></script>
        <script src="{% static "django_select2/django_select2.js" %}"></script>

        <script src="{% static "helfertool/vendor/chart.js/chart.min.js" %}"></script>
        <script src="{% static "helfertool/vendor/momentjs/moment.min.js" %}"></script>
        <script src="{% static "helfertool/vendor/chartjs-adapter-moment/chartjs-adapter-moment.min.js" %}"></script>

        <script>window.CKEDITOR_BASEPATH = '{% static "ckeditor/ckeditor/" %}';</script>
        <script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    {% endcompress %}

    {% get_current_language as LANGUAGE_CODE %}
    <script src="{% static "helfertool/vendor/select2/js/i18n/" %}{{ LANGUAGE_CODE }}.js"></script>
{% endblock %}

{% block sidemenubutton %}
    <li class="nav-item">
        <a class="nav-link" href="#" id="toggle_sidemenu">
            <em class="fas fa-bars"></em>
        </a>
    </li>
{% endblock %}

{% block contentcontainer %}
    {% if event %}
        {% include "helfertool/admin_event_menu.html" %}
    {% else %}
        {% include "helfertool/admin_general_menu.html" %}
    {% endif %}

    <div id="content" class="container-fluid">
        {% if messages %}
            {% bootstrap_messages messages %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
