{% load i18n icons permissions toolsettings %}

{% has_access event "ACCESS_INVOLVED" as involved %}
{% if involved %}
    {% djangosetting "DATABASE_LOGGING" as database_logging %}

    {% has_access event "ACCESS_EVENT_EDIT" as user_event_edit %}
    {% has_access event "ACCESS_EVENT_EDIT_JOBS" as user_event_edit_jobs %}
    {% has_access event "ACCESS_EVENT_EDIT_LINKS" as user_event_edit_links %}
    {% has_access event "ACCESS_EVENT_EDIT_DUPLICATES" as user_event_edit_duplicates %}
    {% has_access_event_or_job event "ACCESS_EVENT_VIEW_COORDINATORS" "ACCESS_EVENT_VIEW_COORDINATORS" as user_event_view_coordinators %}
    {% has_access event "ACCESS_EVENT_VIEW_AUDITLOGS" as user_event_view_auditlogs %}
    {% has_access_event_or_job event "ACCESS_MAILS_SEND" "ACCESS_JOB_SEND_MAILS" as user_mails_send %}
    {% has_access_event_or_job event "ACCESS_MAILS_VIEW" "ACCESS_JOB_VIEW_MAILS" as user_mails_view %}
    {% has_access event "ACCESS_GIFTS_EDIT" as user_gifts_edit %}
    {% has_access event "ACCESS_GIFTS_VIEW_SUMMARY" as user_gifts_view_summary %}
    {% has_access event "ACCESS_BADGES_EDIT" as user_badges_edit %}
    {% has_access event "ACCESS_BADGES_EDIT_SPECIAL" as user_badges_edit_special %}
    {% has_access event "ACCESS_BADGES_GENERATE" as user_badges_generate %}
    {% has_access event "ACCESS_PREREQUISITES_VIEW" as user_prerequisites_view %}
    {% has_access event "ACCESS_INVENTORY_EDIT" as user_inventory_edit %}
    {% has_access event "ACCESS_INVENTORY_HANDLE" as user_inventory_handle %}
    {% has_access event "ACCESS_STATISTICS_VIEW" as user_statistics_view %}
    {% has_access_event_or_job event "ACCESS_STATISTICS_VIEW" "ACCESS_JOB_VIEW_STATISTICS" as user_statistics_specific %}

<nav id="sidemenu">
    <div class="sidemenu-header">{{ event.name }}</div>

    {% if event and event.archived %}
        <div class="sidemenu-section mb-3">
            <span class="badge bg-secondary">{% icon "archive" %} {% trans "archived" %}</span>
        </div>
    {% endif %}

    <ul class="nav flex-column">
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "General" %}</p>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url 'form' event.url_name %}" class="nav-link" target="_blank" rel="noopener">
                        {% icon "external-link-alt" %}
                        {% trans "Go to registration" %}
                    </a>
                </li>

                {% if user_event_edit %}
                <li class="nav-item">
                    <a href="{% url 'edit_event' event.url_name %}" class="nav-link">{% trans "Edit event" %}</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'edit_event_admins' event.url_name %}" class="nav-link">{% trans "Permissions" %}</a>
                </li>
                {% endif %}

                {% if user_event_edit_jobs %}
                <li class="nav-item">
                    <a href="{% url 'jobs_and_shifts' event.url_name %}" class="nav-link">{% trans "Jobs and shifts" %}</a>
                </li>
                {% endif %}

                {% if user_event_edit_links %}
                <li class="nav-item">
                    <a href="{% url 'links' event.url_name %}" class="nav-link">{% trans "Links" %}</a>
                </li>
                {% endif %}

                {% if database_logging and user_event_view_auditlogs %}
                <li class="nav-item">
                    <a href="{% url 'toollog:event_audit_log' event.url_name %}" class="nav-link">{% trans "Audit log" %}</a>
                </li>
                {% endif %}
            </ul>
        </li>

        <li class="nav-item">
            <p class="sidemenu-section">{% trans "Helpers" %}</p>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url 'helpers' event.url_name %}" class="nav-link">{% trans "Helpers and coordinators" %}</a>

                    {# list of all (for user visible) jobs #}
                    {% if not event.archived %}
                    {% if request.resolver_match.url_name == "helpers" or request.resolver_match.url_name == "helpers_for_job" %}
                        <ul class="nav flex-column">
                        {% for job in event.job_set.all %}
                            {% has_access job "ACCESS_JOB_VIEW_HELPERS" as job_visible %}
                            {% if job_visible %}
                                <li class="nav-item">
                                    <a href="{% url 'helpers_for_job' event.url_name job.pk %}" class="nav-link">{{ job.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endif %}
                </li>

                {% if not event.archived %}
                    <li class="nav-item">
                        <a href="{% url 'search_helper' event.url_name %}" class="nav-link">{% trans "Search helper" %}</a>
                    </li>

                    {% if user_event_edit_duplicates %}
                    <li class="nav-item">
                        <a href="{% url 'duplicates' event.url_name %}" class="nav-link">{% trans "Duplicates" %}</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="{% url 'vacant_shifts' event.url_name %}" class="nav-link">{% trans "Vacant shifts" %}</a>
                    </li>

                    {% if user_event_view_coordinators %}
                    <li class="nav-item">
                        <a href="{% url 'coordinators' event.url_name %}" class="nav-link">{% trans "All coordinators" %}</a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </li>

        {% if user_mails_send or user_mails_view %}
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "Mail" %}</p>
            <ul class="nav flex-column">
                {% if user_mails_send and not event.archived %}
                <li class="nav-item">
                    <a href="{% url 'mail:send' event.url_name %}" class="nav-link">{% trans "Send" %}</a>
                </li>
                {% endif %}

                {% if user_mails_view %}
                <li class="nav-item">
                    <a href="{% url 'mail:list' event.url_name %}" class="nav-link">{% trans "All mails" %}</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}

        {% if not event.archived and user_statistics_view or event.ask_shirt and user_statistics_specific %}
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "Statistics" %}</p>
            <ul class="nav flex-column">
                {% if not event.archived and user_statistics_view %}
                <li class="nav-item">
                    <a href="{% url 'statistic:overview' event.url_name %}" class="nav-link">{% trans "Overview" %}</a>
                </li>
                {% endif %}

                {% if event.ask_shirt and user_statistics_specific %}
                <li class="nav-item">
                    <a href="{% url 'statistic:shirts' event.url_name %}" class="nav-link">{% trans "T-Shirts" %}</a>
                </li>
                {% endif %}

                {% if not event.archived and event.ask_nutrition and user_statistics_specific %}
                <li class="nav-item">
                    <a href="{% url 'statistic:nutrition' event.url_name %}" class="nav-link">{% trans "Nutrition" %}</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}

        {% if event.gifts %}
        {% if user_gifts_edit or user_gifts_view_summary %}
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "Gifts and presence" %}</p>
            <ul class="nav flex-column">
                {% if user_gifts_edit %}
                <li class="nav-item">
                    <a href="{% url 'gifts:list' event.url_name %}" class="nav-link">{% trans "Settings" %}</a>
                </li>
                {% endif %}

                {% if user_gifts_view_summary and not event.archived %}
                    <li class="nav-item">
                        <a href="{% url 'gifts:list_deposit' event.url_name %}" class="nav-link">{% trans "Collected deposit" %}</a>
                    </li>

                    {% if event.ask_shirt %}
                        <li class="nav-item">
                            <a href="{% url 'gifts:list_shirts' event.url_name %}" class="nav-link">{% trans "Missing T-shirts" %}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% endif %}

        {% if event.badges %}
        {% if user_badges_edit or user_badges_generate %}
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "Badges" %}</p>
            <ul class="nav flex-column">
                {% if user_badges_edit %}
                <li class="nav-item">
                    <a href="{% url 'badges:settings' event.url_name %}" class="nav-link">{% trans "Settings" %}</a>
                </li>
                {% endif %}

                {% if user_badges_edit_special %}
                <li class="nav-item">
                    <a href="{% url 'badges:list_specialbadges' event.url_name %}" class="nav-link">{% trans "Special badges" %}</a>
                </li>
                {% endif %}

                {% if user_badges_generate and not event.archived %}
                    <li class="nav-item">
                        <a href="{% url 'badges:index' event.url_name %}" class="nav-link">{% trans "Generate" %}</a>
                    </li>

                    {% if event.badge_settings.barcodes %}
                    <li class="nav-item">
                        <a href="{% url 'badges:register' event.url_name %}" class="nav-link">{% trans "Registration" context "Badges" %}</a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% endif %}

        {% if event.prerequisites and user_prerequisites_view %}
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "Prerequisites" %}</p>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url 'prerequisites:view_prerequisites' event.url_name %}" class="nav-link">{% trans "Settings and lists" %}</a>
                </li>
            </ul>
        </li>
        {% endif %}

        {% if event.inventory and not event.archived %}
        {% if user_inventory_edit or user_inventory_handle %}
        <li class="nav-item">
            <p class="sidemenu-section">{% trans "Inventory" %}</p>
            <ul class="nav flex-column">
                {% if user_inventory_edit %}
                <li class="nav-item">
                    <a href="{% url 'inventory:event_settings' event.url_name %}" class="nav-link">{% trans "Settings" %}</a>
                </li>
                {% endif %}

                {% if user_inventory_handle %}
                <li class="nav-item">
                    <a href="{% url 'inventory:register' event.url_name %}" class="nav-link">{% trans "Register" context "Register item and badge" %}</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'inventory:take_back' event.url_name %}" class="nav-link">{% trans "Take back" %}</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'inventory:list' event.url_name %}" class="nav-link">{% trans "List" %}</a>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% endif %}
    </ul>
</nav>
{% endif %}
