{% load static compress i18n django_bootstrap5 setting globalpermissions inventory %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% compress css file main %}
            <link href="{% static  "helfertool/theme/helfertool.scss" %}" media="all" rel="stylesheet" type="text/x-scss">
            <!--<link href="{% static "helfertool/css/style.css" %}" media="all" rel="stylesheet">-->
        {% endcompress %}

        {% compress js file main %}
            <script src="{% static "helfertool/vendor/jquery/jquery.min.js" %}"></script>
            <script src="{% static "helfertool/vendor/fontawesome/js/all.min.js" %}"></script>
            <script src="{% static "helfertool/theme/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
            <script src="{% static "helfertool/theme/helfertool.js" %}"></script>
        {% endcompress %}

        {% block adminheader %}{% endblock %}
        {% block socialheader %}{% endblock %}

        <title>{% block title %}{% trans "Helfertool" %}{% endblock %}</title>

        <link rel="shortcut icon" type="image/x-icon" href="{% static "helfertool/img/logo/icon.png" %}">
    </head>

    <body>
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "index" %}">
                    <img src="{% static "helfertool/img/logo/logo.svg" %}" height="20" alt="">
                </a>

                {# left menu #}
                <ul class="navbar-nav me-auto">
                    {% block sidemenubutton %}{% endblock %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url "index" %}">
                            <i class="fas fa-home"></i> <span class="d-none d-md-inline-block">{% trans "Events" %}</span>
                        </a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "admin" %}">
                            <i class="fas fa-wrench"></i> <span class="d-none d-md-inline-block">{% trans "Administration" context "Admin interface" %}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav ms-auto">
                    {# switch language #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i class="fas fa-globe-europe"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end bg-white">
                            {# form for language change as we need POSTs #}
                            <form action="{% url 'set_language' %}" method="post" role="form" class="form-inline">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}" />

                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}

                                {% for language in languages %}
                                    <li class="dropdown-item bg-white">
                                        <button name="language" value="{{ language.code }}" type="submit" class="btn btn-link shadow-none">{{ language.name_local }}</button>
                                    </li>
                                {% endfor %}
                            </form>
                        </ul>
                    </li>

                    {# login/logout #}
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url "logout" %}">
                                <i class="fas fa-sign-out-alt"></i> <span class="d-none d-md-inline-block">{% trans "Logout" %}</span>
                            </a>
                        {% else %}
                            <a class="nav-link" href="{% url "login" %}">
                                <i class="fas fa-sign-in-alt"></i> <span class="d-none d-md-inline-block">{% trans "Login" %}</span>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        {% setting "ANNOUNCEMENT_TEXT" as announcement %}
        {% if announcement %}
            <div class="container-fluid announcement">
                {{ announcement }}
            </div>
        {% endif %}

        <div class="wrapper">
            {% block contentcontainer %}
                <div id="content" class="container">
                    {% if messages %}
                        {% bootstrap_messages messages %}
                    {% endif %}
                    
                    {% block content %}{% endblock %}
                </div>
            {% endblock %}
        </div>

        <footer class="container-fluid footer">
            <p class="text-muted">
                <a href="{% setting "PRIVACY_URL" %}" target="_blank">{% trans "Privacy" %}</a>
                |
                <a href="{% setting "IMPRINT_URL" %}" target="_blank">{% trans "Imprint" %}</a>
                |
                <a href="{% url "about" %}">{% trans "About this software" %}</a>
            </p>
        </footer>
    </body>
</html>
