{% extends "helfertool/base.html" %}
{% load i18n django_bootstrap5 icons toolsettings %}

{% block content %}
    <h1>{% trans "Login" %}</h1>

    {% htmlsetting "login" %}

    {% djangosetting "OIDC_CUSTOM_PROVIDER_NAME" as OIDC_CUSTOM_PROVIDER_NAME %}
    {% if OIDC_CUSTOM_PROVIDER_NAME %}
        <a href="{% url 'oidc_authentication_init' %}" class="btn btn-outline-primary">
            {% blocktrans with name=OIDC_CUSTOM_PROVIDER_NAME trimmed %}
                Login with {{ name }}
            {% endblocktrans %}
        </a>

        <h2 class="pt-md-3">{% trans "Local account" %}</h2>
    {% endif %}

    <form action="{% url "login" %}" method="post" accept-charset="utf-8" role="form">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-12">
                {% bootstrap_form_errors form %}
            </div>
            <div class="col-xs-12 col-lg-6">
                {% bootstrap_field form.username required_css_class="" layout="floating" %}
                {% bootstrap_field form.password required_css_class=""  layout="floating" %}
            </div>
        </div>

        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-outline-primary">{% icon "sign-in-alt" %} {% trans "Login" %}</button>
    </form>
{% endblock %}
