# This workflow runs flake8 and pylint through the check-codestyle.py script for every pull request

name: Check code style

on:
  pull_request:
    branches: [ "**" ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies via apt
      run: |
        sudo apt-get update
        sudo apt-get install libldap2-dev libsasl2-dev libmariadb-dev-compat

    - name: Install dependencies via pip
      run: |
        python -m pip install --upgrade pip
        pip install -r src/requirements.txt -r src/requirements_dev.txt

    - name: Run codestyle checker
      run: python ./scripts/check-codestyle.py
