{% extends "helfertool/base.html" %}
{% load i18n bootstrap3 setting staticfiles %}

{% block content %}
    <h1>{% trans "About this software" %}</h1>

    {% with a_license='href="https://www.gnu.org/licenses/agpl-3.0" target="_blank"' %}
        <h2>{% trans "License" %}</h2>
        <p>
            {% blocktrans trimmed %}
                This software was published under the <a {{ a_license }}>AGPLv3+</a>.
            {% endblocktrans %}
        </p>

        <p>
            {% trans "The source code can be found here:" %}
            <a href="{% setting "CODE_URL" %}" target="_blank">{% setting "CODE_URL" %}</a>
        </p>

        <h2>{% trans "Contact" %}</h2>

        <p>
            {% trans "If you want to use this website for your event please contact: " %}
            <a href="mailto:{% setting "CONTACT_MAIL" %}">{% setting "CONTACT_MAIL" %}</a>
        </p>

        {# logos #}
        <div class="row logos-about">
            {# AGPL #}
            <div class="col-sm-4">
                <a {{ a_license }} style="text-decoration:none;">
                    <img src="{% static "helfertool/img/agplv3.svg" %}"
                         alt="Licensed under AGPLv3."
                         title="Licensed under AGPLv3."
                         height="60px" />
                </a>
            </div>

            {# Django #}
            <div class="col-sm-4">
                <a href="http://www.djangoproject.com/" target="_blank">
                    <img src="{% static "helfertool/img/django.gif" %}"
                         alt="Powered by Django."
                         title="Powered by Django." />
                </a>
            </div>

            {# Python #}
            <div class="col-sm-4">
                <a href="http://www.python.org/" target="_blank">
                    <img src="{% static "helfertool/img/python.svg" %}"
                         alt="Powered by Python."
                         title="Powered by Python."
                         height="60px" />
                </a>
            </div>
        </div>
    {% endwith %}
{% endblock %}
