{% extends "base.html" %}

{% block content %}
    <h1>Helfer für {{ event.name }}</h1>

    <ul>
        <li><a href="{% url 'details' event.url_name %}">Übersicht</a></li>
        {% for j in event.job_set.all %}
            <li><a href="{% url 'job' event.url_name j.pk %}">{{ j.name }}</a></li>
        {% endfor %}
    </ul>

    {# show one job #}
    {% if job %}
        <h2>{{ job.name }}</h2>

        <p><a href="{% url 'exceljob' event.url_name job.pk %}">Für Excel exportieren</a></p>

        {# iterate over days #}
        {% for day, shifts in job.shifts_by_day.items %}
            <h3>{{ day }}</h3>
            {# iterate over shifts on this day #}
            {% for shift in shifts %}
                <h4>{{ shift.time_hours }}
                    ({{ shift.num_helpers }} von {{ shift.number}})</h4>
                <table class="helpers">
                    <tr>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>E-Mail</th>
                        <th>Handy</th>
                        {% if event.ask_shirt %}
                        <th>T-Shirt</th>
                        {% endif %}
                        {% if event.ask_vegetarian %}
                        <th>Vegetarier</th>
                        {% endif %}
                        <th>Kommentar</th>
                        <th>Anmeldezeit</th>
                    </tr>
                {% for helper in shift.helper_set.all|dictsort:"timestamp" %}
                    <tr>
                        <td>{{ helper.prename }}</td>
                        <td>{{ helper.surname }}</td>
                        <td>{{ helper.email }}</td>
                        <td>{{ helper.phone }}</td>
                        {% if event.ask_shirt %}
                        <td>{{ helper.get_shirt_display }}</td>
                        {% endif %}
                        {% if event.ask_vegetarian %}
                        <td>{{ helper.vegetarian | yesno }}</td>
                        {% endif %}
                        <td>{{ helper.comment }}</td>
                        <td>{{ helper.timestamp }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endfor %}
        {% endfor %}
    {# show one job #}
    {% else %}
        <h2>Übersicht</h2>

        <p><a href="{% url 'excel' event.url_name %}">Alles für Excel exportieren</a></p>

        {% for job in event.job_set.all %}
            <h3>{{ job.name }}</h3>

            {% for day, shifts in job.shifts_by_day.items %}
                <h4>{{ day }}</h4>

                <table class="shifts">
                    <tr>
                        {% for shift in shifts %}
                            <th>{{ shift.time_hours }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for shift in shifts %}
                            {% if shift.helpers_percent < 70 %}
                                <td style="background-color:red;">
                            {% elif shift.helpers_percent < 100 %}
                                <td style="background-color:yellow;">
                            {% else %}
                                <td style="background-color:green;">
                            {% endif %}

                            {{ shift.helpers_percent }}
                            {{ shift.num_helpers }}/{{ shift.number}}

                            </td>
                        {% endfor %}
                    </tr>
                </table>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}
