{% extends "base.html" %}

{% load lookup_shift %}

{% block content %}
    <h1>{{ event }}</h1>

    {{ event.text | safe }}

    <form action="{% url 'form' event.url_name %}" method="post">
        {% csrf_token %}

        {# personal data, nothing special... #}
        <table class="inputform">
            <tr>
                <th>Vorname</th>
                <td>{{ form.prename }}{{ form.prename.errors }}</td>
            <tr>

            <tr>
                <th>Nachname</th>
                <td>{{ form.surname }}{{ form.surname.errors }}</td>
            <tr>

            <tr>
                <th>E-Mail</th>
                <td>{{ form.email }}{{ form.email.errors }}</td>
            <tr>

            <tr>
                <th>Handy</th>
                <td>{{ form.phone }}{{ form.phone.errors }}</td>
            <tr>

            <tr>
                <th>T-Shirt</th>
                <td>{{ form.shirt }}{{ form.shirt.errors }}</td>
            <tr>

            <tr>
                <th>Kommentar</th>
                <td>{{ form.comment }}{{ form.comment.errors }}</td>
            <tr>
        </table>


        <h2>Schichten</h2>
        {# list of all jobs and shifts #}

        {% for job in event.job_set.all %}
            <h3>{{ job.name }}</h3>
            <p>{{ job.description }}</p>

            {% regroup  job.shift_set.all|dictsort:"begin" by begin|date:"d.m.Y" as shifts_by_day %}
            <table class="shifts">
                <tr>
                    {% for day in shifts_by_day %}
                        <th>{{ day.grouper }}</th>
                    {% endfor %}
                <tr/>
                <tr>
                    {% for day in shifts_by_day %}
                        <td>
                        {% for shift in day.list|dictsort:"begin" %}
                            {{ form | lookup_shift:shift.pk }}
                            {% if shift.is_full %}
                                <del>{{ shift.time_hours }}</del><br />
                            {% else %}
                                {{ shift.time_hours }}<br />
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}

        {{ form.non_field_errors }}

        <input type="submit" value="Verbindlich anmelden" />
    </form>

    {{ event.imprint | safe }}
{% endblock %}
