{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% load lookup_shift %}

{% block title %}{% blocktrans %}Register for {{ event }} as helper{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{{ event }}</h1>

    {{ event.text | safe }}

    <form action="{% url 'form' event.url_name %}" method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        <h2>{% trans "Jobs" %}</h2>
        {# list of all jobs and shifts #}

        {% for job in event.public_jobs %}
            <div class="job-header">
                <div class="pull-left">
                    <h3>{{ job.name }}</h3>
                </div>

                {% if job.description %}
                    <div class="pull-right">
                        <button type="button"
                                class="btn btn-info heading-button"
                                data-toggle="collapse"
                                data-target="#job-{{ job.pk }}">
                            {% trans "Details" %}
                        </button>
                    </div>
                {% endif %}
                <div class="clearfix"></div>
            </div>

            <div id="job-{{ job.pk }}" class="collapse">
                <p>{{ job.description | safe }}</p>
            </div>

            <table class="shifts">
                <tr>
                    {% for day, shifts in job.shifts_by_day.items %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for day, shifts in job.shifts_by_day.items %}
                        <td>
                        {% for shift in shifts %}
                            {# checkbox #}
                            <label>
                                {{ form | lookup_shift:shift.pk }}

                                {# time #}
                                {% if shift.is_full or shift.blocked %}
                                    <del>{{ shift.time_hours }}</del>
                                {% else %}
                                    {{ shift.time_hours }}
                                {% endif %}
                            </label>

                            {# number of helpers #}
                            {% if event.show_public_numbers %}
                            <span class="numbers">
                                ({{ shift.num_helpers }}/{{ shift.number }})
                            </span>
                            {% endif %}

                            <br />
                        {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}

        <h2>{% trans "Personal data" %}</h2>

        {# personal data, nothing special... #}
        <div class="row">
            <div class="col-xs-12 col-lg-5">
                {% bootstrap_field form.prename %}
                {% bootstrap_field form.surname %}
                {% bootstrap_field form.email %}
                {% bootstrap_field form.phone %}
                {% if event.ask_shirt %}
                    {% bootstrap_field form.shirt %}
                {% endif %}
                {% bootstrap_field form.infection_instruction %}
                {% if event.ask_vegetarian %}
                    {% bootstrap_field form.vegetarian %}
                {% endif %}
                {% bootstrap_field form.comment %}
            </div>
        </div>

        <input type="submit" value="{% trans "Register" %}" class="btn btn-default" />

        <script>
            function handle_infection_instruction()
            {
                var show_field = 0;

                // iterate over all relevant checkboxes
                $(".infection_instruction").each(function() {
                    if($(this).prop('checked'))
                    {
                        show_field = 1;
                        return false;
                    }
                })

                // show or hide input field
                if(show_field)
                    $("#id_infection_instruction").parent().show()
                else
                    $("#id_infection_instruction").parent().hide()
            }

            handle_infection_instruction();
        </script>
    </form>

    {{ event.imprint | safe }}
{% endblock %}
