{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Events" %}</h1>
    {% if active_events %}
        <ul>
            {% for event in active_events %}
                <li>
                    <a href="{% url 'form' event.url_name %}">{{ event }}</a>

                    {% if event.involved %}
                        (<a href="{% url 'manage_event' event.url_name %}">{% trans "Manage" %}</a>)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "At the moment there is no event you can register for." %}</p>
    {% endif %}

    {% if involved_events %}
        <h2>{% trans "Inactive" %}</h2>
        <ul>
            {% for event in involved_events %}
                <li>
                    <a href="{% url 'form' event.url_name %}">{{ event }}</a>

                    {% if event.involved %}
                        (<a href="{% url 'manage_event' event.url_name %}">{% trans "Manage" %}</a>)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
