{% extends "base.html" %}

{% block content %}
    <h1>Veranstaltungen</h1>
    {% if active_events %}
        <ul>
            {% for event in active_events %}
                <li>
                    <a href="{% url 'form' event.url_name %}">{{ event }}</a>

                    {% if event.is_admin %}
                        (<a href="{% url 'admin' event.url_name %}">Verwaltung</a>)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Zur Zeit gibt es keine Veranstaltungen mit aktiver Anmeldung.</p>
    {% endif %}

    {% if administered_events %}
        <h2>Inaktiv</h2>
        <ul>
            {% for event in administered_events %}
                <li>
                    <a href="{% url 'form' event.url_name %}">{{ event }}</a>

                    {% if event.is_admin %}
                        (<a href="{% url 'admin' event.url_name %}">Verwaltung</a>)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
