{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans trimmed %}
        Register for {{ event }} as helper
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <h1>{{ event }}</h1>

    {{ event.registered | safe }}

    {% if data.has_to_validate %}
        <div class="alert alert-info" role="alert">
            {% trans "You have to confirm your mail address by clicking on a link we just sent to you." %}
        </div>
    {% endif %}

    <p>{% trans "You registered with the following information:" %}</p>

    {% include "registration/helper_data.html" with helper=data %}

    {% if data.is_coordinator %}
        <h2>{% trans "Jobs" %}</h2>
        <ul class="list-group">
        {% for job in data.coordinated_jobs %}
            <li class="list-group-item">{{ job }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if data.shifts.exists %}
        <h2>{% trans "Shifts" %}</h2>
        <ul class="list-group">
        {% for shift in data.shifts.all %}
            <li class="list-group-item">{{ shift }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2>{% trans "Data privacy" %}</h2>
    {% if data.privacy_statement %}
        <p>{% trans "You agreed with the following data privacy statement." %}</p>
    {% else %}
        <p>{% trans "The following data privacy statement was sent to you and you did not disagree until now." %}</p>
    {% endif %}

    <div class="well">
        {% include "registration/privacy/statement.html" %}
    </div>

    {% if news %}
        <p>{% trans "You agreed that we will inform you about future events per email." %}</p>

        <div class="well">
            {% include "registration/privacy/news.html" %}
        </div>
    {% endif %}

    {{ event.imprint | safe }}
{% endblock %}
