{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans trimmed %}
        Register for {{ event }} as helper
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <h1>{{ event }}</h1>

    {{ event.registered | safe }}

    <p>{% trans "You registered with the following information:" %}</p>

    <table class="table-condensed">
        <tr>
            <td>{% trans "Name" %}: </td>
            <td>{{ data.firstname }} {{ data.surname }}</td>
        </tr>
        <tr>
            <td>{% trans "E-Mail" %}: </td>
            <td>{{ data.email }}</td>
        </tr>
        <tr>
            <td>{% trans "Mobile phone" %}: </td>
            <td>{{ data.phone }}</td>
        </tr>
        {% if event.ask_shirt %}
        <tr>
            <td>{% trans "T-shirt" %}: </td>
            <td>{{ data.get_shirt_display }}</td>
        </tr>
        {% endif %}
        {% if data.infection_instruction %}
        <tr>
            <td>{% trans "Instruction for the handling of food" %}: </td>
            <td>{{ data.get_infection_instruction_display }}</td>
        </tr>
        {% endif %}
        {% if event.ask_vegetarian %}
        <tr>
            <td>{% trans "Vegetarian" %}: </td>
            <td>{{ data.vegetarian | yesno }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>{% trans "Comment" %}: </td>
            <td>{{ data.comment | default:"-" }}</td>
        </tr>
    </table>

    {% if data.has_to_validate %}
        <div class="alert alert-info" role="alert">
            {% trans "You have to confirm your mail address by clicking on a link we just sent to you." %}
        </div>
    {% endif %}

    <h2>{% trans "Shifts" %}</h2>
    <ul class="list-group">
    {% for shift in data.shifts.all %}
        <li class="list-group-item">{{ shift }}</li>
    {% endfor %}
    </ul>

    {{ event.imprint | safe }}
{% endblock %}
